{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>My SLOTS</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering, playground" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/playground.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body {
      background-color: #01272e;
    }
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    {% if user.is_authenticated %}
    <div id="nav-buttons">
      <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
      <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
      <a href="{% url 'playground_booking' %}"><i class="fa fa-plus"></i></a>
      <a href="{% url 'check_availability' %}">Check Availability</a>
    </div>
    {%endif%}
  </div>
  </nav>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>


<div id="my-slots">
  <h4>MY <b style="color: tomato;">PLAYGROUND</b> SLOTS</h4>

  <div id="slot-details">
    <table>
      <th>NO</th><th>DATE</th><th>PLAYGROUND</th><th>STATUS</th>
    {%for data in slots %}
    <tr>
      <td>{{data.no}}</td>
      <td>{{data.date_of_required}}</td>
      <td>{{data.name}}</td>
      {% if data.status == 'confirmed'%}
      <td><span style="position:relative; top: 6px;">{{data.status}}</span>
        <form action="{%url 'cancel_slot'%}" method="GET">
          <button type="submit" name="cancel_booking" value="{{data.booking_id}}">cancel</button>
        </form>
      {%else%}
      <td>{{data.status}}</td>
      {%endif%}
    </tr>
    {%endfor%}
  </table>
    
  </div>
  <br>
</div>


</body>

</html>


{% endblock %}