{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR-ADMIN (playground) </title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords"
    content="KPR, KPR college, kprient, kpriet, kpr engineering, playground, playground bookigs, playground slots" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/appointment_admin.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar">
    <a class="navbar-brand" href="{% url 'services' %}">
      <img src="{% static 'resources/logo.png' %}" alt="KPR logo">
    </a>
    <span>KPR - Playground Admin</span>
    <a href="{% url 'services' %}">
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
    </a>
    <a href="{% url 'playground_booking' %}">
      <h3>New Booking</h3>
    </a>
    {% if not playground_list %}
    <a href="{% url 'playground_list' %}">
      <h3>Playgrounds</h3>
    </a>
    {%else%}
    <a href="{% url 'playground_admin' %}">
      <h3><i class="fa fa-lock"></i> Admin</h3>
    </a>
    {%endif%}
    <a href="{% url 'logout' %}">
      <h3 id="logout">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-power-off"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
    </a>
  </nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>

  <nav class="navbar navbar1">
    {%if total %}
    <input class="btn btn-primary" type="button" value="Total Bookings: {{ total }}" style="cursor: not-allowed;">
    {%else%}
    <input class="btn btn-primary" type="button" value="Total Bookings: 0" style="cursor: not-allowed;">
    {%endif%}
    {% if requested_date %}
    <form method="GET">
      <input type="submit" name="all" value="&nbsp;&nbsp;All&nbsp;&nbsp;" class="btn btn-primary">
    </form>
    {%endif%}
    <form method="GET">
      <input type="date" name='requested_date' value="{{requested_date}}" class="btn btn-primary" required>
      <input type="submit" class="btn btn-primary">
    </form>
  </nav>

  {%if booking_details %}
  <table class="tftable" border="1">
    <h4 style="text-align: center;">BOOKINGS</h4>
    <tr>
      <th>S.No &nbsp;&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;&nbsp;Booking ID</th>
      <th>Ground Name</th>
      <th>Status</th>
      <th>Booking at</th>
      <th>Required at <i style="color: red;" class="fa fa-arrow-down"></i></th>
      <th>Start Time | End Time</th>
      <th>Admin Actions</th>
    </tr>
    {% for booking_detail in booking_details %}
    <tr style="text-align: center;">
      <td>{{booking_detail.no}}&nbsp;&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;&nbsp;{{booking_detail.booking_id}}</td>
      <td>{{booking_detail.playground_name}}</td>
      <td>{{booking_detail.status}}</td>
      <td>{{booking_detail.date_of_booking}}</td>
      <td>{{booking_detail.date_of_required}}</td>
      <td>{{booking_detail.start_time}} <b> | </b>{{booking_detail.end_time}}</td>
      <td>
        <form method="POST">
          {% csrf_token %}
          <input type="button" name="details" value="&nbsp;Details" data-toggle="modal"
            data-target="#detail{{booking_detail.booking_id}}"></input>
          {%if booking_detail.status == 'confirmed' %}
          <input type="number" name="cancel_id" value="{{booking_detail.booking_id}}" style="display: none;"></input>
          <input type="submit" name="delete" value="Cancel"></input>
          {%endif%}
        </form>
      </td>

      <div class="modal fade" id="detail{{booking_detail.booking_id}}">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">ID{{booking_detail.playground_id}} {{booking_detail.playground_name}}</h4><br>
              <h6><strong>Playground Type &nbsp;&nbsp;&nbsp;&nbsp;</strong>{{booking_detail.playground_type}}</h6><br>
              <h6><strong>Audience Capacity &nbsp;&nbsp;&nbsp;&nbsp;</strong>{{booking_detail.audience_capacity}}</h6>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <h6><strong>Booking ID &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.booking_id}}</h6>
              <h6><strong>Booking Date &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.date_of_booking}}</h6>
              <h6><strong>Required Date &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.date_of_required}}</h6>
              <h6><strong>Status &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.status}}</h6>
              <h6><strong>Start Time &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.start_time}}</h6>
              <h6><strong>End time &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.end_time}}</h6>
              <hr>
              <h6><strong>Login ID &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.login_id}}</h6>
              <h6><strong>Full Name &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.first_name}}
                {{booking_detail.last_name}}</h6>
              <h6><strong>Gender &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.gender}}</h6>
              <h6><strong>College Email&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.college_email}}</h6>
              <h6><strong>Phone Number&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.phone}}</h6>
              <h6><strong>Department&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.department}}</h6>
              <h6><strong>Designation&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.designation}}</h6>
              {% if booking_detail.designation == 'Student' %}
              <h6><strong>Year&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.year}}</h6>
              <h6><strong>Section&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{booking_detail.section}}</h6>
              {%endif%}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </tr>
    {%endfor%}
    {% elif not playground_list %}
    <h4 style="text-align: center;">BOOKINGS</h4>
    <table class="tftable" border="1">
      <tr>
        <th>NO BOOKINGS ON {{date}} </th>
      </tr>
    </table>
    {%endif%}
  </table>
  <br>
  {% if playground_list %}
  <h4 style="text-align: center;">PLAYGROUND LIST</h4>
  <table class="tftable" border="1">
    <tr>
      <th>Playground ID</th>
      <th>Is Available to Book..?</th>
      <th>Playground Name</th>
      <th>Playground Type</th>
      <th>Audience Capacity</th>
    </tr>
    {% for playground in playground_list %}
    <tr style="text-align: center;">
      <td>{{playground.id}}</td>
      <form method="POST" class="needs-validation" novalidate>
        <td>{{playground.is_visible_on_site}}
          {% csrf_token %}
          <input type="number" class="form-control" value="{{playground.id}}" id="a" name="visibility_ground_id"
            style="display: none;" required>
          <button type="submit" class="btn btn-success" style="padding: 0;">Change</button><br>
      </form>
      </td>
      <td>{{playground.name}}</td>
      <td>{{playground.ground_type}}</td>
      <td>{{playground.audience_capacity}}</td>
    </tr>
    {%endfor%}
    {%endif%}
  </table>

  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</body>

</html>