{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR-ADMIN (playground) </title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords"
    content="KPR, KPR college, kprient, kpriet, kpr engineering, playground, playground bookigs, playground slots" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/appointment_admin.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar">
    <a class="navbar-brand" href="{% url 'services' %}">
      <img src="{% static 'resources/logo.png' %}" alt="KPR logo">
    </a>
    <span>KPR - Playgrounds List</span>
    <a href="{% url 'services' %}">
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
    </a>
    <a href="{% url 'playground_booking' %}">
      <h3>New Booking</h3>
    </a>
    <a data-toggle="modal" href="#" data-target="#add_ground"><h3>Add Ground</h3></a>
    <a href="{% url 'playground_admin' %}"><h3></i>Bookings</h3></a>
    <a href="{% url 'logout' %}">
      <h3 id="logout">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-power-off"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
    </a>
  </nav>


  <div class="modal fade" id="add_ground">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New PLAYGROUND</h4><br>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form method="POST" class="needs-validation" novalidate>
            <div class="modal-body">
              {% csrf_token %}
              <label for="a">Playground Name<b id="star">&nbsp;*</b></label>
              <input type="text" class="form-control" id="a" name="new_playground_name" required>
              <label for="b">Playground Type<b id="star">&nbsp;*</b></label>
              <input type="text" class="form-control" id="b" name="ground_type">
              <label for="c">Audience Capacity<b id="star">&nbsp;*</b></label>
              <input type="number" class="form-control" id="c" name="audience_capacity">
            </div>
            <button type="submit" class="btn btn-success" style="width: 90%; margin-left: 5%;">ADD GROUND</button><br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>
<br>
  {% if playground_list %}
  <h4 style="text-align: center;">PLAYGROUND LIST</h4>
  <table class="tftable" border="1">
  <tr><th>Playground ID</th><th>Is Available to Book..?</th><th>Playground Name</th><th>Playground Type</th><th>Audience Capacity</th><th>Action</th></tr>
  {% for playground in playground_list %}
  <tr style="text-align: center;">
      <td>{{playground.id}}</td>
      <form method="POST" class="needs-validation" novalidate>
        <td>{{playground.is_visible_on_site}} 
            {% csrf_token %}
            <input type="number" class="form-control" value="{{playground.id}}" id="a" name="visibility_ground_id" style="display: none;" required>
          <button type="submit" class="btn btn-warning" style="padding: 0;">Change</button><br>
        </form>
    </td>
      <td>{{playground.name}}</td>
      <td>{{playground.ground_type}}</td>
      <td>{{playground.audience_capacity}}</td>
      <td>
        <form method="POST" class="needs-validation" novalidate>
          {%csrf_token%}
          <button type="button" class="btn btn-primary" style="padding: 0;" data-toggle="modal" data-target="#update_ground{{playground.id}}">Update</button>
          <button type="submit" class="btn btn-danger" style="padding: 0;" name="delete_plaground_id" value="{{playground.id}}">Delete</button>
      </form>
      </td>
  </tr>

  <div class="modal fade" id="update_ground{{playground.id}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">UPDATE PLAYGROUND</h4><br>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form method="POST" class="needs-validation" novalidate>
            <div class="modal-body">
              {% csrf_token %}
              <input type="text" class="form-control" id="a" name="update_ground_id" value="{{playground.id}}" style="display: none;">
              <label for="a">Playground Name<b id="star">&nbsp;*</b></label>
              <input type="text" class="form-control" id="a" name="name" value="{{playground.name}}" required>

              <label for="b">Playground Type<b id="star">&nbsp;*</b></label>
              <input type="text" class="form-control" id="b" name="ground_type" value="{{playground.ground_type}}">

              <label for="c">Audience Capacity<b id="star">&nbsp;*</b></label>
              <input type="number" class="form-control" id="c" name="audience_capacity" value="{{playground.audience_capacity}}">
            </div>
            <button type="submit" class="btn btn-success" style="width: 90%; margin-left: 5%;">UPDATE GROUND</button><br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {%endfor%}
  {%endif%}
  </table>

  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</body>

</html>