{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR Playground</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering, playground" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/playground.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    {% if user.is_authenticated %}
    <div id="nav-buttons">
      <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
      <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
      <a href="{% url 'my_slots' %}">My Slots</a>
      <a href="{% url 'check_availability' %}">Check Availability</a>
      {% if user.role == "playground_admin" or user.role == "super_admin" %}
      <a href="{% url 'playground_admin' %}"><i class="fa fa-lock"></i> Admin</a>
      {% endif %}
    </div>
    {%endif%}
  </div>
  </nav>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>
  <div id="playground-background">
    d
  </div>
  <div id="playground-container">
    <br>
    <h2>PLAYGROUND BOOKING</h2>
    <p>From this application, you can book <strong>PLAYGROUND</strong> for your favorite games</p>
    <form class="needs-validation" id="playground-booking-form" method="POST" novalidate>
      {%csrf_token%}

      <label for="ground">Ground<b id="star">&nbsp;*</b></label>
      <select class="form-control" name="ground_id" id="ground" placeholder="Select Ground" required>
        <option value="">Select Ground</option>
        {%for playground in playgrounds %}
        <option name="ground_id" value="{{playground.id}}">{{playground.name}}</option>
        {%endfor%}
      </select>


      <label for="date">Date<b id="star">&nbsp;*</b></label>
      <input value="{{form.date}}" type="date" class="form-control" id="date" placeholder="Enter date" name="date_of_required" required>
      <br>
      <label for="start_time">Start Time<b id="star">&nbsp;*</b></label>
      <input value="{{form.start_time}}" type="time" min="07:00" max="19:59" title="Select time between 07:00 AM to 07.59 PM" required
        class="form-control" id="start_time" placeholder="Enter start_time" name="start_time" required>

      <label for="end_time">End Time<b id="star">&nbsp;*</b></label>
      <input value="{{form.end_time}}" type="time" min="07:01" max="20:00" title="Select time between 07:01 AM to 08:00 PM" required
        class="form-control" id="end_time" placeholder="Enter password" name="end_time" required>
      <div class="invalid-feedback" style="text-align: center;">Select time between 07:00 AM to 08:00 PM</div>
      <button type="submit" class="btn btn-primary">BOOK SLOT</button>
    </form>
  </div>

  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

</body>

</html>


{% endblock %}