{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR Playground</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering, playground" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/playground.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    body {
      background-color: #01272e;
    }

    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    {% if user.is_authenticated %}
    <div id="nav-buttons">
      <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
      <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
      <a href="{% url 'playground_booking' %}"><i class="fa fa-plus"></i></a>
      <a href="{% url 'my_slots' %}">My Slots</a>
    </div>
    {%endif%}
  </div>
  </nav>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>
  <div id="availability">
    <h4>NOW, YOU CAN CHECK THE <b style="color: tomato;">PLAYGROUND</b> AVAILABILITY</h4>
    <form method="POST" class="needs-validation" novalidate>
      {% csrf_token %}
      <label for="ground">Ground<b id="star">&nbsp;*</b></label>
      <select class="form-control" name="ground_id" id="ground" placeholder="Select Ground" required>
        <option value="">Select Ground</option>
        {%for playground in playgrounds %}
        <option name="ground_id" value="{{playground.id}}">{{playground.name}}</option>
        {%endfor%}
      </select>
      <label for="date">Select Date<b id="star">&nbsp;*</b></label>
      <input type="date" class="form-control" id="date" placeholder="Enter date" value="{{date}}" name="date" required>
      <button type="submit" class="btn btn-primary">Check Availability</button>
    </form>
    <script>
      (function () {
        'use strict';
        window.addEventListener('load', function () {
          var forms = document.getElementsByClassName('needs-validation');
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <div id="availability-details">
      {%if full_day %}
      <h5>FULL DAY IS <b style="color: tomato;">AVAILABLE</b></h5>
      {%elif availability%}
      <h5><b style="color: tomato;">{{ground_name}}</b> - Bookings ({{date}})</h5>
      <h6 id="total">Total Events: {{total}}</h6>
      <h6 id="note">[ Except the following slots, Remaining slots are <b style="color: tomato;">Available </b>]</h6>
      <div id="details">
        <table>
          <tr>
            <th>NO</th>
            <th>START</th>
            <th>END</th>
          </tr>
          {%for data in availability %}
          <tr>
            <td>{{data.no}}</td>
            <td>{{data.start_time}}</td>
            <td>{{data.end_time}}</td>
          </tr>
          {%endfor%}
        </table>
      {%endif%}
    </div>
    <br>
  </div>

</body>

</html>


{% endblock %}