
*{
    font-family: 'Lato', 'Oxygen', sans-serif;
}
nav{
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button{
      -webkit-appearance: none;
      margin: 0;
  }
.navbar{
    position: fixed;
}
#nav-buttons{
    width: 100%;
}
#nav-buttons a{
    float: right;
    padding: 5px 20px;
    margin-left: 20px;
    border-left: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    background-color: white;
    color: #0be77d;
    transition: .5s;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(155, 155, 155);
}
#nav-buttons a:hover{
    box-shadow: 0 0 10px 2px rgb(5, 183, 253);
    border-left: 3px solid rgb(5, 65, 88);
    border-right: 3px solid rgb(5, 65, 88);
    color: rgb(68, 68, 68); 
}
#nav-buttons #logout{
    border-left: 3px solid red;
    border-right: 3px solid red;
    color: red;
}
#nav-buttons #logout:hover{
    box-shadow: 0 0 10px 2px red;
    border-left: 3px solid rgb(110, 0, 0);
    border-right: 3px solid rgb(110, 0, 0);
    color: rgb(110, 0, 0);
}
.navbar img{
    width: 60px;
}

.navbar h3{
    font-size: 1rem;
    display: inline;
    position: relative;
    left:0px;
    border-left:  2px solid rgba(0, 0, 0, 0.473);
    border-right:  2px solid rgba(0, 0, 0, 0.473);
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    padding: 4px 5px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.473);; 
}

.navbar h3{
    color: #0be77d;
}
.navbar #logout{
    color: rgb(255, 6, 6);
}

.navbar1{
    background-color: rgb(23, 27, 27);
    z-index: 0;
}
.navbar1 input{
    background-color: rgb(220, 228, 228);
    color: rgb(23, 27, 27);
    font-weight: bold;
    transition: .5s;
}

.navbar1 input:hover{
    background-color: rgb(23, 27, 27);
    color: rgb(220, 228, 228);
    font-weight: bold;
}

table{
    width: 90%;
    margin-left: 5%; 
    margin-right:auto;
    border:1px solid red;
    border-collapse: collapse;
}
table td{
    width: 300px;
    padding-left: 45px;
}
table td[id='name']{
    position: relative;
}

td input{
    border: none;
    margin-left: 0px;
    height: 25px;
    border-radius: 5px;
    transition: .5s;
}


td input[name='details']{
    background-color: rgb(64, 64, 255);
}
td input[name='confirm']{
    background-color: rgb(32, 196, 32);
}
td input[name='delete']{
    background-color: rgb(250, 61, 61);
}

td input[name='details']:hover{
    border: 1px solid blue;
}
td input[name='confirm']:hover{
    border: 1px solid rgb(32, 196, 32);
}
td input[name='delete']:hover{
    border: 1px solid rgb(250, 61, 61);
}

td input:hover{
    background-color: rgb(252, 252, 252);
}

#divide{
    background-color: #2eabb4;
    height: 265px;
    width: 300px;
    display: block;
    float: left;
    margin: 5px;
    margin-top: 50px;
    margin-left: 30px;
    position: relative;
    top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #5a6566;
    transition: 0.5s;
}
#divide:hover{
    box-shadow:inset 0 0 10px 0 rgb(0, 0, 0);
    border: 1px solid white
}
#divide>h6{
    text-align: center;
    color: black;
    width: 100%;
    height: 0;
    padding-top: 10px;
}
.modal h6{
    text-align: left;
}
#divide .container{
    position: relative;
    top: 30px;
}

#divide button[type='submit']{
    position: relative;
    left: 35%;
    border-radius: 5px;
    width: 80px;
}

#user_detail{
    background-color: rgb(1, 226, 69);
    margin: 50px 0 0 85px;

}

#admin-top-buttons{
    background-color: red;
    width:70%;
    margin: 0 0 0 23%;
}
#admin-top-buttons img{
    width: 50%;
}
#admin-top-buttons button{
    background-color: skyblue;
    float: left;
    margin-top: 10px;
    margin-left: -2px;
    height: 38px;
    border: none;
    width: 80px;
    transition: .5s;
}
#admin-top-buttons button:hover{
    box-shadow: 0 0 20px 2px skyblue;
    transform: scale(1.2);
}

#admin-top-buttons input[type="text"], #admin-top-buttons select{
    background-color: rgb(255, 255, 255);
    width: 25%;
    margin: 10px 0 0 20px;
    float: left;
    border: 2px solid rgb(1, 183, 255);
}

.tftable {
    font-size: 12px;
    color: #333333;
    width: 100%;
    margin-left: 0%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
}

.tftable th {
    font-size: 12px;
    background-color: #acc8cc;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    text-align: center;
}

.tftable tr {
    background-color: #d4e3e5;
}

.tftable td {
    font-size: 12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
}

.tftable tr:hover {
    background-color: #ffffff;
}

#id {
    width: 20px;
}
td button{
    background-color: rgb(0, 101, 141);
    border: none;
    border-radius: 5px;
    height: 25px;
    color: white;
    outline: none;
}
@media only screen and (max-width: 321px){
    .navbar1 input{
        position: relative;
        left: 5%;
        font-weight: normal;
    }
    .navbar1 input[type="button"]{
        display: none;
    }
    #x{
        float: right;
        position: relative;
        left: -20px;
    }
}
@media only screen and (min-width: 321px) and (max-width: 376px){
    .navbar1 input[type="button"]{
        display: none;
    }
    .navbar1 input{
        position: relative;
        left: 20%;
        font-weight: normal;
    }
    #x{
        float: right;
        position: relative;
        left: -30px;
    }
}
@media only screen and (min-width: 376px) and (max-width: 426px){
    .navbar1 input[type="button"]{
        display: none;
    }
    .navbar1 input{
        position: relative;
        left: 28%;
        font-weight: normal;
    }
    #x{
        float: right;
        position: relative;
        left: -30px;
    }
}
@media only screen and (min-width: 427px) and (max-width: 768px){
    .navbar1 input[type="button"]{
        position: relative;
        left: 0px;
    }
    .navbar1 input{
        position: relative;
        font-weight: normal;
    }
    #x{
        float: right;
        position: relative;
        left: -120px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1025px){
    .navbar1 input[type="button"]{
        position: relative;
        left: 0px;
    }
    .navbar1 input{
        position: relative;
        font-weight: normal;
    }
    #x{
        float: right;
        position: relative;
        left: -50px;
    }
}
@media only screen and (min-width: 1026px) and (max-width: 1441px){
    .navbar1 input[type="button"]{
        position: relative;
        left: 0px;
    }
    .navbar1 input{
        position: relative;
        font-weight: normal;
    }
    #x{
        float: right;
        position: relative;
        left: -50px;
    }
}
@media only screen and (min-width: 1442px){
    .navbar1 input[type="button"]{
        position: relative;
        left: 0px;
    }
    .navbar1 input{
        position: relative;
        font-weight: normal;
    }
    #x{
        float: right;
        position: relative;
        left: -50px;
    }
}
