@media only screen and (max-width: 321px){
    #my-item{
        height: auto;
        width: 320px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 0;
        top: 30px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0px rgb(5, 183, 253);
    }
    #item-details table{
        width: 55%;
        font-size: .6rem;
    }
    #item-details button{
        color: white;
        font-weight: normal;
        border: 1px solid green;
        border-radius: 5px;
        transition: .5s;
        padding: 0 10px;
        margin: 0;
        font-size: .7rem;
    }
    #my-item h4{
        margin-top: -10px;
        font-size: 1.2rem;
    }

    #my-cart{
        height: auto;
        width: 320px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 0;
        top: 40px;
        border-radius: 20px;
        box-shadow:  0 0 20px 0px rgb(5, 183, 253);
        color: rgb(198, 198, 199);
        padding-top: 30px;
        text-align: center;
    }
    #cart-details table{
        margin-top: 20px;
    }
    #cart-details table{
        width: 95%;
        margin-left: 2.5%;
    }
    #my-cart h4{
        font-size: 1.2rem;
    }
    
      #cart-details button{
        color: skyblue;
        font-weight: bold;
        border: 2px solid skyblue;
        border-radius: 20px;
        transition: .5s;
        padding-top: 0px;
        padding-top: -6px;
        height: 30px;
    }
    #cart-details #cancel{
        background-color: red;
        border: none;
        border-radius: 5px;
        font-size: .5rem;
        height: 17px;
        width: 50px;
    }
    #my-cart #balance{
        position: absolute;
        color: rgb(198, 198, 199);
        top: 0px;
        left: 28%;
        font-size: .8rem;
    }
    #grand-total{
        font-size: .9rem;
    }











    .view{
        height: 80px;
    }
      .h3-responsive{
        position: relative;
        top: 40px;
        font-size: 0.7rem;
      }
      .carousel-caption p{
          font-size: 0.6rem;
          position: relative;
          top: 50px;
      }
      #navbar .navbar-toggler{
        margin-left: 43%; 
        color: white; 
        transition: ease-in-out; 
        outline: none;
        font-size: 1.5rem;
      }
      #navbar input[type="submit"]{
        background-color: transparent;
        color: lightgreen;
        position: absolute;
        margin-top: 0px;
        margin-left: 2px;
        border: 1px solid lightgreen;
        border-radius: 5px;
        height: 30px;
        width: 70px;
        border-radius: 20px;
        outline: none;
        font-weight: bold;
        font-size: .8rem;
        transition: 0.5s;
        outline: none;
    }
    #navbar input[name='all']{
        margin-left: 76px;
    }
    #navbar a{
        display: flex;
        float: left;
        position: relative;
        top: -70px;
        left: 168px;
        margin-left: 5px;
        margin-top: 2px;
        border: 1px solid tomato;
        width: 70px;
        height: 30px;
        border-radius: 20px;
        padding-top: 7px;
        font-weight: bold;
        color: tomato;
        transition: 0.5s;
    }
    #navbar select{
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        position: relative;
        left: 20px;
        height: 30px;
        width: 150px;
        top: 40px;
        margin-bottom: 40px;
        border-radius: 20px;
        border: 1px solid tomato;
        outline: none;
        cursor: pointer;
        transition: .5s;
        padding-left: 10px;
        font-size: 0.8rem;
    }
    
  #navbar input[name='filter']{
    background-color: tomato;
    position: relative;
    left: 30px;
    width: 100px;
    top: 40px;
    height: 30px;
    border-radius: 20px;
    border-color: tomato;
    color: rgb(32, 30, 30);
    font-weight: bold;
}
#navbar h6{
    position: relative;
    display: inline;
    left: -55px;
    font-size: 0.8rem;
    z-index: 0;
}
#navbar .navbar-toggler{
    margin-left: 42%; 
    color: white; 
    transition: ease-in-out; 
    outline: none;
    font-size: 1.5rem;
  }
  #type-head{
    position: relative; 
    display: block; 
    background-color: rgb(17, 216, 252);
    padding: 5px 0;
    text-align: center;
    border-radius: 20px;
    width: 98%;
    margin-left: -20px;
    box-shadow: inset 0 0 20px 5px rgb(0, 43, 58);
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
}

#food-item .card{
    background-color: rgba(0, 0, 0, 0.5);
    width: 120px;
    height: 190px;
    margin: 10px;
    left: -25px;
    box-shadow: 0 0 10px 0px rgba(144, 238, 144, 0.575);
    border-radius: 5px;
    transition: .2s;
    float: left;
}
.card-img-top{
    object-fit: cover;
      width: 50%;
      height: 60px;
}
.card-body #veg, .card-body #non-veg, .card-body #egg{
    padding: 1px 2px;
    position: relative;
    left: 95%;
    top: -70px;
    font-size: 0.8rem;
    background-color: white;
}
.card-body h5{
    width: 125.3%;
    height: 60px;
    position: relative;
    left: -20px;
    top: -40px;
    font-size: 1.1rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: normal;
  }
  .card-body #cost{
    position: relative;
    top: -80px;
    margin-left: 0;
    left: -10px;
    margin-bottom: 0px;
    font-size: .55rem;
}
.card-body input, .card-body span{
    position: relative;
    top: -75px;
    left: -10px;
    text-align: center;
    font-size: .6rem;
    font-weight: bold;
}
.card-body input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 40px;
    top: -97px;
    border-radius: 5px;
    outline: none;
    width: 30px;
    height: 20px;
    font-size: .6rem;
    font-weight: normal;
}
.card-body button{
    background-color: transparent;
    color: lightgreen;
    border-color: lightgreen;
    width: 60px;
    height: 16px;
    margin-left: 17%;
    margin-top: -185px;
    padding: 0 0 15px 0;
    font-size: 0.7rem;
}
.card-body .invalid-feedback{
    position: absolute;
    top: 128px;
    left: 70px;
    width: 60px;
    font-size: .5rem;
    z-index: 1;
}
}
@media only screen and (min-width: 321px) and (max-width: 376px){
    #my-item{
        height: auto;
        width: 370px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 0;
        top: 30px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0px rgb(5, 183, 253);
    }
    #item-details table{
        width: 55%;
        font-size: .75rem;
    }
    #item-details button{
        color: white;
        font-weight: normal;
        border: 1px solid green;
        border-radius: 5px;
        transition: .5s;
        padding: 0 10px;
        margin: 0;
        font-size: .6rem;
    }
    #my-item h4{
        margin-top: -10px;
        font-size: 1.2rem;
    }
    #my-cart{
        height: auto;
        width: 370px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 0;
        top: 40px;
        border-radius: 20px;
        box-shadow:  0 0 20px 0px rgb(5, 183, 253);
        color: rgb(198, 198, 199);
        padding-top: 30px;
        text-align: center;
    }
    #cart-details table{
        margin-top: 20px;
    }
    #cart-details table{
        width: 95%;
        margin-left: 2.5%;
    }
    #my-cart h4{
        font-size: 1.2rem;
    }
    
      #cart-details button{
        color: skyblue;
        font-weight: bold;
        border: 2px solid skyblue;
        border-radius: 20px;
        transition: .5s;
        padding-top: 0px;
        padding-top: -6px;
        height: 30px;
    }
    #cart-details #cancel{
        background-color: red;
        border: none;
        border-radius: 5px;
        font-size: .5rem;
        height: 17px;
        width: 50px;
        padding: 0;
    }
    #my-cart #balance{
        position: absolute;
        color: rgb(198, 198, 199);
        top: 0px;
        left: 31%;
        font-size: .8rem;
    }
    #grand-total{
        font-size: .9rem;
    }


    .view{
        height: 100px;
    }
      .h3-responsive{
        position: relative;
        top: 40px;
        font-size: 0.7rem;
      }
      .carousel-caption p{
          font-size: 0.6rem;
          position: relative;
          top: 50px;
      }
      #navbar .navbar-toggler{
        margin-left: 43%; 
        color: white; 
        transition: ease-in-out; 
        outline: none;
        font-size: 1.5rem;
      }
      #navbar input[type="submit"]{
        background-color: transparent;
        color: lightgreen;
        position: absolute;
        margin-top: 0px;
        margin-left: 2px;
        border: 1px solid lightgreen;
        border-radius: 5px;
        height: 30px;
        width: 70px;
        border-radius: 20px;
        outline: none;
        font-weight: bold;
        font-size: .8rem;
        transition: 0.5s;
        outline: none;
    }
    #navbar input[name='all']{
        margin-left: 76px;
    }
    #navbar a{
        display: flex;
        float: left;
        position: relative;
        top: -70px;
        left: 208px;
        margin-left: 5px;
        margin-top: 2px;
        border: 1px solid tomato;
        width: 70px;
        height: 30px;
        border-radius: 20px;
        padding-top: 7px;
        font-weight: bold;
        color: tomato;
        transition: 0.5s;
    }
    #navbar select{
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        position: relative;
        left: 45px;
        height: 30px;
        width: 150px;
        top: 40px;
        margin-bottom: 40px;
        border-radius: 20px;
        border: 1px solid tomato;
        outline: none;
        cursor: pointer;
        transition: .5s;
        padding-left: 10px;
        font-size: 0.8rem;
    }
    
  #navbar input[name='filter']{
    background-color: tomato;
    position: relative;
    left: 45px;
    width: 100px;
    top: 40px;
    height: 30px;
    border-radius: 20px;
    border-color: tomato;
    color: rgb(32, 30, 30);
    font-weight: bold;
}
#navbar h6{
    position: relative;
    display: inline;
    left: -27px;
    font-size: 0.8rem;
    z-index: 0;
}
#navbar .navbar-toggler{
    margin-left: 43%; 
    color: white; 
    transition: ease-in-out; 
    outline: none;
    font-size: 1.5rem;
  }
  #type-head{
    position: relative; 
    display: block; 
    background-color: rgb(17, 216, 252);
    padding: 5px 0;
    text-align: center;
    border-radius: 20px;
    width: 98%;
    margin-left: -20px;
    box-shadow: inset 0 0 20px 5px rgb(0, 43, 58);
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
}

#food-item .card{
    background-color: rgba(0, 0, 0, 0.5);
    width: 140px;
    height: 200px;
    margin: 10px;
    left: -20px;
    box-shadow: 0 0 10px 0px rgba(144, 238, 144, 0.575);
    border-radius: 5px;
    transition: .2s;
    float: left;
}
.card-img-top{
    object-fit: cover;
      width: 50%;
      height: 70px;
}
.card-body #veg, .card-body #non-veg, .card-body #egg{
    padding: 1px 2px;
    position: relative;
    left: 95%;
    top: -90px;
    font-size: 0.8rem;
    background-color: white;
}
.card-body h5{
    width: 125.3%;
    height: 60px;
    position: relative;
    left: -20px;
    top: -40px;
    font-size: 1.1rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: normal;
  }
  .card-body #cost{
    position: relative;
    top: -90px;
    margin-left: 0;
    left: -10px;
    margin-bottom: 0px;
    font-size: .55rem;
}
.card-body input, .card-body span{
    position: relative;
    top: -85px;
    left: 0px;
    text-align: center;
    font-size: .6rem;
    font-weight: bold;
}
.card-body input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 40px;
    top: -107px;
    border-radius: 5px;
    outline: none;
    width: 30px;
    height: 20px;
    font-size: .6rem;
    font-weight: normal;
}
.card-body button{
    background-color: transparent;
    color: lightgreen;
    border-color: lightgreen;
    width: 70px;
    height: 18px;
    margin-left: 17%;
    margin-top: -200px;
    padding: 0 0 20px 0;
    font-size: 0.8rem;
}
.card-body .invalid-feedback{
    position: absolute;
    top: 125px;
    left: 83px;
    width: 60px;
    font-size: .6rem;
    z-index: 1;
}
}
@media only screen and (min-width: 376px) and (max-width: 426px){
    #my-item{
        height: auto;
        width: 420px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 0;
        top: 30px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0px rgb(5, 183, 253);
    }
    #item-details table{
        width: 55%;
        font-size: .8rem;
    }
    #item-details button{
        color: white;
        font-weight: normal;
        border: 1px solid green;
        border-radius: 5px;
        transition: .5s;
        padding: 0 10px;
        margin: 0;
        font-size: .8rem;
    }
    #my-item h4{
        margin-top: -10px;
        font-size: 1.2rem;
    }
    #my-cart{
        height: auto;
        width: 380px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 20px;
        top: 40px;
        border-radius: 20px;
        box-shadow:  0 0 20px 0px rgb(5, 183, 253);
        color: rgb(198, 198, 199);
        padding-top: 30px;
        text-align: center;
    }
    #cart-details table{
        margin-top: 20px;
    }
    #cart-details table{
        width: 95%;
        margin-left: 2.5%;
    }
    #my-cart h4{
        font-size: 1.2rem;
    }
    
      #cart-details button{
        color: skyblue;
        font-weight: bold;
        border: 2px solid skyblue;
        border-radius: 20px;
        transition: .5s;
        padding-top: 0px;
        padding-top: -6px;
        height: 30px;
    }
    #cart-details #cancel{
        background-color: red;
        border: none;
        border-radius: 5px;
        font-size: .5rem;
        height: 17px;
        width: 50px;
        padding: 0;
    }
    #my-cart #balance{
        position: absolute;
        color: rgb(198, 198, 199);
        top: 0px;
        left: 28%;
        font-size: .8rem;
    }
    #grand-total{
        font-size: .9rem;
    }



    .view{
        height: 100px;
    }
      .h3-responsive{
        position: relative;
        top: 40px;
        font-size: 0.7rem;
      }
      .carousel-caption p{
          font-size: 0.6rem;
          position: relative;
          top: 50px;
      }
      #navbar .navbar-toggler{
        margin-left: 43%; 
        color: white; 
        transition: ease-in-out; 
        outline: none;
        font-size: 1.5rem;
      }
      #navbar input[type="submit"]{
        background-color: transparent;
        color: lightgreen;
        position: absolute;
        margin-top: 0px;
        margin-left: 2px;
        border: 1px solid lightgreen;
        border-radius: 5px;
        height: 30px;
        width: 70px;
        border-radius: 20px;
        outline: none;
        font-weight: bold;
        font-size: .8rem;
        transition: 0.5s;
        outline: none;
    }
    #navbar input[name='all']{
        margin-left: 76px;
    }
    #navbar a{
        display: flex;
        float: left;
        position: relative;
        top: -70px;
        left: 250px;
        margin-left: 5px;
        margin-top: 2px;
        border: 1px solid tomato;
        width: 70px;
        height: 30px;
        border-radius: 20px;
        padding-top: 7px;
        font-weight: bold;
        color: tomato;
        transition: 0.5s;
    }
    #navbar select{
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        position: relative;
        left: 70px;
        height: 30px;
        width: 150px;
        top: 40px;
        margin-bottom: 40px;
        border-radius: 20px;
        border: 1px solid tomato;
        outline: none;
        cursor: pointer;
        transition: .5s;
        padding-left: 10px;
        font-size: 0.8rem;
    }
    
  #navbar input[name='filter']{
    background-color: tomato;
    position: relative;
    left: 70px;
    width: 100px;
    top: 40px;
    height: 30px;
    border-radius: 20px;
    border-color: tomato;
    color: rgb(32, 30, 30);
    font-weight: bold;
}
#navbar h6{
    position: relative;
    display: inline;
    left: -20px;
    font-size: 0.9rem;
    z-index: 0;
}
#navbar .navbar-toggler{
    margin-left: 45%; 
    color: white; 
    transition: ease-in-out; 
    outline: none;
    font-size: 1.5rem;
  }
  #type-head{
    position: relative; 
    display: block; 
    background-color: rgb(17, 216, 252);
    padding: 5px 0;
    text-align: center;
    border-radius: 20px;
    width: 98%;
    margin-left: -20px;
    box-shadow: inset 0 0 20px 5px rgb(0, 43, 58);
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
}

#food-item .card{
    background-color: rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 220px;
    margin: 15px;
    left: -15px;
    box-shadow: 0 0 10px 0px rgba(144, 238, 144, 0.575);
    border-radius: 5px;
    transition: .2s;
    float: left;
}
.card-img-top{
    object-fit: cover;
      width: 50%;
      height: 75px;
}
.card-body #veg, .card-body #non-veg, .card-body #egg{
    padding: 1px 2px;
    position: relative;
    left: 95%;
    top: -95px;
    font-size: 0.8rem;
    background-color: white;
}
.card-body h5{
    width: 138%;
    height: 50px;
    position: relative;
    left: -20px;
    top: -40px;
    font-size: 1.1rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: normal;
  }
  .card-body #cost{
    position: relative;
    top: -60px;
    margin-left: 0;
    left: 0px;
    margin-bottom: 0px;
    font-size: .65rem;
}
.card-body input, .card-body span{
    position: relative;
    top: -58px;
    left: 0px;
    text-align: center;
    font-size: .6rem;
    font-weight: bold;
}
.card-body input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 50px;
    top: -80px;
    border-radius: 5px;
    outline: none;
    width: 33px;
    height: 25px;
    font-size: .6rem;
    font-weight: normal;
}
.card-body button{
    background-color: transparent;
    color: lightgreen;
    border-color: lightgreen;
    width: 70px;
    height: 18px;
    margin-left: 19%;
    margin-top: -150px;
    padding: 0 0 20px 0;
    font-size: 0.8rem;
}
.card-body .invalid-feedback{
    position: absolute;
    top: 150px;
    left: 95px;
    width: 60px;
    font-size: .6rem;
    z-index: 1;
}
}
@media only screen and (min-width: 427px) and (max-width: 769px){
    #my-item{
        height: auto;
        width: 500px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 17%;
        top: 30px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0px rgb(5, 183, 253);
    }
    #item-details table{
        width: 55%;
        font-size: .9rem;
    }
    #item-details button{
        color: white;
        font-weight: normal;
        border: 1px solid green;
        border-radius: 5px;
        transition: .5s;
        padding: 0 10px;
        margin: 0;
        font-size: .8rem;
    }
    #my-item h4{
        margin-top: -10px;
        font-size: 1.2rem;
    }
    #my-cart{
        height: auto;
        width: 500px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 120px;
        top: 40px;
        border-radius: 20px;
        box-shadow:  0 0 20px 0px rgb(5, 183, 253);
        color: rgb(198, 198, 199);
        padding-top: 30px;
        text-align: center;
    }
    #cart-details table{
        margin-top: 20px;
    }
    #cart-details table{
        width: 95%;
        margin-left: 2.5%;
    }
    #my-cart h4{
        font-size: 1.2rem;
    }
    
      #cart-details button{
        color: skyblue;
        font-weight: bold;
        border: 2px solid skyblue;
        border-radius: 20px;
        transition: .5s;
        padding-top: 0px;
        padding-top: -6px;
        height: 30px;
    }
    #cart-details #cancel{
        background-color: red;
        border: none;
        border-radius: 5px;
        font-size: .5rem;
        height: 23px;
        width: 50px;
        padding: 0;
        margin: 0;
    }
    #my-cart #balance{
        position: absolute;
        color: rgb(198, 198, 199);
        top: 0px;
        left: 36%;
        font-size: .8rem;
    }
    #grand-total{
        font-size: .9rem;
    }

    .view{
        height: 100px;
    }
      .h3-responsive{
        position: relative;
        top: 40px;
        font-size: 0.7rem;
      }
      .carousel-caption p{
          font-size: 0.6rem;
          position: relative;
          top: 50px;
      }

      #navbar .navbar-toggler{
        margin-left: 43%; 
        color: white; 
        transition: ease-in-out; 
        outline: none;
        font-size: 1.5rem;
      }
      #navbar input[type="submit"]{
        background-color: transparent;
        color: lightgreen;
        position: absolute;
        margin-top: -15px;
        margin-left: 2px;
        border: 1px solid lightgreen;
        border-radius: 5px;
        height: 30px;
        width: 70px;
        border-radius: 20px;
        outline: none;
        font-weight: bold;
        font-size: .8rem;
        transition: 0.5s;
        outline: none;
    }
    #navbar input[name='all']{
        margin-left: 76px;
    }
    #navbar a{
        display: flex;
        float: left;
        position: relative;
        left: 310px;
        margin-left: 5px;
        top: 0px;
        border: 1px solid tomato;
        width: 70px;
        height: 30px;
        border-radius: 20px;
        padding-top: 7px;
        font-weight: bold;
        color: tomato;
        transition: 0.5s;
    }
    #navbar select{
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        position: relative;
        left: 250px;
        height: 30px;
        width: 200px;
        top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        border: 1px solid tomato;
        outline: none;
        cursor: pointer;
        transition: .5s;
        padding-left: 10px;
        font-size: 0.8rem;
    }
    
  #navbar input[name='filter']{
    background-color: tomato;
    position: relative;
    left: 250px;
    width: 100px;
    top: 20px;
    height: 30px;
    border-radius: 20px;
    border-color: tomato;
    color: rgb(32, 30, 30);
    font-weight: bold;
}
#navbar h6{
    position: relative;
    display: inline;
    left: -105px;
    top: -20px;
    font-size: 0.8rem;
    z-index: 0;
}
#navbar .navbar-toggler{
    margin-left: 49%; 
    color: white; 
    transition: ease-in-out; 
    outline: none;
    font-size: 1.5rem;
  }
  #type-head{
    position: relative; 
    display: block; 
    background-color: rgb(17, 216, 252);
    padding: 5px 0;
    text-align: center;
    border-radius: 20px;
    width: 98%;
    margin-left: -20px;
    box-shadow: inset 0 0 20px 5px rgb(0, 43, 58);
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
}

#food-item .card{
    background-color: rgba(0, 0, 0, 0.5);
    width: 180px;
    height: 250px;
    margin: 25px;
    left: -15px;
    box-shadow: 0 0 10px 0px rgba(144, 238, 144, 0.575);
    border-radius: 5px;
    transition: .2s;
    float: left;
}
.card-img-top{
    object-fit: cover;
      width: 100%;
      height: 90px;
}
.card-body #veg, .card-body #non-veg, .card-body #egg{
    padding: 1px 2px;
    position: relative;
    left: 98%;
    top: -110px;
    font-size: 0.8rem;
    background-color: white;
}
.card-body h5{
    width: 125.3%;
    height: 60px;
    position: relative;
    left: -20px;
    top: -40px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
  .card-body #cost{
    position: relative;
    top: -80px;
    margin-left: 0;
    left: -10px;
    margin-bottom: 0px;
    font-size: .75rem;
}
.card-body input, .card-body span{
    position: relative;
    top: -75px;
    left: 0px;
    text-align: center;
    font-size: .75rem;
    font-weight: bold;
}
.card-body input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 0px;
    top: -75px;
    border-radius: 5px;
    outline: none;
    width: 35px;
    height: 25px;
    font-size: .7rem;
    font-weight: normal;
}
.card-body button{
    background-color: transparent;
    color: lightgreen;
    border-color: lightgreen;
    width: 70px;
    height: 30px;
    margin-left:25%;
    margin-top: -120px;
    padding: 0;
    font-size: 0.8rem;
}
.card-body .invalid-feedback{
    position: absolute;
    top: 160px;
    left: 105px;
    width: 60px;
    font-size: .7rem;
    z-index: 1;
}
}
@media only screen and (min-width: 769px) and (max-width: 1025px){
    #my-item{
        height: auto;
        width: 550px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 20%;
        top: 50px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0px rgb(5, 183, 253);
    }
    #item-details table{
        width: 55%;
        font-size: 1rem;
    }
    #item-details button{
        color: white;
        font-weight: normal;
        border: 1px solid green;
        border-radius: 5px;
        transition: .5s;
        padding: 0 10px;
        margin: 0;
        font-size: .9rem;
    }
    #my-item h4{
        margin-top: -10px;
        font-size: 1.2rem;
    }
    #my-cart{
        height: auto;
        width: 600px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 20%;
        top: 40px;
        border-radius: 20px;
        box-shadow:  0 0 20px 0px rgb(5, 183, 253);
        color: rgb(198, 198, 199);
        padding-top: 30px;
        text-align: center;
    }
    #cart-details table{
        margin-top: 20px;
    }
    #cart-details table{
        width: 95%;
        margin-left: 2.5%;
    }
    #my-cart h4{
        font-size: 1.2rem;
    }
    
      #cart-details button{
        color: skyblue;
        font-weight: bold;
        border: 2px solid skyblue;
        border-radius: 20px;
        transition: .5s;
        padding-top: 0px;
        padding-top: -6px;
        height: 30px;
    }
    #cart-details #cancel{
        background-color: red;
        border: none;
        border-radius: 5px;
        font-size: .75rem;
        height: 25px;
        width: 60px;
        padding: 0;
    }
    #my-cart #balance{
        position: absolute;
        color: rgb(198, 198, 199);
        top: 0px;
        left: 37%;
        font-size: .9rem;
    }
    #grand-total{
        font-size: .9rem;
    }

    .view{
        height: 130px;
    }
      .h3-responsive{
        position: relative;
        top: 10px;
        font-size: 1rem;
      }
      .carousel-caption p{
          font-size: 0.8rem;
          position: relative;
          top: 10px;
      }
      #navbar .navbar-toggler{
        margin-left: 43%; 
        color: white; 
        transition: ease-in-out; 
        outline: none;
        font-size: 1.5rem;
      }

      #navbar input[type="submit"]{
        background-color: transparent;
        color: lightgreen;
        position: absolute;
        left: 40px;
        margin-top: -22px;
        margin-left: -30px;
        border: 1px solid lightgreen;
        border-radius: 5px;
        height: 40px;
        width: 100px;
        border-radius: 20px;
        outline: none;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.5s;
        outline: none;
    }
    #navbar input[name='all']{
        margin-left: 76px;
    }
    #navbar a{
        display: flex;
        float: left;
        position: relative;
        left: 450px;
        margin-left: 5px;
        top: 0px;
        border: 1.5px solid tomato;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        padding-top: 12px;
        font-weight: bold;
        color: tomato;
        transition: 0.5s;
        font-size: 1rem;
        padding-left: 15px;
    }
    #navbar select{
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        position: relative;
        left: 300px;
        height: 40px;
        width: 250px;
        top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        border: 1px solid tomato;
        outline: none;
        cursor: pointer;
        transition: .5s;
        padding-left: 10px;
        font-size: 0.8rem;
    }
    
  #navbar input[name='filter']{
    background-color: tomato;
    position: relative;
    left: 340px;
    width: 130px;
    top: 20px;
    height: 40px;
    border-radius: 20px;
    border-color: tomato;
    color: rgb(32, 30, 30);
    font-weight: bold;
}
#navbar h6{
    position: relative;
    display: inline;
    left: -120px;
    top: -26px;
    font-size: 0.9rem;
    z-index: 0;
}
#navbar .navbar-toggler{
    margin-left: 49%; 
    color: white; 
    transition: ease-in-out; 
    outline: none;
    font-size: 1.5rem;
  }
  #type-head{
    position: relative; 
    display: block; 
    background-color: rgb(17, 216, 252);
    padding: 5px 0;
    text-align: center;
    border-radius: 20px;
    width: 98%;
    margin-left: -20px;
    box-shadow: inset 0 0 20px 5px rgb(0, 43, 58);
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

#food-item .card{
    background-color: rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 330px;
    margin: 30px;
    left: 5px;
    box-shadow: 0 0 10px 0px rgba(144, 238, 144, 0.575);
    border-radius: 5px;
    transition: .2s;
    float: left;
}
.card-img-top{
    object-fit: cover;
      width: 100%;
      height: 110px;
}
.card-body #veg, .card-body #non-veg, .card-body #egg{
    padding: 1px 2px;
    position: relative;
    left: 95%;
    top: -125px;
    font-size: 1rem;
    background-color: white;
}
.card-body h5{
    width: 125.3%;
    height: 60px;
    position: relative;
    left: -20px;
    top: -40px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .card-body #cost{
    position: relative;
    top: -60px;
    margin-left: 0;
    left: -10px;
    margin-bottom: 0px;
    font-size: 1rem;
}
.card-body input, .card-body span{
    position: relative;
    top: -45px;
    left: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.card-body input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 10px;
    top: -45px;
    border-radius: 5px;
    outline: none;
    width: 45px;
    height: 30px;
    font-size: 1rem;
    font-weight: normal;
}
.card-body button{
    background-color: transparent;
    color: lightgreen;
    border-color: lightgreen;
    width: 90px;
    height: 30px;
    margin-left:25%;
    margin-top: -50px;
    padding: 0;
    font-size: 1.1rem;
}
.card-body .invalid-feedback{
    position: absolute;
    top: 217px;
    left: 168px;
    width: 60px;
    font-size: .9rem;
    z-index: 1;
}
}
@media only screen and (min-width: 1026px) and (max-width: 1441px){
    #my-item{
        height: auto;
        width: 700px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 25%;
        top: 50px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0px rgb(5, 183, 253);
    }
    #item-details table{
        width: 55%;
        font-size: 1rem;
    }
    #item-details button{
        color: white;
        font-weight: normal;
        border: 1px solid green;
        border-radius: 5px;
        transition: .5s;
        padding: 10px;
        font-size: 1rem;
    }
    #my-item h4{
        margin-top: -10px;
        font-size: 1.4rem;
    }
    #my-cart{
        height: auto;
        width: 600px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 27%;
        top: 40px;
        border-radius: 20px;
        box-shadow:  0 0 20px 0px rgb(5, 183, 253);
        color: rgb(198, 198, 199);
        padding-top: 30px;
        text-align: center;
    }
    #cart-details table{
        margin-top: 20px;
    }
    #cart-details table{
        width: 95%;
        margin-left: 2.5%;
    }
    #my-cart h4{
        font-size: 1.2rem;
    }
    
      #cart-details button{
        color: skyblue;
        font-weight: bold;
        border: 2px solid skyblue;
        border-radius: 20px;
        transition: .5s;
        padding-top: 0px;
        padding-top: -6px;
        height: 30px;
    }
    #cart-details #cancel{
        background-color: red;
        border: none;
        border-radius: 5px;
        font-size: .75rem;
        height: 25px;
        width: 60px;
        padding: 0;
    }
    #my-cart #balance{
        position: absolute;
        color: rgb(198, 198, 199);
        top: 0px;
        left: 37%;
        font-size: .9rem;
    }
    #grand-total{
        font-size: .9rem;
    }
    .view{
        height: 200px;
    }
      .h3-responsive{
        position: relative;
        top: -20px;
        font-size: 1.2rem;
      }
      .carousel-caption p{
          font-size: 1.1rem;
          position: relative;
          top: -10px;
      }

      #navbar input[type="submit"]{
        background-color: transparent;
        color: lightgreen;
        position: absolute;
        margin-top: -20px;
        left: 40px;
        margin-left: -30px;
        border: 1px solid lightgreen;
        border-radius: 5px;
        height: 40px;
        width: 100px;
        border-radius: 20px;
        outline: none;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.5s;
        outline: none;
    }
    #navbar input[name='all']{
        margin-left: 76px;
    }
    #navbar a{
        display: flex;
        float: left;
        position: relative;
        left: 790px;
        margin-left: 5px;
        top: 0px;
        border: 1.5px solid tomato;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        padding-top: 12px;
        font-weight: bold;
        color: tomato;
        transition: 0.5s;
        font-size: 1rem;
        padding-left: 15px;
    }
    #navbar select{
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        position: relative;
        left: 450px;
        height: 40px;
        width: 250px;
        top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        border: 1px solid tomato;
        outline: none;
        cursor: pointer;
        transition: .5s;
        padding-left: 10px;
        font-size: 1rem;
    }
    
  #navbar input[name='filter']{
    background-color: tomato;
    position: relative;
    left: 490px;
    width: 130px;
    top: 20px;
    height: 40px;
    border-radius: 20px;
    border-color: tomato;
    color: rgb(32, 30, 30);
    font-weight: bold;
}
#navbar h6{
    position: relative;
    display: inline;
    left: 350px;
    top: 2px;
    font-size: 1rem;
    z-index: 0;
}
#navbar .navbar-toggler{
    margin-left: 49%; 
    color: white; 
    transition: ease-in-out; 
    outline: none;
    font-size: 1.5rem;
  }
  #type-head{
    position: relative; 
    display: block; 
    background-color: rgb(17, 216, 252);
    padding: 5px 0;
    text-align: center;
    border-radius: 20px;
    width: 98%;
    margin-left: -20px;
    box-shadow: inset 0 0 20px 5px rgb(0, 43, 58);
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

#food-item .card{
    background-color: rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 350px;
    margin: 35px;
    left: 15px;
    box-shadow: 0 0 10px 0px rgba(144, 238, 144, 0.575);
    border-radius: 5px;
    transition: .2s;
    float: left;
}
.card-img-top{
    object-fit: cover;
      width: 100%;
      height: 130px;
}
.card-body #veg, .card-body #non-veg, .card-body #egg{
    padding: 1px 2px;
    position: relative;
    left: 95%;
    top: -140px;
    font-size: 1rem;
    background-color: white;
}
.card-body h5{
    width: 125.3%;
    height: 60px;
    position: relative;
    left: -20px;
    top: -40px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .card-body #cost{
    position: relative;
    top: -60px;
    margin-left: 0;
    left: -10px;
    margin-bottom: 0px;
    font-size: 1rem;
}
.card-body input, .card-body span{
    position: relative;
    top: -45px;
    left: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.card-body input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 10px;
    top: -45px;
    border-radius: 5px;
    outline: none;
    width: 45px;
    height: 30px;
    font-size: 1rem;
    font-weight: normal;
}
.card-body button{
    background-color: transparent;
    color: lightgreen;
    border-color: lightgreen;
    width: 90px;
    height: 30px;
    margin-left:25%;
    margin-top: -50px;
    padding: 0;
    font-size: 1.1rem;
}
.card-body .invalid-feedback{
    position: absolute;
    top: 240px;
    left: 168px;
    width: 60px;
    font-size: .9rem;
    z-index: 1;
}
}
@media only screen and (min-width: 1441px){
    #my-item{
        height: auto;
        width: 800px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 35%;
        top: 50px;
        border-radius: 20px;
        box-shadow: 0 0 10px 0px rgb(5, 183, 253);
    }
    #item-details table{
        width: 55%;
        font-size: 1.5rem;
    }
    #item-details button{
        color: white;
        font-weight: normal;
        border: 1px solid green;
        border-radius: 5px;
        transition: .5s;
        padding: 10px;
        font-size: 1rem;
    }
    #my-item h4{
        margin-top: -10px;
        font-size: 1.4rem;
    }
    #my-cart{
        height: auto;
        width: 600px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 38%;
        top: 40px;
        border-radius: 20px;
        box-shadow:  0 0 20px 0px rgb(5, 183, 253);
        color: rgb(198, 198, 199);
        padding-top: 30px;
        text-align: center;
    }
    #cart-details table{
        margin-top: 20px;
    }
    #cart-details table{
        width: 95%;
        margin-left: 2.5%;
    }
    #my-cart h4{
        font-size: 1.2rem;
    }
    
      #cart-details button{
        color: skyblue;
        font-weight: bold;
        border: 2px solid skyblue;
        border-radius: 20px;
        transition: .5s;
        padding-top: 0px;
        padding-top: -6px;
        height: 30px;
    }
    #cart-details #cancel{
        background-color: red;
        border: none;
        border-radius: 5px;
        font-size: .75rem;
        height: 25px;
        width: 60px;
        padding: 0;
    }
    #my-cart #balance{
        position: absolute;
        color: rgb(198, 198, 199);
        top: 0px;
        left: 37%;
        font-size: .9rem;
    }
    #grand-total{
        font-size: .9rem;
    }
    .view{
        height: 150px;
    }
      .h3-responsive{
        position: relative;
        top: 10px;
        font-size: 1.2rem;
      }
      .carousel-caption p{
          font-size: 1.1rem;
          position: relative;
          top: 10px;
      }
      #navbar input[type="submit"]{
        background-color: transparent;
        color: lightgreen;
        position: absolute;
        margin-top: -20px;
        left: 40px;
        margin-left: -30px;
        border: 1px solid lightgreen;
        border-radius: 5px;
        height: 40px;
        width: 100px;
        border-radius: 20px;
        outline: none;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.5s;
        outline: none;
    }
    #navbar input[name='all']{
        margin-left: 76px;
    }
    #navbar a{
        display: flex;
        float: left;
        position: relative;
        left: 790px;
        margin-left: 5px;
        top: 0px;
        border: 1.5px solid tomato;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        padding-top: 12px;
        font-weight: bold;
        color: tomato;
        transition: 0.5s;
        font-size: 1rem;
        padding-left: 15px;
    }
    #navbar select{
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        position: relative;
        left: 450px;
        height: 40px;
        width: 250px;
        top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        border: 1px solid tomato;
        outline: none;
        cursor: pointer;
        transition: .5s;
        padding-left: 10px;
        font-size: 1rem;
    }
    
  #navbar input[name='filter']{
    background-color: tomato;
    position: relative;
    left: 490px;
    width: 130px;
    top: 20px;
    height: 40px;
    border-radius: 20px;
    border-color: tomato;
    color: rgb(32, 30, 30);
    font-weight: bold;
}
#navbar h6{
    position: relative;
    display: inline;
    left: 350px;
    top: 2px;
    font-size: 1rem;
    z-index: 0;
}
#navbar .navbar-toggler{
    margin-left: 49%; 
    color: white; 
    transition: ease-in-out; 
    outline: none;
    font-size: 1.5rem;
  }
  #type-head{
    position: relative; 
    display: block; 
    background-color: rgb(17, 216, 252);
    padding: 5px 0;
    text-align: center;
    border-radius: 20px;
    width: 98%;
    margin-left: -20px;
    box-shadow: inset 0 0 20px 5px rgb(0, 43, 58);
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

#food-item .card{
    background-color: rgba(0, 0, 0, 0.5);
    width: 240px;
    height: 350px;
    margin: 35px;
    left: 15px;
    box-shadow: 0 0 10px 0px rgba(144, 238, 144, 0.575);
    border-radius: 5px;
    transition: .2s;
    float: left;
}
.card-img-top{
    object-fit: cover;
      width: 100%;
      height: 130px;
}
.card-body #veg, .card-body #non-veg, .card-body #egg{
    padding: 1px 2px;
    position: relative;
    left: 95%;
    top: -125px;
    font-size: 1rem;
    background-color: white;
}
.card-body h5{
    width: 125.3%;
    height: 60px;
    position: relative;
    left: -20px;
    top: -40px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .card-body #cost{
    position: relative;
    top: -60px;
    margin-left: 0;
    left: -10px;
    margin-bottom: 0px;
    font-size: 1rem;
}
.card-body input, .card-body span{
    position: relative;
    top: -45px;
    left: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.card-body input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 10px;
    top: -45px;
    border-radius: 5px;
    outline: none;
    width: 45px;
    height: 30px;
    font-size: 1rem;
    font-weight: normal;
}
.card-body button{
    background-color: transparent;
    color: lightgreen;
    border-color: lightgreen;
    width: 90px;
    height: 30px;
    margin-left:25%;
    margin-top: -50px;
    padding: 0;
    font-size: 1.1rem;
}
.card-body .invalid-feedback{
    position: absolute;
    top: 240px;
    left: 168px;
    width: 60px;
    font-size: .9rem;
    z-index: 1;
}
}


nav img{
    width: 50px;

}
nav{
    box-shadow: 0 0 30px 0px black;
    width: 100%;
}
#nav-buttons{
    width: 100%;
}
#nav-buttons a{
    float: right;
    padding: 5px 20px;
    margin-left: 20px;
    border-left: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    background-color: white;
    color: #0be77d;
    transition: .5s;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(155, 155, 155);
}
#nav-buttons a:hover{
    border-left: 3px solid green;
    border-right: 3px solid green;
    color: green;
    box-shadow: 0 0 8px 1px white;
}
#nav-buttons #logout{
    border-left: 3px solid red;
    border-right: 3px solid red;
    color: red;
}
#nav-buttons #logout:hover{
    box-shadow: 0 0 8px 3px red;
}
.navbar h5{
    margin: 0;
    position: absolute;
    left: 80px;
}

#navbar {
    overflow: hidden;
    background-color: #01272e;
    height: auto;
    box-shadow:  0 0 20px 5px black;
  }
  
  select option{
      transition: ease-in-out;
  }

  #navbar input[type="submit"]:hover{
      background-color: lightgreen;
      color: black;
  }
 
  #navbar select:hover{
      background-color: white;
      color: black;
  }
 

  #navbar input[name='filter']:hover{
      background-color: transparent;
      color: tomato;
  }

  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

#food-item .card:hover{
    box-shadow: 0 0 10px 0px rgb(5, 183, 253);
    transform: scale(1.08);
}


.card-body #veg{
    color: green;
    border: 1px solid green;
}
.card-body #non-veg{
    color: red;
    border: 1px solid red;
}
.card-body #egg{
    color: orange;
    border: 1px solid orange;
}








.card-body button:hover,
.card-body button:focus,
.card-body button::before,
.card-body button::after{
    background-color: lightgreen;
    border-color: lightgreen;
    color: black;
    box-shadow: none;
}



  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }


  #cart-details table,
  #cart-details th,
  #cart-details td
  {
      border: 1px solid rgb(5, 183, 253);
      border-collapse: collapse;
      font-size: .7rem;
  }

  #cart-details th{
    text-align: center;
    padding: 10px;
}
#cart-details td {
    padding: 10px;
    text-align: left;
  }
  
  #cart-details button:hover{
      background-color: tomato;
      border-color: tomato;
      color: black;
  }
  



#my-item{
    color: rgb(198, 198, 199);
    padding-top: 30px;
    text-align: center;
}
#item-details table{
    margin-top: 20px;
    width: 95%;
    margin-left: 2.5%;
}
#item-details table,
#item-details th,
#item-details td
{
    border: 1px solid rgb(5, 183, 253);
    border-collapse: collapse;
}
#item-details td {
    padding: 10px;
    text-align: left;
  }
  #item-details th{
      padding: 10px;
      text-align: center;
  }
  
  #item-details button:hover{
      background-color: green;
      border-color: white;
      color: white;
      box-shadow: 0 0 10px 1px white;
  }

 
#top-button {
    color: white;
    border: 1px solid white;
    padding: 8px 10px;
    border-radius: 20px;
    position: fixed;
    top: 92%;
    left: 96.5%;
    background-color: transparent;
    outline: none;
}
#top-button:hover{
    background-color: tomato;
}

.carousel {
    position: relative;
  }

  .carousel-item img {
    position: relative;

    object-fit: cover;
    width: 100%;
    height: 175px;
  }
  .h3-responsive{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    border-radius: 50px;
    text-align: center;
    width: auto;
    box-shadow: inset 0 0 15px 0px white;
  }

  /* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 50px 0 0 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: white; 
border-radius: 50px 0 0 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: tomato; 
}

#list_food button{
    background-color: rgb(66, 187, 66);
    border: none;
    color: rgb(39, 36, 36);
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    transition: .5s;
}
#list_food button:hover{
    background-color: rgb(41, 138, 0);
    color: white;
}
#list_food #delete{
    background-color: red;
}
#list_food label{
    color: white;
    display: flex;
    text-align: left;
}
#small-input{
    width: 48.5%;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.file-upload{display:block;text-align:center; width: 90%; padding-left: 8%;}
    .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: rgb(5, 183, 253);cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
    .file-upload .file-select:hover{border-color:rgb(5, 183, 253);transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select:hover .file-select-button{background:rgb(5, 183, 253);color:black;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select .file-select-button{background:#3fa46a;color:black;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
    .file-upload .file-select.file-select-disabled{opacity:0.65;}
    .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: rgb(5, 183, 253);cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

    nav #today_sales{
        border: .5px solid rgb(0, 253, 84);
        color: rgb(44, 247, 111);
        padding: 5px 10px;
        margin-left: 20%;
    }
    #admin-top-buttons input, #admin-top-buttons select{
        width: 25%;
        float: left;
        margin-left: 10%;
        margin-bottom: 15px;
        outline: none;
    }
    #admin-top-buttons button{
        float: left;
        width: 80px;
        height: 38px;
        border: none;
        outline: none;
        margin-left: -5px;
        background-color: lightgreen;
        font-weight: bold;
        border-radius: 0 5px 5px 0;
    }
    button img{
        width: 40%;
    }
    td img{
        width: 50%;
    }
section{position: relative;display: block; float: right; width: 100%;}

#divide #o-details, #divide #u-details{
    background-color: rgb(0, 56, 58);
    margin-left: 17px;
    position: relative;
    left: 0px;
    width: 110px;
    border: none;
    transition: 0.5s;
    font-size: .8rem;
    color: white;
    border-radius: 5px;
}
#divide #o-details:hover, #divide #u-details:hover{
    transform:scale(1.1);
}
.tftable {
    font-size: 12px;
    color: #333333;
    width: 100%;
    margin-left: 0%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
}

.tftable th {
    font-size: 12px;
    background-color: #acc8cc;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    text-align: center;
}

.tftable tr {
    background-color: #d4e3e5;
}

.tftable td {
    font-size: 12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
}

.tftable tr:hover {
    background-color: #ffffff;
}

#id {
    width: 20px;
}

#date-sales{
    border: 2px solid tomato;
    width: 350px;
    float: right;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    margin-right: 10%;
}