input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button{
      -webkit-appearance: none;
      margin: 0;
  }
  .navbar img{
    width: 60px;
}
#star{
    color: red;
}

#nav-buttons{
    width: 100%;
}
#nav-buttons a{
    float: right;
    padding: 5px 20px;
    margin-left: 20px;
    margin-top: -30px;
    border-left: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    background-color: white;
    color: #0be77d;
    transition: .5s;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(155, 155, 155);
}
#nav-buttons a:hover{
    box-shadow: 0 0 10px 2px rgb(5, 183, 253);
    border-left: 3px solid rgb(5, 65, 88);
    border-right: 3px solid rgb(5, 65, 88);
    color: rgb(5, 65, 88);
}
#nav-buttons #logout{
    border-left: 3px solid red;
    border-right: 3px solid red;
    color: red;
}
#nav-buttons #logout:hover{
    box-shadow: 0 0 10px 2px red;
    border-left: 3px solid rgb(110, 0, 0);
    border-right: 3px solid rgb(110, 0, 0);
    color: rgb(110, 0, 0);
}

#playground-background{
    height: 1200px;
    width: 1200px;
    background-color: #2eaab4;
    transform: rotate(45deg);
    position: fixed;
    left: 6.8%;
    top: -500px;
    z-index: -1;
}
#playground-container{
    background-color: rgba(0, 0, 0, 0.7);
    height: 450px;
    width: 700px;
    left: 25%;
    border-radius: 20px;
    position: relative;
    top: 50px;
    margin: 0 0 30px 0;
    
}
#playground-container h2{
    color: #15ccff;
    font-size: 1.6rem;
    /* color: #fb985d */
}

strong{
    color: #15ccff;
}
#playground-container p{
    color: #ff7626
}
#playground-container h2,
#playground-container p{
    display: block;
    text-align: center;

}


#playground-container button[type='submit']{
    position: relative;
    top: 60px;
    left: 37%;
    width: 200px;
    height: 45px;
    background-color: transparent;
    color: tomato;
    font-weight: bold;
    border-color: tomato;
    transition: 0.5s;
}

#playground-container button[type='submit']:hover{
    background-color: #ffb082;
    color: black;
}

#playground-booking-form input,
#playground-booking-form select{
    width: 230px;
    position: relative;
    left: 15px;
    margin-top: 50px;
    background-color: transparent;
    color: rgb(184, 184, 184);
    display: inline;
}
#playground-booking-form input[type='date']{
    top: 0px;
    left: 50px;
}
#playground-booking-form input[type='time']{
    top: 0px;
    left: 0px;
}
#playground-booking-form label{
    position: relative;
    top: -35px;
    left: 85px;
    color: white;
}

#playground-booking-form label[for='date']{
    left: 100px;
}

#availability, #my-slots{
    height: auto;
    width: 800px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.596);
    left: 22%;
    top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0px rgba(255, 99, 71, 0.623);
}
#availability h4, #my-slots{
    color: rgb(198, 198, 199);
    padding-top: 30px;
    text-align: center;
}


#availability input{
    width: 200px;
    position: relative;
    left: 300px;
    top: -50px;
    background-color: transparent;

}
#availability select{
    width: 200px;
    position: relative;
    left: 70px;
    top: 20px;
    background-color: transparent;
}
#availability label[for='ground'],
#availability label[for='date']{
    position: relative;
    color: rgb(198, 198, 199);
    font-weight: bold;
}
#availability label[for='ground']{
    left: 90px;
    top: 20px;
}
#availability label[for='date']{
    left: 320px;
    top: -50px;
}
#availability button{
    position: relative;
    left: 66%;
    top: -88px;
    background-color: transparent;
    border-color: tomato;
    transition: 0.5s;
    width: 200px;
}
#availability button:hover{
    background-color: tomato;
}
#availability-details{
    width: 90%;
    height: auto;
    border: 1px solid tomato;
    margin-left: 5%;
    border-radius:5px;
    position: relative;
    top: -30px;
}
#availability-details h5{
    text-align: center;
    color: rgb(192, 192, 192);
    margin-top: 5px;
}
select option{
    background-color: rgba(56, 56, 56, 0.795);
    color: rgb(226, 226, 226);
}
#availability-details #total{
    border: 1px solid tomato;
    color: tomato;
    width: 150px;
    text-align: center;
    position: relative;
    top: -38px;
    border-radius: 5px 0 0 0;
    font-weight: normal;
}
#availability-details #details>h6{
    display: inline;
    color: rgb(187, 187, 187);
    position: relative;
    left: 150px;
    padding: 0 40px;
}

#availability-details #note{
    color: rgb(160, 160, 160);
    position: relative;
    top: -30px;
    text-align: center;
    font-weight: normal;
}

#availability-details table{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    color: rgb(190, 190, 190);
}
#availability-details table,
#availability-details th,
#availability-details td
{
    border: 1px solid tomato;
    border-collapse: collapse;
}

#slot-details{
    width: 90%;
    border: 1px solid tomato;
    height: auto;
    margin-left: 5%;
}

#slot-details p{
    display: inline;
    padding: 0 40px;
    position: relative;
    left: -10px;
    color: rgb(190, 190, 190);
}

#slot-details table{
    width: 100%;
}
#slot-details table,
#slot-details th,
#slot-details td
{
    border: 1px solid tomato;
    border-collapse: collapse;
}
#slot-details th, #slot-details td {
    padding: 15px;
    text-align: left;
  }

@media only screen and (max-width: 321px){
    #playground-container .invalid-feedback{
        position: relative;
        top: -26px;
        left: 0px;
        width: 100%;
        font-size: 0.8rem;
        z-index: 1;
    }
    button[name='cancel_booking']{
        position: relative;
        float: right;
        height: 15px;
        width: 30px;
        top: -7px;
        font-size: .5rem;
        margin: 0 0 0 5px;
        padding: 0;
        background-color: red;
        border: none;
        border-radius: 2px;
        color: white;
      }
     #my-slots{
        left: 3%;
        width: 300px;
    }
    #my-slots h4{
        font-size: 1.2rem;
        margin-top: -10px;
        padding-bottom: 10px;
    }
    #slot-details th, #slot-details td {
        padding: 5px;
        font-size: .6rem;
        text-align: left;
      }
    #availability h4{
        color: rgb(198, 198, 199);
        padding-top: 10px;
        text-align: center;
        font-size: 1rem;
    }
    #availability{
        min-height: 290px;
        max-height: 290px;
        height: auto;
        width: 300px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 3%;
        top: 20px;
        border-radius: 20px;
        box-shadow: 0 0 20px 0px rgba(255, 99, 71, 0.623);
    }
    #availability select{
        width: 200px;
        position: relative;
        left: 16%;
        top: 10px;
        background-color: transparent;
    }
    #availability input{
        float: left;
        width: 200px;
        position: relative;
        left: 16%;
        top: 40px;
        background-color: transparent;
    
    }
    #availability label[for='ground']{
        left: 60px;
        top: 15px;
        font-size: .9rem;
    }
    #availability label[for='date']{
        left: -47%;
        top: 12px;
        font-size: .9rem;
    }
    #availability button{
        position: relative;
        left: 16%;
        top: 60px;
        background-color: transparent;
        border-color: tomato;
        transition: 0.5s;
        width: 200px;
    }
    #availability-details{
        width: 90%;
        height: auto;
        border: 1px solid tomato;
        margin-left: 5%;
        border-radius:5px;
        position: relative;
        top: 120px;
    }
    #availability-details h5{
        text-align: center;
        color: rgb(192, 192, 192);
        margin-top: 5px;
        font-size: 1rem;
        padding: 20px 0;
    }
    #availability-details #total{
        top: -73px;
    }
    #availability-details #note{
        font-size: .6rem;
        top: -50px;
    }

    #availability-details #details>h6{
        display: inline;
        color: rgb(187, 187, 187);
        position: relative;
        left: 20px;
        top: -30px;
        padding: 0 15px;
        font-size: .7rem;
    }
    #availability-details table{
    margin-top: -15%;
    }
    #nav-buttons a{
        float: right;
        margin-top: 10px;
    }
#playground-background{
    height: 1200px;
    width: 1200px;
    background-color: #2eaab4;
    transform: rotate(45deg);
    position: fixed;
    left: -20%;
    top: -800px;
    z-index: -1;
}
#playground-container{
    background-color: rgba(0, 0, 0, 0.7);
    height: 470px;
    width: 300px;
    border-radius: 20px;
    position: relative;
    left: 0;
    top: 10px;
    margin: 0 0 30px 10px;
    
}
#playground-container h2{
    color: #15ccff;
    font-size: 1.2rem;
    /* color: #fb985d */
}

strong{
    color: #15ccff;
}
#playground-container p{
    font-size: .7rem;
    color: #ff7626;
    margin: 0 10px;
}
#playground-container h2,
#playground-container p{
    display: block;
    text-align: center;

}


#playground-container button[type='submit']{
    position: relative;
    top: 0px;
    left: 25%;
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: tomato;
    font-weight: bold;
    border-color: tomato;
    transition: 0.5s;
}

#playground-container button[type='submit']:hover{
    background-color: #ffb082;
    color: black;
}
#playground-booking-form input{
    width: 230px;
    display: block;
    position: relative;
    left: 35px;
    margin: 0px 0 0 30px;
}
#playground-booking-form input[type='date']{
    top: 0px;
    left: 0px;
}
#playground-booking-form input[type='time']{
    top: -25px;
    left: 0px;
}
#playground-booking-form input[type='text']{
    left: 0px;
}
#playground-booking-form label{
    position: relative;
    top: 5px;
    left: 50px;
    color: white;
}

#playground-booking-form label[for='date']{
    left: 50px;
}

#playground-booking-form label[for='start_time'],
#playground-booking-form label[for='end_time']{
    top: -20px;
}
#playground-booking-form label[for='ground']{
    top: -30px;
}
#playground-booking-form select{
    left: -40px;
    margin-top: 30px;
}

}
@media only screen and (min-width: 321px) and (max-width: 376px){
    button[name='cancel_booking']{
        position: relative;
        float: right;
        height: 15px;
        width: 30px;
        top: -7px;
        font-size: .5rem;
        margin: 0 0 0 5px;
        padding: 0;
        background-color: red;
        border: none;
        border-radius: 2px;
        color: white;
      }
    #my-slots{
        left: 3%;
        width: 350px;
    }
    #my-slots h4{
        font-size: 1.2rem;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    #slot-details th, #slot-details td {
        padding: 5px;
        font-size: .6rem;
        text-align: left;
      }
    #availability h4, #my-slots{
        color: rgb(198, 198, 199);
        padding-top: 10px;
        text-align: center;
        font-size: 1rem;
    }
    #availability{
        min-height: 290px;
        max-height: 290px;
        height: auto;
        width: 350px;
        left: 3%;
        top: 20px;
    }
    #availability select{
        width: 240px;
        position: relative;
        left: 16%;
        top: 10px;
        background-color: transparent;
    }
    #availability input{
        float: left;
        width: 240px;
        position: relative;
        left: 16%;
        top: 40px;
        background-color: transparent;
    
    }
    #availability label[for='ground']{
        left: 65px;
        top: 15px;
        font-size: .9rem;
    }
    #availability label[for='date']{
        left: -50%;
        top: 12px;
        font-size: .9rem;
    }
    #availability button{
        position: relative;
        left: 16%;
        top: 60px;
        background-color: transparent;
        border-color: tomato;
        transition: 0.5s;
        width: 240px;
        color: rgb(192, 192, 192);
        font-weight: bold;
    }
    #availability-details{
        width: 90%;
        height: auto;
        border: 1px solid tomato;
        margin-left: 5%;
        border-radius:5px;
        position: relative;
        top: 120px;
    }
    #availability-details h5{
        text-align: center;
        color: rgb(192, 192, 192);
        margin-top: 5px;
        font-size: 1rem;
        padding: 20px 0;
    }
    #availability-details #total{
        top: -73px;
    }
    #availability-details #note{
        font-size: .6rem;
        top: -50px;
    }

    #availability-details #details>h6{
        display: inline;
        color: rgb(187, 187, 187);
        position: relative;
        left: 20px;
        top: -30px;
        padding: 0 15px;
        font-size: .7rem;
    }
    #availability-details table{
    margin-top: -15%;
    }
    #nav-buttons a{
        float: right;
        margin-top: 10px;
    }
    .navbar #logout{
        left: 0px;
    }
    #playground-background{
        height: 1200px;
        width: 1200px;
        background-color: #2eaab4;
        transform: rotate(45deg);
        position: fixed;
        left: -20%;
        top: -800px;
        z-index: -1;
    }
    #playground-container{
        background-color: rgba(0, 0, 0, 0.7);
        height: 475px;
        width: 350px;
        border-radius: 20px;
        position: relative;
        left: 0;
        top: 10px;
        margin: 0 0 30px 13px;
        
    }
    #playground-container .invalid-feedback{
        position: relative;
        top: -16px;
        left: 0px;
        width: 100%;
        font-size: 1rem;
        z-index: 1;
    }
    #playground-container h2{
        color: #15ccff;
        font-size: 1.2rem;
    }
    
    strong{
        color: #15ccff;
    }
    #playground-container p{
        font-size: .7rem;
        color: #ff7626;
        margin: 0 10px;
    }
    #playground-container h2,
    #playground-container p{
        display: block;
        text-align: center;
    
    }
    
    
    #playground-container button[type='submit']{
        position: relative;
        top: 0px;
        left: 30%;
        width: 150px;
        height: 40px;
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        border-color: tomato;
        transition: 0.5s;
    }
    
    #playground-container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
    #playground-booking-form input{
        width: 285px;
        display: block;
        position: relative;
        left: 35px;
        margin: 0px 0 0 30px;
    }
    #playground-booking-form input[type='date']{
        top: 0px;
        left: 0px;
    }
    #playground-booking-form input[type='time']{
        top: -25px;
        left: 0px;
    }
    #playground-booking-form input[type='text']{
        left: 0px;
    }
    #playground-booking-form label{
        position: relative;
        top: 5px;
        left: 50px;
        color: white;
    }
    
    #playground-booking-form label[for='date']{
        left: 50px;
    }
    #playground-booking-form label[for='start_time'],
    #playground-booking-form label[for='end_time']{
        top: -20px;
    }
    #playground-booking-form label[for='ground']{
        top: -10px;
    }
    #playground-booking-form select{
        left: -40px;
        margin-top: 10px;
        margin-bottom: 25px;
        width: 280px;
        top: 25px;
    }
}
@media only screen and (min-width: 376px) and (max-width: 426px){
    #playground-container .invalid-feedback{
        position: relative;
        top: -30px;
        left: 0px;
        width: 100%;
        font-size: 1rem;
        z-index: 1;
    }
    button[name='cancel_booking']{
        position: relative;
        float: right;
        height: 18px;
        width: 33px;
        top: -10px;
        font-size: .5rem;
        margin: 0 0 0 5px;
        padding: 0;
        background-color: red;
        border: none;
        border-radius: 2px;
        color: white;
      }
    #my-slots{
        left: 3%;
        width: 400px;
    }
    #my-slots h4{
        font-size: 1.2rem;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    #slot-details th, #slot-details td {
        padding: 5px;
        font-size: .7rem;
        text-align: left;
      }
    #availability h4, #my-slots{
        color: rgb(198, 198, 199);
        padding-top: 10px;
        text-align: center;
        font-size: 1rem;
    }
    #availability{
        min-height: 290px;
        max-height: 290px;
        height: auto;
        width: 350px;
        left: 9%;
        top: 20px;
    }
    #availability select{
        width: 240px;
        position: relative;
        left: 16%;
        top: 10px;
        background-color: transparent;
    }
    #availability input{
        float: left;
        width: 240px;
        position: relative;
        left: 16%;
        top: 40px;
        background-color: transparent;
    
    }
    #availability label[for='ground']{
        left: 65px;
        top: 15px;
        font-size: .9rem;
    }
    #availability label[for='date']{
        left: -50%;
        top: 12px;
        font-size: .9rem;
    }
    #availability button{
        position: relative;
        left: 16%;
        top: 60px;
        background-color: transparent;
        border-color: tomato;
        transition: 0.5s;
        width: 240px;
        color: rgb(192, 192, 192);
        font-weight: bold;
    }
    #availability-details{
        width: 90%;
        height: auto;
        border: 1px solid tomato;
        margin-left: 5%;
        border-radius:5px;
        position: relative;
        top: 120px;
    }
    #availability-details h5{
        text-align: center;
        color: rgb(192, 192, 192);
        margin-top: 5px;
        font-size: 1rem;
        padding: 20px 0;
    }
    #availability-details #total{
        top: -73px;
    }
    #availability-details #note{
        font-size: .6rem;
        top: -50px;
    }

    #availability-details #details>h6{
        display: inline;
        color: rgb(187, 187, 187);
        position: relative;
        left: 20px;
        top: -30px;
        padding: 0 15px;
        font-size: .7rem;
    }
    #availability-details table{
    margin-top: -15%;
    }
    #nav-buttons a{
        float: right;
        margin-top: 10px;
    }
    #playground-background{
        height: 1200px;
        width: 1200px;
        background-color: #2eaab4;
        transform: rotate(45deg);
        position: fixed;
        left: -20%;
        top: -800px;
        z-index: -1;
    }
    #playground-container{
        background-color: rgba(0, 0, 0, 0.7);
        height: 490px;
        width: 350px;
        border-radius: 20px;
        position: relative;
        left: 0;
        top: 10px;
        margin: 0 0 30px 40px;
        
    }
    #playground-container h2{
        color: #15ccff;
        font-size: 1.2rem;
    }
    
    strong{
        color: #15ccff;
    }
    #playground-container p{
        font-size: .7rem;
        color: #ff7626;
        margin: 0 10px;
    }
    #playground-container h2,
    #playground-container p{
        display: block;
        text-align: center;
    
    }
    
    
    #playground-container button[type='submit']{
        position: relative;
        top: 0px;
        left: 30%;
        width: 150px;
        height: 40px;
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        border-color: tomato;
        transition: 0.5s;
    }
    
    #playground-container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
    #playground-booking-form input{
        width: 285px;
        display: block;
        position: relative;
        left: 35px;
        margin: 0px 0 0 30px;
    }

#playground-booking-form select{
    width: 280px;
    left: -40px;
    
}
    #playground-booking-form input[type='date']{
        top: 0px;
        left: 0px;
    }
    #playground-booking-form input[type='time']{
        top: -25px;
        left: 0px;
    }
    #playground-booking-form input[type='text']{
        left: 0px;
    }
    #playground-booking-form label{
        position: relative;
        top: 5px;
        left: 50px;
        color: white;
    }
    #playground-booking-form label[for='ground']{
        top: -35px;
    }
    
    #playground-booking-form label[for='date']{
        left: 50px;
    }
    #playground-booking-form label[for='start_time'],
    #playground-booking-form label[for='end_time']{
        top: -20px;
    }
}
@media only screen and (min-width: 426px) and (max-width: 769px){
    button[name='cancel_booking']{
        position: relative;
        float: left;
        height: 20px;
        width: 40px;
        top: -10px;
        left: 70px;
        font-size: .7rem;
        padding: 0;
        background-color: red;
        border: none;
        border-radius: 2px;
        color: white;
      }
    #my-slots{
        left: 5%;
        width: 700px;
    }
    #my-slots h4{
        font-size: 1.5rem;
        margin-top: 0px;
        padding-bottom: 15px;
    }
    #slot-details th, #slot-details td {
        padding: 5px;
        font-size: .8rem;
        text-align: left;
      }
    #availability{
        height: auto;
        width: 700px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.596);
        left: 5%;
        top: 20px;
        border-radius: 20px;
        box-shadow: 0 0 20px 0px rgba(255, 99, 71, 0.623);
    }
    #availability select{
        width: 180px;
        left: 7%;
        top: 10px;
    }
    #availability input{
        float: left;
        width: 180px;
        left: 37%;
        top: -28px;
    
    }
    #availability label[for='ground']{
        left: 45px;
        top: 15px;
        font-size: .9rem;
    }
    #availability label[for='date']{
        left: 80px;
        top: -60px;
        font-size: .9rem;
    }
    #availability button{
        left: 28%;
        top: -28px;
        transition: 0.5s;
        width: 180px;
        color: rgb(192, 192, 192);
        font-weight: bold;
    }
    #availability-details{
        top: 0px;
    }
    #playground-container{
        background-color: rgba(0, 0, 0, 0.7);
        height: 450px;
        width: 700px;
        left: 5%;
        border-radius: 20px;
        position: relative;
        top: 20px;
        margin: 0 0 30px 0;
        
    }
}
@media only screen and (min-width: 769px) and (max-width: 1025px){
    button[name='cancel_booking']{
        position: relative;
        float: left;
        height: 25px;
        width: 50px;
        top: -15px;
        left: 90px;
        font-size: .8rem;
        padding: 0;
        background-color: red;
        border: none;
        border-radius: 2px;
        color: white;
      }
    #my-slots h4{
        font-size: 1.5rem;
        margin-top: 0px;
        padding-bottom: 15px;
    }
    #availability, #my-slots{
        left: 10%;
    }
    #playground-background{
        height: 1200px;
        width: 1200px;
        background-color: #2eaab4;
        transform: rotate(45deg);
        position: fixed;
        left: -8%;
        top: -860px;
        z-index: -1;
    }
    #playground-container{
        background-color: rgba(0, 0, 0, 0.7);
        height: 450px;
        width: 700px;
        left: 15%;
        border-radius: 20px;
        position: relative;
        top: 50px;
        margin: 0 0 30px 0;
        
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1441px){
    button[name='cancel_booking']{
        position: relative;
        float: left;
        height: 25px;
        width: 55px;
        top: -19px;
        left: 90px;
        font-size: .9rem;
        padding: 0;
        background-color: red;
        border: none;
        border-radius: 2px;
        color: white;
      }
    #my-slots h4{
        font-size: 1.5rem;
        margin-top: 0px;
        padding-bottom: 15px;
    }
}
@media only screen and (min-width: 1441px){
    button[name='cancel_booking']{
        position: relative;
        float: left;
        height: 25px;
        width: 50px;
        top: -15px;
        left: 90px;
        font-size: .8rem;
        padding: 0;
        background-color: red;
        border: none;
        border-radius: 2px;
        color: white;
      }
    #my-slots h4{
        font-size: 1.5rem;
        margin-top: 0px;
        padding-bottom: 15px;
    }
    #availability, #my-slots{
        left: 35%;
    }
    #playground-background{
        height: 2200px;
        width: 2200px;
        background-color: #2eaab4;
        transform: rotate(45deg);
        position: fixed;
        left: 8%;
        top: -1260px;
        z-index: -1;
    }
    #playground-container{
        background-color: rgba(0, 0, 0, 0.7);
        height: 450px;
        width: 700px;
        left: 38%;
        border-radius: 20px;
        position: relative;
        top: 50px;
        margin: 0 0 30px 0;
        
    }
}
#star{
    color: red;
}