{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR FOOD - MY CART</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="FOOD BOOKING APPLICATION" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/food_style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      background-color: #01272e;
      color: rgb(218, 218, 218);
    }

    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}">
      <img src="{% static 'resources/logo.png' %}" alt="KPR logo">
    </a>
    <h5 style="z-index: -1;">KPR - FOOD COURT</h5><br>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'food' %}"><i class="fa fa-plus"></i></a>
        <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
        {% if user.role == 'food_admin' or user.role == 'super_admin' %}
        <a href="{% url 'food_admin' %}"
        style="font-size: 1.2rem; padding-top: 3px; padding-bottom: 3px; position: relative; top: -2px;"><i
          class="fa fa-lock"></i> ADMIN</a>
        {%endif%}
      </div>
    </div>
  </nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>

<div id="my-cart">
  <p id="balance">Wallet Balance: ₹ {{balance}}.00</p>
  <h4>MY <b style="color: tomato;">CART</b> ITEMS</h4>

  <div id="cart-details">

    <table>
      <th>NAME</th><th>COUNT</th><th> &nbspTOTAL&nbsp </th><th>ACTION</th>
    {%for data in cart_items_details %}
    <tr>
      <td>{{data.name}}</td>
      <td style="text-align: center;">{{data.quantity}}</td>
      <td style="text-align: center;">₹ {{data.total}}.00</td>
      <td style="text-align: center;">
        <form method="GET">
          <input type="number" name="cancel_id" value="{{data.id}}" style="display: none;" readonly>
          <button type="submit" id="cancel" class="btn" value="submit">CANCEL</button>
        </form>
      </td>
    </tr>
    {%endfor%}
  </table><br>
  <h6 id="grand-total" style="color: tomato;">GRAND TOTAL : ₹ {{net_total}}.00</h6>
  <form method="POST">
    {%csrf_token%}
    <button type="submit" class="btn" value="submit">MAKE ORDER</button>
  </form>
    
  </div>
  <br>
</div>


</html>
{%endblock%}