{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR FC</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, food court, fc kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/food_style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/admin.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      background-color: #01272e;
      color: rgb(218, 218, 218);
      overflow-x: hidden;
      scroll-behavior: smooth;
    }

    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}">
      <img src="{% static 'resources/logo.png' %}" alt="KPR logo">
    </a>
    <h5>KPR - FOOD COURT</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div id="nav-buttons">
            <h6 id="today_sales" style="display: inline; margin-left: 450px;">Today Sales : ₹ {{sales.total_price}}.00</h6>
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
        <a href="{% url 'food' %}">F C</a>
        <a href="{% url 'food_admin' %}">Admin</a>
        <a href="{% url 'orders' %}">Orders</a>
      </div>
    </div>
  </nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>
  <div id="divide" style="height: 480px;">
    <h6>ADD TODAY SPECIAL</h6>
    <div class="container">
      <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        {%csrf_token%}
        <select class="form-control" name="special_food" required>
          <option value="">Select Food</option>
          {% for item in food_item_names %}
          <option value="{{item.id}}">{{item.name}}</option>
          {%endfor%}
        </select><br>
        <div class="form-group">
          <input type="text" placeholder="Heading * (max 20 letters)" min="4" max="20" class="form-control" name="heading"
            required>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Short Quotes (max 30 letters)" min="4" max="30" class="form-control" name="details">
        </div>
        <br>
        <div class="file-upload">
          <div class="file-select">
              <div class="file-select-button" id="fileName">Picture</div>
              <div class="file-select-name" id="noFile">No file chosen...</div>
              <input type="file"  name="special_photo" id="chooseFile" required>
          </div>
      </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </form>
    </div>
  </div>
  <div id="divide">
    <h6>GET SALES</h6>
    <div class="container">
      <form method="GET" class="needs-validation" novalidate>
        <div class="form-group">
          <label>From</label>
          <input type="date" style="width: 65%; margin-left: 35%; margin-top: -14%;" class="form-control"
            value="{{sale_from_date}}" name="sales_from_date" required>
        </div>
        <div class="form-group">
          <label>To</label>
          <input type="date" style="width: 65%; margin-left: 35%; margin-top: -14%;" class="form-control"
            value="{{sale_to_date}}" name="sales_to_date" required>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: -5%;">SUBMIT</button>
      </form>
      {%if requested_sales %}
      <h6 id="today_sales">{{sale_from_date}} to {{sale_to_date}} <br>Sales : ₹ {{requested_sales.total_price}}.00</h6>
      {%endif%}
    </div>
  </div>
  <div id="divide">
    <h6>WALLET RECHARGE</h6>
    <div class="container">
      <form method="GET" class="needs-validation" novalidate>
        <div class="form-group">
          <input type="email" placeholder="Enter User's College Email ID *" class="form-control" value="{{wallet_email}}"
            name="wallet_email" required>
        </div>
        <div class="form-group">
          <input type="number" placeholder="Enter Amount *" class="form-control" value="{{wallet_amount}}"
            name="wallet_amount" required>
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </form>
    </div>
  </div>
  <div id="divide">
    <h6>ORDER & USER DETAILS</h6>
    <div class="container">
      <form method="GET" class="needs-validation" novalidate>
        <div class="form-group">
          <input type="number" placeholder="Enter Order ID *" class="form-control" value="{{order_id}}" name="order_id"
            required>
        </div>
        <button type="submit" name="get_order_details" class="btn btn-primary">SUBMIT</button>
      </form>
      {% if order_detail %}
      <button id="o-details" data-toggle="modal" data-target="#order-detail{{order_detail.id}}">Order Details</button>
      <button id='u-details' data-toggle="modal" data-target="#user-detail{{order_detail.id}}">User Details</button>
      {%endif%}
    </div>
  </div>
  <div class="modal fade" id="order-detail{{ order_detail.id }}" style="color: #01272e;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">ID : {{ order_detail.id }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h6><strong>Order ID &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{order_detail.id}}</h6>
          <h6><strong>Status &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{order_detail.status}}</h6>
          <h6><strong>Total Cost &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{order_detail.total_cost}}</h6>
          <h6><strong>Order Date &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{order_detail.order_date}}</h6>
          <h6><strong>Order Time &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{order_detail.order_time}}</h6>
          <h6><strong>Delivery Time &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{order_detail.delivery_time}}</h6>
          <hr>
          <h6><strong>Ordered Items</h6>
          {% for d in order_detail.items %}
          <p style="padding-left:40px; margin: 0; font-weight: normal;">{{d}}</p>
          {%endfor%}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="user-detail{{ order_detail.id }}" style="color: #01272e;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">User Details</h4<br>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h6><strong>Order ID &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{order_detail.id}}</h6>
          <h6><strong>User Detail</h6>
          {%for d in order_detail.order_user_details%}
          <p style="padding-left:40px; margin: 0; font-weight: normal;">{{d}}</p>
          {%endfor%}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div id="divide">
    <h6>CHANGE MAIN PICTURE</h6>
    <div class="container">
      <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        {%csrf_token%}
        <div class="file-upload">
          <div class="file-select">
              <div class="file-select-button" id="fileName">Picture</div>
              <div class="file-select-name" id="noFile">No file chosen...</div>
              <input type="file" value="{{form.photo}}" name="change_main_photo" id="chooseFile" required>
          </div>
      </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </form>
    </div>
  </div>
</body>
<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
  $('#chooseFile').bind('change', function () {
    var filename = $("#chooseFile").val();
    if (/^\s*$/.test(filename)) {
      $(".file-upload").removeClass('active');
      $("#noFile").text("No file chosen...");
    }
    else {
      $(".file-upload").addClass('active');
      $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
    }
  });

</script>

</html>



{% endblock %}