{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>KPR FC ADMIN</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FOOD BOOKING APPLICATION" />
    <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
    <meta name="KPR" content="KPR" />
    <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/food_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/messages.css' %}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: #01272e;
            color: rgb(218, 218, 218);
            overflow-x: hidden;
            scroll-behavior: smooth;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="{% url 'services' %}">
          <img src="{% static 'resources/logo.png' %}" alt="KPR logo">
        </a>
        <h5>KPR - FOOD COURT - ALL FOOD LIST</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div id="nav-buttons">
                <h6 id="today_sales" style="display: inline; margin-left: 450px;">Today Sales : ₹ {{sales.total_price}}.00</h6>
            <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
            <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
            <a href="#" data-toggle="modal" data-target="#add-form"><i class="fa fa-plus"></i></a>
            <a href="{% url 'food' %}">F C</a>
            <a href="{% url 'details' %}">Others</a>
          </div>
        </div>
      </nav>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
        <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
        {{ message }}
    </div>
    {% endfor %}
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 3000);
    </script>
    <div class="container" id="admin-top-buttons">
        <form method="GET" class="needs-validation" novalidate>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search By Name" name="search_keyword">
                <button type="submit">Search</button>
            </div>
        </form>
        
        <form method="GET" class="needs-validation" novalidate>
            <div class="form-group">
                <select class="form-control" name="sort" required>
                    <option value="{{sort}}">{{sort}}</option>
                    <option value="id">Based on ID</option>
                    <option value="name">Based on Name</option>
                    <option value="food_family">Based on Family</option>
                    <option value="type">Based on Type</option>
                    <option value="is_available">Based on Is Available ?</option>
                    <option value="available_count">Based on Available Count</option>
                    <option value="available_from">Based on Available From</option>
                    <option value="available_to">Based on Available Upto</option>
                    <option value="prize">Based on Rate</option>
                </select>
                <button name="ascending" value=1 type="submit"><img src="{% static 'resources/sort2.svg' %}" alt="ascending"></button>
                <button name="descending" value=1 type="submit"><img src="{% static 'resources/sort1.svg' %}" alt="descending"></button>
            </div>
        </form>
    </div>
    <div class="modal fade" id="add-form">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background-color: rgb(0, 48, 66);">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: white;">ADD NEW FOOD ITEM</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Food Name" value="{{form.name}}"
                                name="name" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="food_family" required>
                                {% if form %}
                                <option value="{{form.food_family}}">{{form.food_family}}</option>
                                {%else%}
                                <option value="">Select Food Family</option>
                                {%endif%}
                                <option value="veg">Veg</option>
                                <option value="egg">Egg</option>
                                <option value="non-veg">Non - Veg</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="type" required>
                                <option value="">Select Type</option>
                                <option value="tiffen">Tiffen</option>
                                <option value="meals">Meals</option>
                                <option value="cool_beverages">Cool Beverages</option>
                                <option value="hot_beverages">Hot Beverages</option>
                                <option value="chips_biscuits">Chips & Biscuits</option>
                                <option value="snacks">Snacks</option>
                                <option value="fried_rice">Fried Rice</option>
                                <option value="noodles">Noodles</option>
                                <option value="biriyani">Biriyani</option>
                                <option value="parota_chappathi">Parota & Chappathi</option>
                                <option value="egg">Egg</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                        <div class="form-group" id="small-input">
                            <input type="number" min=1 class="form-control" value="{{form.prize}}" placeholder="Rate"
                                name="prize" required>
                        </div>
                        <div class="form-group" id="small-input">
                            <input type="number" min=0 class="form-control" value="{{form.available_count}}"
                                placeholder="Count" name="available_count">
                        </div>
                        <label style="font-weight: bold; display: block; text-align: center;">Available Timings</label>
                        <div class="form-group" id="small-input">
                            <input type="time" min="07:00" max="20:00" value="07:00" class="form-control"
                                value="{{form.available_from}}" name="available_from" required>
                        </div>
                        <div class="form-group" id="small-input">
                            <input type="time" min="07:00" max="20:00" value="20:00" class="form-control"
                                value="{{form.available_to}}" name="available_to" required>
                        </div>
                        <div class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">Profile Picture</div>
                                <div class="file-select-name" id="noFile">No file chosen...</div>
                                <input type="file" value="{{form.photo}}" name="photo" id="chooseFile">
                            </div>
                        </div><br>
                        <button type="submit" name="add_food_item" style="margin-left: 45%;" class="btn btn-primary"
                            style="width: 100px;">ADD</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div id="list_food">
        <table class="tftable" border="1">
            {% if not all_foods %}
            <tr><td><h5 style="text-align: center;">Sorry, No data found</h5></td></tr>
            {%else%}
            <tr>
                <th>FOOD ID</th>
                <th>Name</th>
                <th>Family</th>
                <th>Type</th>
                <th>Is Available ?</th>
                <th>Count</th>
                <th>From</th>
                <th>Upto</th>
                <th>Rate</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
            {%endif%}
            {% for food in all_foods %}
            <tr style="text-align: center;">
                <td>{{food.id}}</td>
                <td style="text-align: left;">{{food.name}}</td>
                <td>{{food.food_family}}</td>
                <td>{{food.type}}</td>
                <td>
                    <form method="POST">
                        {% if food.is_available %}
                        <strong style="color: rgb(18, 170, 18);">{{food.is_available}}</strong> &nbsp;&nbsp;
                        {%else%}
                        <strong style="color: red;">{{food.is_available}}</strong> &nbsp;&nbsp;
                        {%endif%}
                        {% csrf_token %}
                        <button type="submit" name="change_visibility_item_id" value="{{food.id}}">Change</button>
                    </form>
                </td>
                <td>
                <form method="POST" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <input type="number" name="available_count" value="{{food.available_count}}" min=1 style="width: 40px; text-align: center; " required>
                    <button type="submit" name="change_available_count_item_id" value="{{food.id}}">Update</button>
                </form>
            </td>
                <td>{{food.available_from}}</td>
                <td>{{food.available_to}}</td>
                <td>{{food.prize}}</td>
                <td style="width: 150px;"><a href="{{ food.photo.url }}" target="_blank"> <img src="{{ food.photo.url }}" alt="{{food.photo}}"></a></td>
                <td>
                    <button data-toggle="modal" data-target="#update-form{{food.id}}">Update</button>
                    <form method="POST">
                        {% csrf_token %}
                        <button style="margin-top: 2px;" name="delete_food_id" value="{{food.id}}" type="submit"
                            id="delete">Delete</button>
                    </form>
                    <div class="modal fade" id="update-form{{food.id}}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content" style="background-color: rgb(0, 48, 66);">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="color: white;">UPDATE - {{food.name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" enctype="multipart/form-data" class="needs-validation"
                                        novalidate>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Food ID</label>
                                            <input type="number" class="form-control" value="{{food.id}}" name="id"
                                                title="Read Only" readonly>
                                        </div>
                                        <label>Food Name</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="{{food.name}}" name="name"
                                                required>
                                        </div>
                                        <label>Food Family</label>
                                        <div class="form-group">
                                            <select class="form-control" name="food_family" required>
                                                <option value="{{food.food_family}}">{{food.food_family}}</option>
                                                <option value="veg">Veg</option>
                                                <option value="egg">Egg</option>
                                                <option value="non-veg">Non - Veg</option>
                                            </select>
                                        </div>
                                        <label>Food Type</label>
                                        <div class="form-group">
                                            <select class="form-control" name="type" required>
                                                <option value="{{food.type}}">{{food.type}}</option>
                                                <option value="tiffen">Tiffen</option>
                                                <option value="meals">Meals</option>
                                                <option value="cool_beverages">Cool Beverages</option>
                                                <option value="hot_beverages">Hot Beverages</option>
                                                <option value="chips_biscuits">Chips & Biscuits</option>
                                                <option value="snacks">Snacks</option>
                                                <option value="fried_rice">Fried Rice</option>
                                                <option value="noodles">Noodles</option>
                                                <option value="biriyani">Biriyani</option>
                                                <option value="parota_chappathi">Parota & Chappathi</option>
                                                <option value="egg">Egg</option>
                                                <option value="others">Others</option>
                                            </select>
                                        </div>
                                        <label style="font-weight: bold; display: block; text-align: center;">Rate &
                                            Count</label>
                                        <div class="form-group" id="small-input">
                                            <input type="number" min="1" class="form-control" value="{{food.prize}}"
                                                name="prize" required>
                                        </div>
                                        <div class="form-group" id="small-input">
                                            <input type="number" min=0 class="form-control"
                                                value="{{food.available_count}}" name="available_count">
                                        </div>
                                        <label style="font-weight: bold; display: block; text-align: center;">Available
                                            Timings</label>
                                        <div class="form-group" id="small-input">
                                            <input type="time" min="07:00" max="20:00" value="07:00"
                                                class="form-control" value="{{food.available_from}}"
                                                name="available_from" required>
                                        </div>
                                        <div class="form-group" id="small-input">
                                            <input type="time" min="07:00" max="20:00" value="20:00"
                                                class="form-control" value="{{food.available_to}}" name="available_to"
                                                required>
                                        </div>
                                        <div class="file-upload">
                                            <div class="file-select">
                                                <div class="file-select-button" id="fileName">Profile Picture</div>
                                                <div class="file-select-name" id="noFile">{{food.photo}}</div>
                                                <input type="file" value="{{food.photo}}" name="photo" id="chooseFile">
                                            </div>
                                        </div><br>
                                        <button type="submit" name="update_food_item" class="btn btn-primary"
                                            style="width: 100px; margin-left: 10px;">UPDATE</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    {% if foods %}
    <div class="pagination" style="margin: 10px 0 10px 45.5%;">
        <span class="step-links">
          {% if foods.has_previous %}
          <a href="?search_keyword={{search_keyword}}&sort={{sort}}&ascending={{ascending}}&descending={{descending}}&page={{ foods.previous_page_number }}"><input type="button" value="Previous"></a>
          {% endif %}

          <span class="current">
            Page {{ foods.number }} of {{ foods.paginator.num_pages }}
          </span>
    
          {% if foods.has_next %}
          <a href="?search_keyword={{search_keyword}}&sort={{sort}}&ascending={{ascending}}&descending={{descending}}&page={{ foods.next_page_number }}"><input type="button" value="Next"></a>
          {% endif %}
        </span>
      </div>
      {%endif%}
</body>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
    $('#chooseFile').bind('change', function () {
        var filename = $("#chooseFile").val();
        if (/^\s*$/.test(filename)) {
            $(".file-upload").removeClass('active');
            $("#noFile").text("No file chosen...");
        }
        else {
            $(".file-upload").addClass('active');
            $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
        }
    });

</script>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</html>
{%endblock%}