{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR FOOD</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="FOOD BOOKING APPLICATION" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/food_style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      background-color: #01272e;
      color: rgb(218, 218, 218);
      overflow-x: hidden;
      scroll-behavior: smooth;
    }

    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}">
      <img src="{% static 'resources/logo.png' %}" alt="KPR logo">
    </a>
    <h5 style="z-index: -1;">KPR - FOOD COURT</h5><br>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
        {% if user.role == 'food_admin' or user.role == 'super_admin' %}
        <a href="{% url 'food_admin' %}"
          style="font-size: 1.2rem; padding-top: 3px; padding-bottom: 3px; position: relative; top: -2px;"><i
            class="fa fa-lock"></i> ADMIN</a>
        {%endif%}
      </div>
    </div>
  </nav>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>
  <div id="today-special" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" src="{{ main_photo.url }}" alt="KPR FOOD COURT">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Welcome to KPR Food Court</h3>
          <p> Enjoy your food</p>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#today-special" data-slide-to="0"></li>
        {% if today_special %}
        <li data-target="#today-special" data-slide-to="{{spl.no}}"></li>
      </ol>
      {% for spl in today_special %}
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" src="{{ spl.photo.url }}" alt="{{spl.photo}}">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">{{spl.title}}</h3>
          <p>{{spl.description}}</p>
        </div>
      </div>
      {%endfor%}
      {%endif%}
    </div>
    <a class="carousel-control-prev" href="#today-special" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#today-special" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div id="navbar" class="navbar-expand-md" style="z-index: 9999;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <form method="GET">
        <input type="submit" name="veg_only" value="Veg Only"></input>
        <input type="submit" name="all" value="All"></input>
      </form>
      <form action="" method="GET">
        <select id="category" name="search_category" required>
          <option value="">Select Category</option>
          <option value="tiffen">Tiffen</option>
          <option value="meals">Meals</option>
          <option value="cool_beverages">Cool Beverages</option>
          <option value="hot_beverages">Hot Beverages</option>
          <option value="chips_biscuits">Chips & Biscuits</option>
          <option value="snacks">Snacks</option>
          <option value="fried_rice">Fried Rice</option>
          <option value="noodles">Noodles</option>
          <option value="biriyani">Biriyani</option>
          <option value="parota_chappathi">Parota & Chappathi</option>
          <option value="egg">Egg</option>
          <option value="others">Others</option>

        </select>
        <input type="submit" name="filter" value="Filter"></input>
      </form>
      <a href="{% url 'cart' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
          class="fa fa-cart-arrow-down">&nbsp;<sup>{{cart_total}}</sup></i></a>
      <a href="{% url 'my_order' %}">&nbsp;&nbsp;&nbsp;<span style="position: relative; top: -4px;">Order</span></a>
      <h6>Wallet Balance: ₹ {{balance}}</h6>
    </div>
  </div>
  <script>
    window.onscroll = function () { stickyNavFunction() };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function stickyNavFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>

  {% if not tiffen and not meals and not cool_beverages and not hot_beverages and not chips_biscuits and not snacks and not fried_rice and not noodles and not biriyani and not parota_chappathi and not egg and not others %}
  <img src="{% static 'resources/no_data.png' %}" alt="No results" style="width: 40%; margin-left: 30%;">
  {%endif%}

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if tiffen %}
        <h5 id="type-head">TIFFEN</h5>
        {%endif%}
        {% for food_item in tiffen %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if meals %}
        <h5 id="type-head">MEALS</h5>
        {%endif%}
        {% for food_item in meals %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if cool_beverages %}
        <h5 id="type-head">COOL BEVERAGES</h5>
        {%endif%}
        {% for food_item in cool_beverages %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if hot_beverages %}
        <h5 id="type-head">HOT BEVERAGES</h5>
        {%endif%}
        {% for food_item in hot_beverages %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if snacks %}
        <h5 id="type-head">SNACKS</h5>
        {%endif%}
        {% for food_item in snacks %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if chips_biscuits %}
        <h5 id="type-head">CHIPS & BISCUITS</h5>
        {%endif%}
        {% for food_item in chips_biscuits %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if fried_rice %}
        <h5 id="type-head">FRIED RICE</h5>
        {%endif%}
        {% for food_item in fried_rice %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if noodles %}
        <h5 id="type-head">NOODLES</h5>
        {%endif%}
        {% for food_item in noodles %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if biriyani %}
        <h5 id="type-head">BIRIYANI</h5>
        {%endif%}
        {% for food_item in biriyani %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if parota_chappathi %}
        <h5 id="type-head">PAROTA & CHAPPATHI</h5>
        {%endif%}
        {% for food_item in parota_chappathi %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if egg %}
        <h5 id="type-head">EGG ITEMS</h5>
        {%endif%}
        {% for food_item in egg %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>

  <section>
    <div id="food-item">
      <ul id="food-list" style="list-style-type:none">
        {% if others %}
        <h5 id="type-head">OTHER ITEMS</h5>
        {%endif%}
        {% for food_item in others %}
        <li style="text-decoration: none;">
          <div class="card" style="position: relative; display: block;">
            <img class="card-img-top" src="{{ food_item.photo.url }}" alt="{{ food_item.name }}"
              onerror="this.src='{% static 'resources/item_picture_replace.gif' %}';">
            <div class="card-body">
              {% if food_item.food_family == 'veg' %}
              <i class="fa fa-circle" id="veg"></i>
              {% elif food_item.food_family == 'non-veg' %}
              <i class="fa fa-circle" id="non-veg"></i>
              {% elif food_item.food_family == 'egg' %}
              <i class="fa fa-circle" id="egg"></i>
              {%endif%}
              <a>
                <h5 class="card-title">{{ food_item.name }}</h5>
              </a>
              <p id="cost"><b>Rate : </b>₹ {{ food_item.prize }}.00</p>
              <p id="cost"><b>Available : </b>{{ food_item.available_count }}</p>
              <form method="GET" class="needs-validation" novalidate>
                <input type="number" name="order_item_id" value="{{ food_item.id }}" style="display: none;" readonly>
                <span>Count :</span> <input type="number" name="item_count" min="1"
                  max="{{ food_item.available_count }}" value=1 required>
                <div class="invalid-feedback" style="text-align: center;">Min=1<br>Max={{ food_item.available_count }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
        </li>
        {%endfor%}
      </ul>
    </div>
  </section>


</body>
<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</html>
{%endblock%}