{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>KPR FC ORDERS</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FOOD BOOKING APPLICATION" />
    <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
    <meta name="KPR" content="KPR" />
    <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/food_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/messages.css' %}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: #01272e;
            color: rgb(218, 218, 218);
            overflow-x: hidden;
            scroll-behavior: smooth;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
</head>

<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}">
      <img src="{% static 'resources/logo.png' %}" alt="KPR logo">
    </a>
    <h5>KPR - FOOD COURT</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div id="nav-buttons">
            <h6 id="today_sales" style="display: inline; margin-left: 450px;">Today Sales : ₹ {{sales.total_price}}.00</h6>
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
        <a href="{% url 'food' %}">F C</a>
        <a href="{% url 'food_admin' %}">Admin</a>
      </div>
    </div>
  </nav>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
        <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
        {{ message }}
    </div>
    {% endfor %}
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>
    <div class="container" id="admin-top-buttons">
        <form method="GET" class="needs-validation" novalidate>
            <div class="form-group">
                <input type="date" class="form-control" value="{{request_date}}" name="request_date" required>
                <button type="submit">Submit</button>
            </div>
        </form>
        {% if request_date %}
        <div id="date-sales">
            Date: <b style="color: tomato;">{{request_date}}</b>, Sales: ₹ <b style="color: tomato;">{{request_date_sales.total_price}}.00</b>
        </div>
        {%endif%}
    </div>

    <div id="list_food">
        <table class="tftable" border="1">
            {% if not order_details %}
            <tr><td><h5 style="text-align: center;">Sorry, No ORDER Data found on <b style="color: tomato;">{{request_date}}</b></h5></td></tr>
            {%else%}
            <tr>
                <th>ORDER ID</th>
                <th>ITEMS</th>
                <th>AMOUNT</th>
                <th>ORDER DATE</th>
                <th>ORDER TIME</th>
                <th>STATUS</th>
                <th>DELIVERY TIME</th>
                <th>USER DETAILS</th>
            </tr>
            {%endif%}
            {% for order_detail in order_details %}
            <tr style="text-align: center;">
                <td>{{order_detail.id}}</td>
                <td><button data-toggle="modal" data-target="#item-detail{{order_detail.id}}">Items</button></td>
                <td>{{order_detail.total_cost}}</td>
                <td>{{order_detail.ordered_date}}</td>
                <td>{{order_detail.ordered_time}}</td>
                <td>{{order_detail.status}}</td>
                <td>{{order_detail.delivery_time}}</td>
                <td><button data-toggle="modal" data-target="#user-detail{{order_detail.id}}">Details</button></td>
            </tr>
            <div class="modal fade" id="item-detail{{ order_detail.id }}" style="color: #01272e;">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">ORDER ID : {{ order_detail.id }}</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <h6><strong>Ordered Items</h6>
                      {% for d in order_detail.items %}
                      <p style="padding-left:40px; margin: 0; font-weight: normal;">{{d}}</p>
                      {%endfor%}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="user-detail{{ order_detail.id }}" style="color: #01272e;">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Order ID : {{ order_detail.id }}</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <h6><strong>USER DETAILS &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{order_detail.id}}</h6>
                      <h6><strong>Ordered Items</h6>
                      {% for d in order_detail.user_details %}
                      <p style="padding-left:40px; margin: 0; font-weight: normal;">{{d}}</p>
                      {%endfor%}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            {%endfor%}
        </table>
    </div>
 
    <div class="pagination" style="margin: 10px 0 10px 45.5%;">
        <span class="step-links">
          {% if orders.has_previous %}
          <a href="?request_date={{request_date}}&page={{ orders.previous_page_number }}"><input type="button" value="Previous"></a>
          {% endif %}
    
          <span class="current">
            Page {{ orders.number }} of {{ orders.paginator.num_pages }}
          </span>
    
          {% if orders.has_next %}
          <a href="?request_date={{request_date}}&page={{ orders.next_page_number }}">
              <input type="button" value="Next"></a>
          {% endif %}
        </span>
      </div>
</body>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</html>
{%endblock%}