{% extends 'login.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR-Services Forget Password</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  {% if user.is_authenticated %}
  <style>
    /* body{
            background-color: red;
          } */
  </style>
  <div id="nav-buttons">
    <a href="{% url 'services' %}">GoTo Services</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
  </div>
  <div class="container">
    <form class="needs-validation" method="POST" novalidate>
      {% csrf_token %}
      <div class="form-group">
        <label for="college_email">College Email:</label>
        <input type="email" class="form-control" id="college_email" placeholder="Enter College email"
          name="college_email" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter College Email</div>
      </div>

      <div class="form-group">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="new_password" class="form-control" placeholder="Enter new password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
          title="New Password must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
          required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">New Password must contain at least one number and one uppercase and lowercase
          letter, and at least 6 or more characters</div>
      </div>

      <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control"
          placeholder="Re - Enter the new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
          title="Confirm password must be same as New Password" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Confirm password must be same as New Password</div>
      </div>

      <script>
        var myInput = document.getElementById("password");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        myInput.onkeyup = function () {
          var lowerCaseLetters = /[a-z]/g;
          if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
          }

          var upperCaseLetters = /[A-Z]/g;
          if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
          } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
          }

          var numbers = /[0-9]/g;
          if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
          }

          if (myInput.value.length >= 6) {
            length.classList.remove("invalid");
            length.classList.add("valid");
          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
          }
        }
      </script>

      <button type="submit" class="btn btn-primary">Send OTP</button>

    </form>
    {% if messages %}
    {% for message in messages %}
    <script>
      alert("{{ message }}");
    </script>
    {% endfor %}
    {% endif %}
  </div>


  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>



























  {% endif %}
  <!-- {% if messages %}
        {% for message in messages %}
          <script>
              alert("{{ message }}");
          </script>
        {% endfor %} 
      {% endif %} -->

</body>

</html>
{% endblock %}