{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR Users List</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords"
    content="KPR, KPR college, kprient, kpriet, kpr engineering, playground, playground bookigs, playground slots" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/appointment_admin.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <span><b>KPR - IMS - ALL USERS LIST</b></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div id="nav-buttons">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
    <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
    <a href="{% url 'user_admin' %}"><i class="fa fa-lock"></i> Admin</a>
    {%endif%}
  </div>
</div>
  </nav>
  <div id="admin-top-buttons">
    <form method="GET" class="needs-validation" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search By First Name" value="{{search_keyword}}" name="search_keyword">
            <button type="submit">Search</button>
        </div>
    </form>
    
    <form method="GET" class="needs-validation" novalidate>
        <div class="form-group">
            <select class="form-control" name="sort" required>
              <option value="{{sort}}">{{sort}}</option>
              <option value="created_at">Based on Created Time</option>
                <option value="first_name">Based on First Name</option>
                <option value="last_name">Based on Last Name</option>
                <option value="gender">Based on Gender</option>
                <option value="college_email">Based on Email or Username</option>
                <option value="department">Based on Department</option>
                <option value="designation">Based on Designation</option>
                <option value="year">Based on Year</option>
                <option value="section">Based on Section</option>
            </select>
            <button title="Ascending Order" name="ascending" value=1 type="submit"><img src="{% static 'resources/sort2.svg' %}" alt="KPR logo"></button>
            <button title="Decending Order" name="descending" value=1 type="submit"><img src="{% static 'resources/sort1.svg' %}" style="transform: rotate(180deg);" alt="KPR logo"></button>
        </div>
    </form>
</div>
<br><br>
  <div class="pagination" style="margin: 10px 0 10px 45.5%;">
    <span class="step-links">
      {% if users.has_previous %}
      <a href="?sort={{sort}}&search_keyword={{search_keyword}}&ascending={{ascending}}&descending={{descending}}&page={{ users.previous_page_number }}"><input type="button" value="Previous"></a>
      {% endif %}

      <span class="current">
        Page {{ users.number }} of {{ users.paginator.num_pages }}
      </span>

      {% if users.has_next %}
      <a href="?sort={{sort}}&search_keyword={{search_keyword}}&ascending={{ascending}}&descending={{descending}}&page={{ users.next_page_number }}"><input type="button" value="Next"></a>
      {% endif %}
    </span>
  </div>
  <table class="tftable" border="1">
    <tr>
      <th>U_ID</th>
      <th>L_ID</th>
      <th>Username</th>
      <th>Role</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Deparment</th>
      <th>Designation</th>
      <th>Year</th>
      <th>Section</th>
      <th>Profile Photo</th>
      <th>Created_at</th>
      <th>Updated_at</th>
    </tr>
    {% for user in users %}
    <tr style="text-align: center;">
      <td>{{ user.id }}</td>
      <td>{{ user.login_id }}</td>
      <td>{{ user.college_email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.department }}</td>
      <td>{{ user.designation }}</td>
      {% if not user.year %}
      <td>NA</td>
      {%else%}
      <td>{{ user.year }}</td>
      {%endif%}
      {% if not user.section %}
      <td>NA</td>
      {%else%}
      <td>{{ user.section }}</td>
      {%endif%}
      <td style="text-align: center;"><a target="_blank" href="{{ user.profile_photo.url }}"><img style="width: 50%;" src="{{ user.profile_photo.url }}" alt="{{user.profile_photo}}"></a></td>
      <td>{{ user.created_at }}</td>
      <td>{{ user.updated_at }}</td>
    </tr>
    {%endfor%}
  </table>

</body>

</html>
{% endblock %}