{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR Login</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="KPR Login page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  {% if user.is_authenticated %}
  <div class='login-center'>
    <div class="login">

      <div class="login-left">
        <img src="{% static 'resources/logo2.png' %}" alt="KPR logo">
      </div>

      <div class="login-right">
        <h1 id="h1">Already Logged In</h1>
        <img src="{% static 'resources/logo1.png' %}" alt="KPR logo">
        <div id="login-a">
          <a href="{% url 'services' %}" type="button"><span>Services</span></a>
          <a href="{% url 'profile' %}" type="button"><span>My Profile</span> </a>
          <a href="{% url 'logout' %}" id="logout" type="button"><span>Logout</span></a>
        </div>
      </div>

    </div>
  </div>


  {% else %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>

  <div class='login-center'>
    <div class="login">
      <div class="login-left">
        <img src="{% static 'resources/logo2.png' %}" alt="KPR logo">
      </div>
      <div class="login-right">
        <img src="{% static 'resources/logo1.png' %}" alt="KPR logo">
        <h1>Log In</h1>
        <form action="" method="POST">
          {% csrf_token %}
          <div>
            <input type="email" value="{{username}}" name="username" id="username"
              title="College email only is allowed to login" placeholder=" " required>
            <label for="username">College Email</label>
          </div>
          <div>
            <input type="password" name="password" id="password" placeholder=" " required>
            <label for="password">Password</label>
          </div>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div id="login-register">
        <h6><a href="{% url 'forget' %}" id="forget">Forget Password</a></h6>
        Dont't have an account? <a href="{% url 'register' %}" id="forget">Register Here</a>
      </div>
    </div>
  </div>


</body>

</html>

{% endif %}
{% endblock %}