{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile - {{user_details.first_name}}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<style>
  body {
    background-color: #fd6b5c;
  }
</style>

<body>
  {% if user.is_authenticated %}
  {% if login_details.role == 'blocked_user' %}
  sorry, Your accout has been blocked

  {%else%}
  <div class="profile-view">
    <img id="profile-picture" src="{{user_details.profile_photo.url}}" style=" object-fit:cover;
                      margin-top: -8px;" onerror="this.src='{% static 'resources/profile_picture_replace.gif' %}';">
    <span>{{user_details.first_name}} {{user_details.last_name}}</span>
    <a href="{% url 'update' %}" type="button" id="update">Update Profile</a>
    <a href="{% url 'services' %}" type="button" id="services">Services</a>
    <a href="{% url 'logout' %}" id="logout" type="button">Logout</a>
  </div>
  <div class="profile-left">

  </div>

  <table id="profile">
    <tbody>
      <tr>
        <td>Username</td>
        <td id="colon">:</td>
        <td>{{login_details.username}}</td>
      </tr>
      <tr>
        <td>User Role </td>
        <td id="colon">:</td>
        <td>{{login_details.role}}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td id="colon">:</td>
        <td>{{user_details.gender}}</td>
      </tr>
      <tr>
        <td>College Email</td>
        <td id="colon">:</td>
        <td>{{user_details.college_email}}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td id="colon">:</td>
        <td>{{user_details.phone}}</td>
      </tr>
      <tr>
        <td>Designation</td>
        <td id="colon">:</td>
        <td>{{user_details.designation}}</td>
      </tr>
      {%if login_details.role != 'super_admin'%}
      <tr>
        <td>Department</td>
        <td id="colon">:</td>
        <td>{{user_details.department}}</td>
      </tr>
      {%if login_details.role == 'student' %}
      <tr>
        <td>Year </td>
        <td id="colon">:</td>
        <td>{{user_details.year}}</td>
      </tr>
      <tr>
        <td>Section</td>
        <td id="colon">:</td>
        <td>{{user_details.section}}</td>
      </tr>
      <tr>
        {%endif%}
        {%endif%}

        <td>Created</td>
        <td id="colon">:</td>
        <td>{{login_details.created_at}}</td>
      </tr>
      <tr>
        <td>Last Update</td>
        <td id="colon">:</td>
        <td>{{login_details.updated_at}}</td>
      </tr>
    </tbody>
  </table>
  {%endif%}
  {%endif%}
</body>

</html>
{%endblock%}