{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  {% if not user.is_authenticated %}
  <title>KPR-Services Register</title>
</head>

<body>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>

  <a id="register-login" href="{% url 'login' %}">Login</a>
  <img id="logo2" src="{% static 'resources/logo1.png' %}" alt="KPR logo">
  <div class="background-center">

    <form enctype="multipart/form-data" class="needs-validation" method="POST" validate>
      {% csrf_token %}

      <div class="register-left">
        <h2>Contact Information</h2><br>
        <div>
          <input type="text" value="{{form.first_name}}" name="first_name" id="first_name"
            title="College email only is allowed to login" placeholder=" " required>
          <label for="first_name">Firstname<b id="star">&nbsp;*</b></label>
        </div>
        <div>
          <input type="text" value="{{form.last_name}}" name="last_name" id="last_name"
            title="College email only is allowed to login" placeholder=" ">
          <label for="last_name">Lastname</label>
        </div>

        <div>
          <select name="gender" id="gender" placeholder=" " required>
            <option value="{{form.gender}}">{{form.gender}}</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
          <label for="gender">Gender<b id="star">&nbsp;*</b></label>
        </div>

        <div>
          <input type="number" name="phone" value="{{form.phone}}" id="phone" title="Enter your valid phone number"
            placeholder=" " required>
          <label for="phone">Phone<b id="star">&nbsp;*</b></label>
        </div>

        <div class="file-upload">
          <div class="file-select">
            <div class="file-select-button" id="fileName">Profile Picture</div>
            <div class="file-select-name" id="noFile">No file chosen...</div>
            <input type="file" value="{{form.profile_photo}}" name="photo" id="chooseFile">
          </div>
          <p>Your photo increase your Visibility</p>
        </div>

      </div>

      <div class="register-right">
        <h2>College Information</h2><br>
        <div>
          <input type="email" value="{{form.college_email}}" name="college_email" id="college_email"
            title="College email only is allowed to Register" placeholder=" " required>
          <label for="college_email">College Email<b id="star">&nbsp;*</b></label>
        </div>
        <div>
          <input type="password" value="{{form.password}}" name="password" id="password"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
            placeholder=" " required>
          <label for="password">Password<b id="star">&nbsp;*</b></label>
        </div>
        <div>
          <input type="password" value="{{form.confirm_password}}" name="confirm_password" id="confirm_password"
            placeholder=" " required>
          <label for="confirm_password">Confirm Password<b id="star">&nbsp;*</b></label>
        </div>

        <div>
          <select name="designation" id="designation" required>
            <option value="{{form.designation}}">{{form.designation}}</option>
            <option value="Head Of the Department">Head Of the Department</option>
            <option value="Professor">Professor</option>
            <option value="Associate Professor">Associate Professor</option>
            <option value="Assistant Professor">Assistant Professor</option>
            <option value="Lab Assistant">Lab Assistant</option>
            <option value="Department Assistant">Department Assistant</option>
            <option value="Student">Student</option>
            <option value="Office Staff">Office Staff</option>
            <option value="Other">Other</option>
          </select>
          <label for="designation">Designation<b id="star">&nbsp;*</b></label>
        </div>

        <div>
          <select name="department" id="department" required>
            <option value="{{form.department}}">{{form.department}}</option>
            <option value="Management">Management</option>
            <option value="Computer Science & Engineering">Computer Science & Engineering</option>
            <option value="Electrical & Communication Engineering">Electrical & Communication Engineering</option>
            <option value="Electrical & Electronics Engineering">Electrical & Electronics Engineering</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Mechanical Engineering">Mechanical Engineering</option>
            <option value="Biomedical Engineering">Biomedical Engineering</option>
            <option value="Chemical Engineering">Chemical Engineering</option>
            <option value="Physical Education">Physical Education</option>
            <option value="Management">Management</option>
            <option value="Food & Beverage">Food & Beverage</option>
            <option value="Transport">Transport</option>
            <option value="Human Resource">Human Resource</option>
            <option value="Research Division">Research Division</option>
            <option value="Other">Other</option>
          </select>
          <label for="department">Department<b id="star">&nbsp;*</b></label>
        </div>

        <div>
          <input type="number" value="{{form.year}}" name="year" min=1 max=4 id="year" placeholder=" " minlength="1"
            maxlength="1">
          <label for="year">Year (if student)</label>
        </div>

        <div>
          <input type="text" value="{{form.section}}" name="section" id="section" placeholder=" ">
          <label for="section">Section (if student)</label>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
  {%endif%}
</body>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
  $('#chooseFile').bind('change', function () {
    var filename = $("#chooseFile").val();
    if (/^\s*$/.test(filename)) {
      $(".file-upload").removeClass('active');
      $("#noFile").text("No file chosen...");
    }
    else {
      $(".file-upload").addClass('active');
      $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
    }
  });

</script>

</html>
{% endblock %}