{% extends 'services.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR-Services Reset Password</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  {% if user.is_authenticated %}
  <div id="nav-buttons">
    <a href="{% url 'services' %}">GoTo Services</a>
    <a href="{% url 'logout' %}">Logout</a>
  </div>
  <div class="container">
    <form class="needs-validation" method="POST" novalidate>
      {% csrf_token %}

      <div class="form-group">
        <label for="old_password">Old Password:</label>
        <input type="password" class="form-control" id="old_password" placeholder="Enter Old password"
          name="old_password">
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter Old Password</div>
      </div>

      <div class="form-group">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="new_password" class="form-control" placeholder="Enter new password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
          title="New Passworn must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
          required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">New Passworn must contain at least one number and one uppercase and lowercase
          letter, and at least 6 or more characters</div>
      </div>

      <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control"
          placeholder="Re - Enter the new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
          title="Confirm password must be same as New Password" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Confirm password must be same as New Password</div>
      </div>



      <button type="submit" class="btn btn-primary">Reset My Password</button>

    </form>
    {% if messages %}
    {% for message in messages %}
    <script>
      alert("{{ message }}");
    </script>
    {% endfor %}
    {% endif %}
  </div>


  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  {% else %}

  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'register' %}">Register</a>



























  {% endif %}
  <!-- {% if messages %}
        {% for message in messages %}
          <script>
              alert("{{ message }}");
          </script>
        {% endfor %} 
      {% endif %} -->

</body>

</html>
{% endblock %}