{% extends 'login.html' %}
{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR Services</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/messages.css' %}" />
  <link rel="stylesheet" href="{% static '/css/style1.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar  navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5 id="heading">KPR INSTITUTIONS - I M S</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      {% if user.is_authenticated %}
      <div id="nav-buttons">
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'profile' %}">Profile</a>
        {% if user.role == "playground_admin" or user.role == "super_admin" %}
        <a href="{% url 'user_admin' %}"><i class="fa fa-lock"></i> Admin</a>
        {% endif %}
      </div>
      {%endif%}
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>
  <div id="services1">

    <a href="{% url 'appointment' %}">
      <div class="column">
        <div class="card">
          <img src="{% static '/images/6.svg' %}" alt="">
          <h5>Appointments</h5>
          <p>
            How many days have you roamed in Mumbai to
            just check out various marriage halls in Andheri
          </p>
        </div>
      </div>
    </a>

    <a href="{% url 'food' %}">
      <div class="column">
        <div class="card">
          <img src="{% static '/images/1.svg' %}" alt="">
          <h5>Foods</h5>
          <p>
            How many days have you roamed in Mumbai to
            just check out various marriage halls in Andheri
          </p>
        </div>
      </div>
    </a>

    <a href="{% url 'playground_booking' %}">
      <div class="column">
        <div class="card">
          <img src="{% static '/images/5.svg' %}" alt="">
          <h5>Playground</h5>
          <p>
            How many days have you roamed in Mumbai to
            just check out various marriage halls in Andheri
          </p>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="column">
        <div class="card">
          <img src="{% static '/images/3.svg' %}" alt="">
          <h5>Halls</h5>
          <p>
            How many days have you roamed in Mumbai to
            just check out various marriage halls in Andheri
          </p>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="column">
        <div class="card">
          <img src="{% static '/images/2.svg' %}" alt="">
          <h5>Buses</h5>
          <p>
            How many days have you roamed in Mumbai to
            just check out various marriage halls in Andheri
          </p>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="column">
        <div class="card">
          <img src="{% static '/images/5.svg' %}" alt="">
          <h5>Cabs</h5>
          <p>
            How many days have you roamed in Mumbai to
            just check out various marriage halls in Andheri
          </p>
        </div>
      </div>
    </a>

  </div>
</body>

</html>



{% endblock %}