{% load static %}
{% static "resources" as images  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <title> {{ user_details.first_name }} - Update</title>
</head>

<body>

  <div class="background">
    <div class="register-logo">
      <img id="logo1" src="{% static 'resources/logo.png' %}" alt="KPR logo">
    </div>
  </div>
  <a id="register-login" href="{% url 'logout' %}">Logout</a>
  <img id="logo2" src="{% static 'resources/logo1.png' %}" alt="KPR logo">
  <div class="background-center">
    <form action="" enctype="multipart/form-data" method="POST" validate>
      {% csrf_token %}

      <div class="register-left">
        <h2>Contact Information</h2><br>

        <div>
          <input value="{{ user.username }}" id="college_email" title="Cannot change your username, Read only"
            placeholder=" " readonly>
          <label for="college_email">Username<b id="star">&nbsp;*</b></label>
        </div>
        <div>
          <input type="text" name="first_name" value="{{ user_details.first_name }}" id="first_name" required>
          <label for="first_name">Firstname<b id="star">&nbsp;*</b></label>
        </div>
        <div>
          <input type="text" name="last_name" value="{{ user_details.last_name }}" id="last_name">
          <label for="last_name">Lastname</label>
        </div>

        <div>
          <input type="number" name="phone" value="{{ user_details.phone }}" id="phone" minlength="10" maxlength="13"
            title="Enter your valid phone number" required>
          <label for="phone">Phone<b id="star">&nbsp;*</b></label>
        </div>

        <div class="file-upload">
          <div class="file-select">
            <div class="file-select-button" id="fileName">Profile Picture</div>
            <div class="file-select-name" id="noFile">No file chosen...</div>
            <input title="Only JPG or JPEG formats allowed" type="file" value="{{form.profile_photo}}" name="profile_photo" id="chooseFile">
          </div>
          <p>Your photo increase your Visibility</p>
        </div>
      
      </div>

      <div class="register-right">
        <h2>College Information</h2><br>
        <div>
          <input value="{{ user.username }}" id="college_email" title="Cannot change your email" readonly>
          <label for="college_email">College Email<b id="star">&nbsp;*</b></label>
        </div>
        <div>
          <select name="designation" id="designation" required>
            <option value="{{ user_details.designation }}">{{ user_details.designation }}</option>
            <option value="">Please select Designation</option>
            <option value="Head Of the Department">Head Of the Department</option>
            <option value="Professor">Professor</option>
            <option value="Associate Professor">Associate Professor</option>
            <option value="Assistant Professor">Assistant Professor</option>
            <option value="Lab Assistant">Lab Assistant</option>
            <option value="Department Assistant">Department Assistant</option>
            <option value="Student">Student</option>
            <option value="Office Staff">Office Staff</option>
            <option value="Other">Other</option>
          </select>
          <label for="designation">Designation<b id="star">&nbsp;*</b></label>
        </div>
        {% if user.role != "admin" or user.role != "super_admin" or user.role != "user_admin" %}
        <div>
          <select name="department" placeholder=" " id="department" required>
            <option value="{{ user_details.department }}">{{ user_details.department }}</option>
            <option value="Management">Management</option>
            <option value="Computer Science & Engineering">Computer Science & Engineering</option>
            <option value="Electrical & Communication Engineering">Electrical & Communication Engineering</option>
            <option value="Electrical & Electronics Engineering">Electrical & Electronics Engineering</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Mechanical Engineering">Mechanical Engineering</option>
            <option value="Biomedical Engineering">Biomedical Engineering</option>
            <option value="Chemical Engineering">Chemical Engineering</option>
            <option value="Physical Education">Physical Education</option>
            <option value="Management">Management</option>
            <option value="Food & Beverage">Food & Beverage</option>
            <option value="Transport">Transport</option>
            <option value="Human Resource">Human Resource</option>
            <option value="Research Division">Research Division</option>
            <option value="Other">Other</option>
          </select>
          <label for="department">Department<b id="star">&nbsp;*</b></label>
        </div>
        {% if user.role != "student" %}

        <div>
          <input type="number" name="year" value="{{ user_details.year }}" title="read only" minlength="1" maxlength="1"
            id="year" readonly required>
          <label for="year">Year</label>
        </div>

        <div>
          <input type="text" name="section" value="{{ user_details.section }}" title="read only" minlength="1"
            maxlength="1" id="section" readonly required>
          <label for="section">Section</label>
        </div>

        {%else%}
        <div>
          <input type="number" name="year" value="{{ user_details.year }}" minlength="1" maxlength="1" id="year">
          <label for="year">Year</label>
        </div>

        <div>
          <input type="text" name="section" value="{{ user_details.year }}" minlength="1" maxlength="1" id="section">
          <label for="section">Section:</label>
        </div>
        {%endif%}
        {%endif%}
        <button type="submit" class="btn btn-primary">Update</button><br>
        <a id="register-cancel" href="{% url 'profile' %}">Cancel</a>
    </form>
  </div>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>
  <script>
    $('#chooseFile').bind('change', function () {
      var filename = $("#chooseFile").val();
      if (/^\s*$/.test(filename)) {
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen...");
      }
      else {
        $(".file-upload").addClass('active');
        $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
      }
    });
  
  </script>
</body>

</html>
{% endblock %}