{% load static %}
{% static "resources" as images  %}
{% block content %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR User Admin</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/appointment_admin.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <span><b>KPR - USER ADMIN</b></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div id="nav-buttons">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
    <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
    <a href="{% url 'list_user' %}">Users</a>
    {%endif%}
  </div>
</div>
  </nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert" style="z-index: 1111;">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>
  <div id="divide">
    <h6>Add User</h6>
    <div class="container">
      <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" value="{{new_user}}" placeholder="Enter User Email" name="new_user"
            required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Enter New Password" name="password" required>
        </div>
        <div class="form-group">
          <select class="form-control" name="role">
            <option value="user">User</option>
            <option value="student">Student</option>
            <option value="staff">Staff</option>
            <option value="appointment_admin">Admin - Appointment Service</option>
            <option value="playground_admin">Admin - Playground Service</option>
            <option value="food_admin">Admin - Food Service </option>
            <option value="hall_admin">Admin - Hall Service</option>
            <option value="buse_admin">Admin - Bus Service</option>
            <option value="cab_admin">Admin - Cabs Service</option>
            <option value="lab_admin">Admin - Lab Service</option>
            <option value="it_admin">Admin - IT Services </option>
            {% if user.role == 'super_admin' or user.role == 'developer' %}
            <option value="user_admin">Admin - User Service</option>
            <option value="super_admin">Super Admin</option>
            <option value="developer">Developer</option>
            {%endif%}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>

  <div id="divide">
    <h6>Reset User Password</h6>
    <div class="container">
      <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" value="{{reset_username}}" placeholder="Enter User Email"
            name="reset_username" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" value="{{reset_password}}" placeholder="Enter New Password"
            name="reset_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset</button>
      </form>
    </div>
  </div>

  <div id="divide">
    <h6>Change User Role</h6>
    <div class="container">
      <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter User Email" name="change_role_username"
            value="{{change_role_username}}" required>
        </div>
        <div class="form-group">
          <select class="form-control" name="change_role">
            <option value="user">User</option>
            <option value="student">Student</option>
            <option value="staff">Staff</option>
            <option value="appointment_admin">Admin - Appointment Service</option>
            <option value="playground_admin">Admin - Playground Service</option>
            <option value="food_admin">Admin - Food Service</option>
            <option value="hall_admin">Admin - Hall Service</option>
            <option value="buse_admin">Admin - Bus Service</option>
            <option value="cab_admin">Admin - Cabs Service</option>
            <option value="lab_admin">Admin - Lab Service</option>
            <option value="it_admin">Admin - IT Services </option>
            {% if user.role == 'super_admin' or user.role == 'developer' %}
            <option value="user_admin">Admin - User Service</option>
            <option value="super_admin">Super Admin</option>
            <option value="developer">Developer</option>
            {%endif%}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Change</button>
      </form>
    </div>
  </div>

  <div id="divide">
    <h6>Get User Details</h6>
    <div class="container">
      <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter User Email" value="{{get_user}}" name="get_user"
            required>
        </div>
        <button type="submit" class="btn btn-primary">Get</button>
      </form>

      {%if user_detail %}
      <button type="button" id="user_detail" class="btn btn-success" data-toggle="modal"
        data-target="#user_detail{{ user_detail.first_name }}">Full Details</button>
      <div class="modal fade" id="user_detail{{ user_detail.first_name }}">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{ user_detail.first_name }} {{ user_detail.last_name }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <h6><strong>Login ID &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.login_id}}</h6>
              <h6><strong>User ID &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.user_id}}</h6>
              <h6><strong>Username &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.username}}</h6>
              <h6><strong>Role &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.role}}</h6>
              <hr>
              <h6><strong>First Name &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.first_name}}</h6>
              <h6><strong>Last Name &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.last_name}}</h6>
              <h6><strong>Gender &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.gender}}</h6>
              <h6><strong>College Email &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.college_email}}</h6>
              <h6><strong>Phone Number &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.phone}}</h6>
              <hr>
              <h6><strong>Department &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.department}}</h6>
              <h6><strong>Designation &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.designation}}</h6>
              {% if user_detail.designation == 'Student' %}
              <h6><strong>Year &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.year}}</h6>
              <h6><strong>Section &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.section}}</h6>
              {%endif%}
              <hr>
              <h6><strong>Last Login &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.last_login}}</h6>
              <hr>
              <h6><strong>Created at &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.created_at}}</h6>
              <h6><strong>Updated at &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.updated_at}}</h6>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            {%endif%}

          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="divide" style="height: 160px;">
    <h6>Block User</h6>
    <div class="container">
      <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter User Email" name="block_user"
            value="{{block_user}}" required>
        </div>
        <button type="submit" class="btn btn-warning">Block</button>
      </form>
    </div>
  </div>

  <div id="divide" style="height: 160px;">
    <h6>Delete User</h6>
    <div class="container">
      <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter User Email" name="delete_username"
            value="{{delete_username}}" required>
        </div>
        <button type="submit" class="btn btn-warning">Delete</button>
      </form>
    </div>
  </div>
  <div id="divide" style="height: 160px; background-color: rgb(248, 149, 149);">
    <h6>Delete All Passout Students</h6>
    <div class="container">
      <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Enter Year (Ex: 2016) Carefull" name="delete_all"
            value="{{delete_all}}" required>
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>

</body>
<script>
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

</html>


{%endif%}
{% endblock %}