input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button{
      -webkit-appearance: none;
      margin: 0;
  }
  #divide{
    background-color: #2eabb4;
    height:235px;
    width: 300px;
    display: block;
    float: left;
    margin-left: 30px;
    position: relative;
    top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #5a6566;
    margin-bottom: 10px;
}

#divide1{
    background-color: #2eabb4;
    height:485px;
    width: 300px;
    display: block;
    float: left;
    margin-left: 30px;
    position: relative;
    top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #5a6566;
}
#divide, #divide1{
    transition: .5s;
}
#divide:hover, #divide1:hover{
    box-shadow: 0 0 15px 5px white;
}
#divide>h6, #divide1>h6{
    text-align: center;
    color: black;
    width: 100%;
    height: 0;
    padding-top: 10px;
}
.modal h6{
    text-align: left;
}
#divide .container, #divide1 .container{
    position: relative;
    top: 30px;
}

#divide button[type='submit'], #divide1 button[type='submit']{
    position: relative;
    left: 35%;
    border-radius: 5px;
    width: 80px;
}
.file-upload{display:block;text-align:center; width: 90%; padding-left: 8%;}
    .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: rgb(5, 183, 253);cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
    .file-upload .file-select:hover{border-color:rgb(5, 183, 253);transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select:hover .file-select-button{background:rgb(5, 183, 253);color:black;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select .file-select-button{background:#3fa46a;color:black;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
    .file-upload .file-select.file-select-disabled{opacity:0.65;}
    .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: rgb(5, 183, 253);cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

#small-input{
    width: 48.5%;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

#divide button, #divide1 button{
    outline: none;
    background-color: black;
    margin-top: 20px;
    background-color: rgb(0, 35, 49);
    font-weight: bold;
    margin-left: -10px;
}
nav #today_sales{
    border: .5px solid rgb(0, 253, 84);
    color: rgb(44, 247, 111);
    padding: 5px 10px;
    margin-left: 20%;
}
#divide #today_sales{
    border: .5px solid rgb(0, 52, 68);
    color: rgb(0, 52, 68);
    padding: 10px;
    text-align: center;
    margin-left: 0%;
    margin-top: 0px;
}
