body {
    background-image: url("/static/images/back1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

.login-center {
    background-color: white;
    width: 700px;
    height: 400px;
    display: block;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    padding-top: 10px;
}

  .login-left {
    position: static;
    float: left;
    width: 35%;
    height: 402px;
    margin: -10px 0 0 -5px;
    border-radius: 20px 0 0 20px;
    background-color: #0be77d;
    }

.login-left img{
    position: relative;
    width: 90%;
    top: 90px;
    left: 12px;
}

.login-right img{
    display: none;
}

.login-right h1{
    color: #0be77d;
    text-align: center;
    padding: 15px 0;
}

.login-right input{
    position: relative;
    display: block;
    align-items: center;
    width: 370px;
    height: 40px;
    left: 40px;
    background-color: transparent;
    border-color: transparent;
    outline:none;
    border-bottom-color: rgb(185, 185, 185);
    font-weight: bold;
    color: rgb(97, 96, 96);
}

.login-right label{
    position: relative;
    top:-30px;
    left: 50px;
    font-weight: bold;
    color: rgba(122, 122, 122, 0.863);
    pointer-events: none;
    transition: .5s;
}

.login-right input:focus ~ label,
.login-right input:not(:placeholder-shown) ~ label{
    top: -60px;
}

.login-right input:focus,
.login-right input:valid{
    border-bottom: solid #0be77d;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.login input[type="submit"],
#login-a a{
    position: relative;
    top: 30px;
    left: 100px;
    outline: none;
    width: 250px;
    height: 45px;
    border-radius: 50px;
    border: solid #0be77d;
    transition: .5s;
}

.login input[type="submit"]:hover,
#login-a a:hover{
    background-color: #0be77d;
    color: black;
    border: solid #0f8049;
}

.login input[type="submit"]:active,
#login-a a:active{
    transition: 0s;
    background-color: white;
    border: solid #0be77d;
    color: rgb(97, 96, 96);
}

#login-a a{
    position: relative;
    text-decoration: none;
    margin: 10px;
    text-align: center;
    padding: 6px 0 0 0;
    width: 150px;
    left:60px;
    top:40px;
    font-weight: bold;
}

#login-a a[id='logout']{
    border-color: rgb(233, 69, 69);
    left: 150px;
    top: 100px;
    transition: .5s;
}
#login-a a[id='logout']:hover{
    background-color: rgba(250, 89, 89, 0.884);
    color: white;
}

#login-a a[id='logout']:active{
    transition: 0s;
    background-color: white;
    border: solid rgb(233, 69, 69);
    color: rgb(97, 96, 96);
}

#login-a a:visited{
    color: rgb(97, 96, 96);
}
#login-register{
    position: relative;
    font-weight: bold;
    top: 50px;
    text-align: center;
}

@media only screen and (max-width: 769px) {

    body {
        background-image: url("/static/images/back1v.jpg");
        background-size: 110%;
        }

    .login-center {
        right: 5px;
        width: 90%;
        height: 530px;
        margin-top: 70px;
    }

    .login-left {
        position: relative;
        right:300px;
        top: 50px;
        height: 300px;
        width: 400px;
        border-radius: 20px;
        transform: rotate(40deg);
        z-index: 0;
    }

    .login-left img{
        display: none;
    }

    .login-right img{
        display: block;
        position: relative;
        width: 90%;
        left: 5%;
        bottom: 280px;
    }

    .login-right h1{
        position: relative;
        bottom: 220px;
        font-size: 20px;
    }

    .login-right input{
        position: relative;
        width: 320px;
        height: 40px;
        bottom: 230px;
        left: 190px;
    }
    
    .login-right label{
        position: relative;
        top: -260px;
        left: 200px;
        font-size: 15px;
    }
    
    .login-right input:focus ~ label,
    .login-right input:not(:placeholder-shown) ~ label{
        top: -285px;
    }

    .login-right input:focus,
    .login-right input:valid{
        border-bottom: solid #0be77d;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }

    .login input[type="submit"]{
        position: relative;
        top: -220px;
        left: 230px;
        width: 230px;
        height: 40px;
    }
    #login-register{
        position: relative;
        font-weight: bold;
        top: -200px;
        text-align: center;
        font-size: 12px;
    }
    #login-a a[id='logout']{
        left: -200px;
        top: -100px;
        transition: .5s;
    }

    #login-a a{
        position: relative;
        top: -180px;
        left: 140px;
        outline: none;
        width: 200px;
        height: 45px;
        transition: .5s;
    }
    .login-right h1{
        position: relative;
        color: #0be77d;
        text-align: center;
        padding: 15px 0;
        left: -35px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 426px) {

    body {
        background-image: url("/static/images/back1v.jpg");
        background-size: 110%;
        position: fixed;
        }

    .login-center {
        right: 5px;
        width: 90%;
        height: 470px;
        margin-top: 70px;
    }

    .login-left {
        position: relative;
        right:220px;
        top: 10px;
        height: 200px;
        width: 300px;
        border-radius: 20px;
        transform: rotate(40deg);
        z-index: 0;
    }

    .login-left img{
        display: none;
    }

    .login-right img{
        display: block;
        position: relative;
        width: 90%;
        left: 5%;
        bottom: 180px;
    }

    .login-right h1{
        position: relative;
        bottom: 120px;
        font-size: 20px;
    }

    .login-right input{
        position: relative;
        width: 320px;
        bottom: 100px;
        left: 35px;
        top: -120px;
    }
    
    .login-right label{
        position: relative;
        top: -150px;
        left: 40px;
        font-size: 15px;
    }
    
    .login-right input:focus ~ label,
    .login-right input:not(:placeholder-shown) ~ label{
        top: -150px;
    }

    .login-right input:focus,
    .login-right input:valid{
        border-bottom: solid #0be77d;
    }

    .login input[type="submit"]{
        top: -120px;
        left: 75px;
        width: 230px;
        height: 40px;
    }
    #login-register{
        position: relative;
        font-weight: bold;
        top: -100px;
        text-align: center;
        font-size: 12px;
    }
    #login-a a[id='logout']{
        left: 80px;
        top: -100px;
    }

    #login-a a{
        position: relative;
        top: -100px;
        left: 80px;
    }
    .login-right #h1{
        position: relative;
        top: 90px;
        left: -145px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 570px) {
    .login-right input{
        position: relative;
        height: 30px;
        width: 230px;
        left: 25px;
    }
    .login input[type="submit"]{
        top: -100px;
        left: 25px;
        width: 230px;
        height: 40px;
    }

    #login-register{
        position: relative;
        font-weight: bold;
        top: -80px;
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (max-width: 321px) {
    .login-center {
        position: relative;
        right: 5px;
        width: 90%;
        height: 430px;
        left: 0px;
        margin-top: 70px;
    }
    .login-left {
        position: relative;
        float: left;
        width: 70%;
        height: 300px;
        right: 180px;
        top: 10px;
        border-radius: 20px;
        background-color: #0be77d;
        }
    .login-right input{
        position: relative;
        width: 240px;
        height: 35px;
        bottom: 200px;
        left: 25px;
    }
    .login-right label{
        position: relative;
        top: -230px;
        left: 40px;
        font-size: 15px;
    }
    .login input[type="submit"]{
        top: -200px;
        left: 45px;
        width: 200px;
        height: 40px;
    }
    #login-register{
        position: relative;
        font-weight: bold;
        top: -180px;
        text-align: center;
        font-size: 12px;
    }
    .login-right input:focus ~ label,
    .login-right input:not(:placeholder-shown) ~ label{
        top: -255px;
    }

    #login-a a[id='logout']{
        position: absolute;
        margin: 500px  -15px;
    }
    #login-a a{
        position: absolute;
        margin: 22px 0 0 -15px;
    }
    .login-right h1{
        position: absolute;
        margin: 0 -40px 0 0;
    }
}

@media only screen and (max-width: 376px) {

    #login-a a[id='logout']{
        left: 70px;
        top: -180px;
        transition: .5s;
    }

    #login-a a{
        position: relative;
        top: -180px;
        left: 70px;
        outline: none;
        width: 180px;
        height: 40px;
        transition: .5s;
        font-size: 15px;
    }
    .login-right h1{
        position: relative;
        color: #0be77d;
        text-align: center;
        padding: 15px 0;
        top: -250px;
        left: 0px;
        font-size: 20px;
    }
    .login-center {
        position: relative;
        right: 5px;
        width: 90%;
        height: 450px;
        left: 0px;
        margin-top: 70px;
    }
    .login-left {
        position: relative;
        float: left;
        width: 70%;
        height: 300px;
        right: 180px;
        top: 20px;
        border-radius: 20px;
        background-color: #0be77d;
        }
    .login-right input{
        position: relative;
        width: 260px;
        height: 35px;
        bottom: 220px;
        left: 42px;
    }
    .login-right label{
        position: relative;
        top: -250px;
        left: 55px;
        font-size: 15px;
    }
    
    .login input[type="submit"]{
        top: -220px;
        left: 65px;
        width: 200px;
        height: 40px;
    }
    #login-register{
        position: relative;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
    }
    .login-right input:focus ~ label,
    .login-right input:not(:placeholder-shown) ~ label{
        top: -275px;
    }
}

@media only screen and (max-width: 320px) {
    .login-right input{
        position: relative;
        width: 220px;
        height: 35px;
        bottom: 220px;
        left: 42px;
    }
    .login-right label{
        position: relative;
        top: -250px;
        left: 55px;
        font-size: 15px;
    }
    
    .login input[type="submit"]{
        top: -220px;
        left: 58px;
        width: 170px;
        height: 38px;
    }
    .login-right h1{
        position: relative;
        color: #0be77d;
        text-align: center;
        padding: 15px 0;
        top: -250px;
        left: -20px;
        font-size: 20px;
    }
}