*{
    font-family: 'Lato', 'Oxygen', sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button{
      -webkit-appearance: none;
      margin: 0;
  }
  #nav-buttons{
    width: 100%;
}
#nav-buttons a{
    float: right;
    padding: 5px 20px;
    margin-left: 20px;
    border-left: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    background-color: white;
    color: #0be77d;
    transition: .5s;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(155, 155, 155);
}

#nav-buttons a:hover{
    box-shadow: 0 0 10px 2px rgb(5, 183, 253);
    border-left: 3px solid rgb(5, 65, 88);
    border-right: 3px solid rgb(5, 65, 88);
    color: rgb(5, 65, 88);
}
#nav-buttons #logout{
    border-left: 3px solid red;
    border-right: 3px solid red;
    color: red;
}
#nav-buttons #logout:hover{
    box-shadow: 0 0 10px 2px red;
    border-left: 3px solid rgb(110, 0, 0);
    border-right: 3px solid rgb(110, 0, 0);
    color: rgb(110, 0, 0);
}
.profile-left {
    position: static;
    float: left;
    width: 250px;
    height: 45rem;
    margin: -30px 0 0 -10px;
    background-color: #24d1e1;
    box-shadow: 0 0 30px 2px rgba(8, 8, 8, 0.781);
}
.profile-view{
    position: absolute;
    width: 265px;
    height: 500px;
    left: 115px;
    top: 105px;
    background-color: white;
    border-radius: 10px;
    z-index: 0;
}
#profile-picture{
    position: relative;
    width: 170px;
    left: 47px;
    top: -85px;
    border-radius: 100px;
    cursor: pointer;
}

.profile-view span{
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 200px;
    height: 30px;
    left: 30px;
    top: -80px;
}
.profile-view a{
    position: relative;
    display: block;
    color: rgb(41, 36, 36);
    text-decoration: none;
    margin: 15px 0 0 0;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: solid 2px #fd6b5c;
    border-radius: 50px;
    width: 150px;
    left:48px;
    top:-20px;
    font-weight: bold;
    transition: .5s;
}
.profile-view a:hover{
    box-shadow: 0 0 10px 2px rgb(54, 54, 54);
}

.profile-view a:active{
    background-color: white;
}
a:visited{
    color: rgb(41, 36, 36)
}

.profile-view a[id="logout"]{
    background-color: #d80700d2;
    color: white;
    border: solid #d80700d2;
}

.profile-view a[id="logout"]:hover{
    background-color: white;
    color: black;
    border: solid 2px #d80700d2;
}

table{
    background-color: rgba(34, 33, 33, 0.479);
    position: relative;
    left: 300px;
    top: 80px;
    border-radius: 10px;
    padding: 30px;
    color: white;
}

table td{
    padding: 10px 20px;
    width: 180px;
}

table #colon{
    width: 20px;
    font-weight: bold;
}

td:first-child{
    font-weight: bold;
}


@media only screen and (min-width: 321px) and (max-width: 376px){
    .navbar #heading{
        font-size: .9rem;
    }
    .file-upload{display:block;text-align:center; width: 90%; padding-left: 8%;}
    .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
    .file-upload .file-select:hover{border-color:#b32361;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select:hover .file-select-button{background:#b32361;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
    .file-upload .file-select.file-select-disabled{opacity:0.65;}
    .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

    .profile-left {
        display: none;
    }
    .profile-view{
        position: absolute;
        width: 90%;
        min-height: 500px;
        height: 550px;
        left: 5%;
        top: 3%;
        background-color: white;
        border-radius: 50px 10px 10px 10px;
        z-index: 0;
    }
    #profile-picture{
        position: relative;
        width: 130px;
        border-radius: 50%;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
        cursor: pointer;
        top: 10px;
        left: 0px;
        z-index: 1;
    }
    .profile-view span{
        position: relative;
        display: block;
        text-align: center;
        font-size: .9rem;
        font-weight: bold;
        width: 180px;
        height: 30px;
        left: 140px;
        top: -75px;
        background-color: #24d1e1;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
        height: auto;
        padding: 5px;
        border-radius: 5px;
    }

    #register-cancel{
        color: white;
        text-align: center;
        border-bottom: 2px white solid;
        position: relative;
        left: 40%;
    }
    table{
        background-color: #04889488;
        position: relative;
        left: 23px;
        top: 170px;
        border-radius: 10px;
        padding: 10px;
        color: black;
        font-size: 12px;
    }
    table td{
        padding: 5px 10px;
        width: 100px;
    }
    table #colon{
        width: 0px;
        font-weight: bold;
    }
    .profile-view a[id="logout"]{
        display: none;
    }
    .profile-view a{
        position: relative;
        display: inline;
        top: 320px;
        font-size: 12px;
        left: 75px;
    }

    .background-center {
        position: relative;
        left: 25px;
        top: 40px;
        width: 320px;
        height: 630px;
        display: block;
        padding-top: 10px;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
    }

    #register-login{
        display: none;
    }
    .register-left {
        background-color: #ffffff;
        width: 100%;
        position: relative;
        top: -30px;
        }
        .background {
            display: none;
            }
            #logo2{
            display: block;
            width: 100%;
            padding: 10px 10px 0 10px;
            }
            .register-left h2,
        .register-right h2{
            position: relative;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            top: 10px;
        }
        .register-left h2{
            color: #b32361;
            
            
        }
        .register-right h2{
            color: white;
        }
        .register-right {
            background-color: #b32361;
            width: 100%;
            position: relative;
            top: 0px;
            }
        .register-left input,
        .register-left select,
        .register-right input,
        .register-right select{
            position: relative;
            display: block;
            align-items: center;
            width: 250px;
            height: 30px;
            left: 30px;
            background-color: transparent;
            border-color: transparent;
            outline:none;
            border-bottom: solid 2px rgb(185, 185, 185);
            font-size: 15px;
            margin: -5px 0;
        }
        .register-left input,
        .register-left select{
            color: #b32361;
        }
        
        .register-right input,
        .register-right select{
            color: white;
        }
        .register-left label,
        .register-right label{
            position: relative;
            top:-20px;
            left: 40px;
            font-size: 12px;
            font-weight: bold;
            pointer-events: none;
            transition: .5s;
        }
        
        .register-left label{
            color: rgba(122, 122, 122, 0.863);
        }
        .register-right label{
            color: rgb(221, 206, 206);
        }
        
        input:focus ~ label,
        select:valid ~ label,
        input:not(:placeholder-shown) ~ label{
            top: -35px;
        }
        
        .register-left input:focus,
        .register-left select:focus{
            border-bottom: solid #b32361;
        }
        
        .register-right input:focus,
        .register-right select:focus{
            border-bottom: solid #0be77d;
        }
        
        .register-right button[type='submit']{
            background-color: white;
            position: relative;
            left: 105px;
            width: 100px;
            height: 30px;
            padding: 0 0 1px 0;
            bottom: 15px;
            color: black;
            font-weight: bold;
            border: transparent 2px solid;
            box-shadow: 0 0 30px 0px rgba(8, 8, 8, 0.781);
            transition: .5s;
            border-radius: 20px;
        }
        .register-right button[type='submit']:hover{
            background-color: #0be77d;
            border: #036b39 2px solid;
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active,
        select:-webkit-autofill:focus{
            transition: background-color 5000s ease-in-out 0s;
        }

        .register-right option { 
            color: white; 
            background-color: #b32361;
        }

        .register-left option { 
            color: rgba(0, 0, 0, 0.547); 
            background-color: white;
        }

        /* Services page style */
.navbar img{
    width: 60px;
}

.navbar-brand span{
    display: none;
}

#nav-buttons a{
    padding: 0;
    margin: 0;
    padding: 5px 20px;
    margin-left: 20px;
    border-left: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    color: #0be77d;
    transition: .5s;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(155, 155, 155);
}
#nav-buttons a:hover{
    box-shadow: 0 0 10px 2px rgb(5, 183, 253);
    border-left: 3px solid rgb(5, 65, 88);
    border-right: 3px solid rgb(5, 65, 88);
    color: rgb(5, 65, 88);
}
#nav-buttons #logout{
    border-left: 3px solid red;
    border-right: 3px solid red;
    color: red;
}
#nav-buttons #logout:hover{
    box-shadow: 0 0 10px 2px red;
    border-left: 3px solid rgb(110, 0, 0);
    border-right: 3px solid rgb(110, 0, 0);
    color: rgb(110, 0, 0);
}

.column {
    width: 300px;
    float: left;
    margin: 0 0 0px 15px;
}
.column .card {
    height: 100px;
    border-radius: 0px;
    margin: 10px -15px 0px 20px;
    box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .column p{
      display: none;
}
.column img{
    width: 40px;
    position: relative;
    left: 43%;
    top: 10%;
}

.column h5{
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 18px;
}
}

@media only screen and (max-width: 321px){
    .file-upload{display:block;text-align:center; width: 90%; padding-left: 8%;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#b32361;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#b32361;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

    .column p{
        display: none;
    }
    .profile-left {
        display: none;
    }
    .profile-view{
        position: absolute;
        width: 95%;
        min-height: 500px;
        height: 550px;
        left: 3%;
        top: 2%;
        background-color: white;
        border-radius: 50px 10px 10px 10px;
        z-index: 0;
    }
    #profile-picture{
        position: relative;
        width: 110px;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
        cursor: pointer;
        top: 10px;
        left: 0px;
        z-index: 1;
    }
    .profile-view span{
        position: relative;
        display: block;
        text-align: center;
        font-size: .8rem;
        font-weight: bold;
        width: 170px;
        height: 30px;
        left: 115px;
        top: -60px;
        background-color: #24d1e1;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
        height: auto;
        padding: 5px;
        border-radius: 5px;
    }
    #register-cancel{
        color: white;
        text-align: center;
        border-bottom: 2px white solid;
        position: relative;
        left: 41%;
        font-size: 15;
    }
    table{
        background-color: #04889488;
        position: relative;
        left: 8px;
        top: 150px;
        border-radius: 10px;
        padding: 10px;
        color: black;
        font-size: 12px;
    }
    table td{
        padding: 5px 10px;
        width: 80px;
    }
    table #colon{
        width: 0px;
        font-weight: bold;
    }
    .profile-view a[id="logout"]{
        display: none;
    }
    .profile-view a{
        position: relative;
        display: inline;
        top: 380px;
        left: 55px;
        font-size: 12px;
    }
/* register page styles */

    .background-center {
        width: 320px;
        height: 610px;
        display: block;
        margin-top: 30px;
        padding-top: 0px;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
    }

    #register-login{
        display: none;
    }
    .register-left {
        background-color: #ffffff;
        width: 100%;
        position: relative;
        top: -20px;
        }
        .background {
            display: none;
            }
            #logo2{
            display: block;
            width: 100%;
            padding: 10px;
            }
            .register-left h2,
        .register-right h2{
            position: relative;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            top: 10px;
        }
        .register-left h2{
            color: #b32361;
            
            
        }
        .register-right h2{
            color: white;
        }
        .register-right {
            background-color: #b32361;
            width: 100%;
            position: relative;
            top: 0px;
            }
        .register-left input,
        .register-left select,
        .register-right input,
        .register-right select{
            position: relative;
            display: block;
            align-items: center;
            width: 250px;
            height: 20px;
            left: 30px;
            background-color: transparent;
            border-color: transparent;
            outline:none;
            border-bottom: solid 2px rgb(185, 185, 185);
            font-size: 15px;
            margin: -5px 0;
        }
        .register-left input,
        .register-left select{
            color: #b32361;
        }
        
        .register-right input,
        .register-right select{
            color: white;
        }
        .register-left label,
        .register-right label{
            position: relative;
            top:-20px;
            left: 40px;
            font-size: 12px;
            font-weight: bold;
            pointer-events: none;
            transition: .5s;
        }
        
        .register-left label{
            color: rgba(122, 122, 122, 0.863);
        }
        .register-right label{
            color: rgb(221, 206, 206);
        }
        
        input:focus ~ label,
        select:valid ~ label,
        input:not(:placeholder-shown) ~ label{
            top: -35px;
        }
        
        .register-left input:focus,
        .register-left select:focus{
            border-bottom: solid #b32361;
        }
        
        .register-right input:focus,
        .register-right select:focus{
            border-bottom: solid #0be77d;
        }
        
        .register-right button[type='submit']{
            background-color: white;
            position: relative;
            left: 105px;
            width: 100px;
            height: 30px;
            padding: 0 0 1px 0;
            bottom: 15px;
            color: black;
            font-weight: bold;
            border: transparent 2px solid;
            box-shadow: 0 0 30px 0px rgba(8, 8, 8, 0.781);
            transition: .5s;
            border-radius: 20px;
        }
        .register-right button[type='submit']:hover{
            background-color: #0be77d;
            border: #036b39 2px solid;
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active,
        select:-webkit-autofill:focus{
            transition: background-color 5000s ease-in-out 0s;
        }

        .register-right option { 
            color: white; 
            background-color: #b32361;
        }

        .register-left option { 
            color: rgba(0, 0, 0, 0.547); 
            background-color: white;
        }


          /* Services page style */
.navbar img{
    width: 60px;
}

.navbar-brand span{
    display: none;
}
.navbar #heading{
    font-size: .8rem;
}
#nav-buttons a{
    padding: 0;
    margin: 0;
    padding: 5px 10px;
    margin-left: 20px;
    border-left: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    color: #0be77d;
    transition: .5s;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(155, 155, 155);
}
#nav-buttons a:hover{
    box-shadow: 0 0 10px 2px rgb(5, 183, 253);
    border-left: 3px solid rgb(5, 65, 88);
    border-right: 3px solid rgb(5, 65, 88);
    color: rgb(5, 65, 88);
}
#nav-buttons #logout{
    border-left: 3px solid red;
    border-right: 3px solid red;
    color: red;
}
#nav-buttons #logout:hover{
    box-shadow: 0 0 10px 2px red;
    border-left: 3px solid rgb(110, 0, 0);
    border-right: 3px solid rgb(110, 0, 0);
    color: rgb(110, 0, 0);
}


.column {
    width: 270px;
    float: left;
    margin: 10px 0 10px 25px;
}
.column .card {
    height: 100px;
    border-radius: 0px;
    box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

.column img{
    width: 40px;
    position: relative;
    left: 42%;
    top: 10%;
}

.column h5{
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 18px;
}
    }

@media only screen and (min-width: 376px) and (max-width: 426px){
    #profile-picture{
        position: relative;
        width: 100px;
        left: 47px;
        top: -85px;
        border-radius: 100px;
        cursor: pointer;
    }
.file-upload{display:block;text-align:center; width: 90%; padding-left: 8%;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#b32361;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#b32361;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


           /* Services page style */
.navbar img{
    width: 60px;
}

.navbar-brand span{
    display: none;
}

#nav-buttons a{
    padding: 0;
    margin: 0;
    padding: 5px 20px;
    margin-left: 20px;
    border-left: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    color: #0be77d;
    transition: .5s;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(155, 155, 155);
}
#nav-buttons a:hover{
    box-shadow: 0 0 10px 2px rgb(5, 183, 253);
    border-left: 3px solid rgb(5, 65, 88);
    border-right: 3px solid rgb(5, 65, 88);
    color: rgb(5, 65, 88);
}
#nav-buttons #logout{
    border-left: 3px solid red;
    border-right: 3px solid red;
    color: red;
}
#nav-buttons #logout:hover{
    box-shadow: 0 0 10px 2px red;
    border-left: 3px solid rgb(110, 0, 0);
    border-right: 3px solid rgb(110, 0, 0);
    color: rgb(110, 0, 0);
}

.column {
    width: 320px;
    float: left;
    margin: 10px 0 10px 53px;
}
.column .card {
    height: 100px;
    border-radius: 0px;
    box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }


  .column p{
      display: none;
}
.column img{
    width: 40px;
    position: relative;
    left: 44%;
    top: 10%;
}

.column h5{
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 18px;
}

    .profile-left {
        display: none;
    }
    .profile-view{
        position: absolute;
        width: 90%;
        min-height: 500px;
        height: 540px;
        left: 5%;
        top: 3%;
        background-color: white;
        border-radius: 50px 10px 10px 10px;
        z-index: 0;
    }
    #profile-picture{
        position: relative;
        width: 100px;
        border-radius: 50%;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
        cursor: pointer;
        top: 10px;
        left: 10px;
        z-index: 1;
    }
    .profile-view span{
        position: relative;
        display: block;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        width: 200px;
        height: 30px;
        left: 140px;
        top: -60px;
        background-color: #24d1e1;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
        height: auto;
        padding: 5px;
        border-radius: 5px;
    }
    
    #register-cancel{
        color: white;
        text-align: center;
        border-bottom: 2px white solid;
        position: relative;
        left: 42%;
    }
    table{
        background-color: #04889488;
        position: relative;
        left: 35px;
        top: 130px;
        border-radius: 10px;
        padding: 10px;
        color: black;
        font-size: 12px;
    }
    table td{
        padding: 5px 10px;
        width: 120px;
    }
    table #colon{
        width: 0px;
        font-weight: bold;
    }
    .profile-view a[id="logout"]{
        display: none;
    }
    .profile-view a{
        position: relative;
        display: inline;
        top: 370px;
        font-size: 12px;
        left: 90px;
    }

    /* register page styles */

    .background-center {

        width: 380px;
        height: 610px;
        display: block;
        z-index: -1;
        margin: 10px 0 0 20px;
        padding-top: 10px;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
    }

    #register-login{
        display: none;
    }
    .register-left {
        background-color: #ffffff;
        width: 100%;
        position: relative;
        top: 0px;
        }
        .background {
            display: none;
            }
            #logo2{
            display: block;
            width: 100%;
            padding: 10px;
            }
            .register-left h2,
        .register-right h2{
            position: relative;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            top: 10px;
        }
        .register-left h2{
            color: #b32361;
            
            
        }
        .register-right h2{
            color: white;
        }
        .register-right {
            background-color: #b32361;
            width: 100%;
            position: relative;
            top: 20px;
            }
        .register-left input,
        .register-left select,
        .register-right input,
        .register-right select{
            position: relative;
            display: block;
            align-items: center;
            width: 310px;
            height: 20px;
            left: 30px;
            background-color: transparent;
            border-color: transparent;
            outline:none;
            border-bottom: solid 2px rgb(185, 185, 185);
            font-size: 15px;
        }
        .register-left input,
        .register-left select{
            color: #b32361;
        }
        
        .register-right input,
        .register-right select{
            color: white;
        }
        .register-left label,
        .register-right label{
            position: relative;
            top:-30px;
            left: 40px;
            font-size: 12px;
            font-weight: bold;
            pointer-events: none;
            transition: .5s;
        }
        
        .register-left label{
            color: rgba(122, 122, 122, 0.863);
        }
        .register-right label{
            color: rgb(221, 206, 206);
        }
        
        input:focus ~ label,
        select:valid ~ label,
        input:not(:placeholder-shown) ~ label{
            top: -45px;
        }
        
        .register-left input:focus,
        .register-left select:focus{
            border-bottom: solid #b32361;
        }
        
        .register-right input:focus,
        .register-right select:focus{
            border-bottom: solid #0be77d;
        }
        
        .register-right button[type='submit']{
            background-color: white;
            position: relative;
            left: 135px;
            width: 100px;
            height: 30px;
            padding: 0 0 1px 0;
            bottom: 15px;
            color: black;
            font-weight: bold;
            border: transparent 2px solid;
            box-shadow: 0 0 30px 0px rgba(8, 8, 8, 0.781);
            transition: .5s;
            border-radius: 20px;
        }
        .register-right button[type='submit']:hover{
            background-color: #0be77d;
            border: #036b39 2px solid;
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active,
        select:-webkit-autofill:focus{
            transition: background-color 5000s ease-in-out 0s;
        }
        .register-right option { 
            color: white; 
            background-color: #b32361;
        }

        .register-left option { 
            color: rgba(0, 0, 0, 0.547); 
            background-color: white;
        }
}

@media only screen and (min-width: 427px) and (max-width: 768px){
    .file-upload{display:block;text-align:center; width: 90%; padding-left: 8%;}
    .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
    .file-upload .file-select:hover{border-color:#b32361;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select:hover .file-select-button{background:#b32361;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
    .file-upload .file-select.file-select-disabled{opacity:0.65;}
    .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
    /* Services page style */
.navbar img{
    width: 60px;
}

.navbar-brand span{
    display: none;
}

#nav-buttons a{
    padding: 0;
    margin: 0;
    padding: 5px 20px;
    margin-left: 20px;
    border-left: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    color: #0be77d;
    transition: .5s;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(155, 155, 155);
}
#nav-buttons a:hover{
    box-shadow: 0 0 10px 2px rgb(5, 183, 253);
    border-left: 3px solid rgb(5, 65, 88);
    border-right: 3px solid rgb(5, 65, 88);
    color: rgb(5, 65, 88);
}
#nav-buttons #logout{
    border-left: 3px solid red;
    border-right: 3px solid red;
    color: red;
}
#nav-buttons #logout:hover{
    box-shadow: 0 0 10px 2px red;
    border-left: 3px solid rgb(110, 0, 0);
    border-right: 3px solid rgb(110, 0, 0);
    color: rgb(110, 0, 0);
}

/* #services{
    padding: 20px 0 0 35px;
} */

.column {
    width: 150px;
    float: left;
    margin: 0 20px 25px 10px;
}
.column .card {
    height: 230px;
    border-radius: 0px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .column p{
    color: rgb(223, 203, 203);
    position: relative;
    text-align: center;
    top: 30px;
    margin: 0 15px;
    font-size: 12px;
}
.column img{
    width: 40px;
    position: relative;
    left: 37%;
    top: 10%;
}

.column h5{
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    top: 30px;
    font-size: 15px;
}
    .profile-left {
        position: static;
        float: left;
        width: 150px;
        height: 70rem;
        margin: -30px 0 0 -10px;
        background-color: #24d1e1;
        box-shadow: 0 0 30px 2px rgba(8, 8, 8, 0.781);
    }
    .profile-view{
        position: absolute;
        width: 225px;
        height: 500px;
        left: 40px;
        top: 135px;
        background-color: white;
        border-radius: 10px;
        z-index: 0;
    }
    #profile-picture{
        position: relative;
        width: 160px;
        left: 33px;
        top: -75px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .profile-view span{
        position: relative;
        display: block;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        width: 200px;
        height: 30px;
        left: 10px;
        top: -50px;
    }
    .profile-view a{
        width: 150px;
        left:25px;
    }
    table{
        left: 150px;
        top: 110px;
        margin: 0px;
        padding: 10px;
    }
    
    table td{
        width: 130px;
    }
    
    table #colon{
        width: 0px;
        font-weight: bold;
    }
    
    td:first-child{
        font-weight: bold;
    }

    .background-center {
        position: absolute;
        background-color: #b32361;
        width: 900px;
        height: 610px;
        display: block;
        top: 140px;
        left: 220px;
        z-index: -1;
        padding-top: 10px;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
    }
    .register-left {
        position: relative;
        background-color: white;
        float: left;
        width: 450px;
        height: 610px;
        bottom: 10px;
        }
        #register-login{
            position: relative;
            display: block;
            top: 20px;
            left:1180px;
            height: 40px;
            width: 150px;
            background-color: rgb(255, 255, 255);
            text-decoration: none;
            text-align: center;
            padding: 8px;
            border-radius: 50px;
            box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
            transition: .5s;
            font-weight: bold;
        }

        .background{
            position: fixed;
            top:0px;
            left: 0px;
            height: 80px;
            width: 95px;
            box-shadow: 0 0 50px 0 rgba(53, 53, 53, 0.781);
            border-radius: 0 0 10px 0;
            overflow: hidden
        }
        
        .background > .register-logo #logo1{
            position: relative;
            width: 70px;
            left: 10px;
            top: 5px
        }
        
        #logo2{
            display: none;
        }
        
        #register-login:hover{
            background-color: tomato;
        }
        
        #register-login:active{
            background-color: rgb(255, 255, 255);
        }
        
        .register-left h2,
        .register-right h2{
            text-align: center;
            font-size: 25px;
        }
        .register-left h2{
            color: #b32361;
            position: relative;
            top: 10px;
        }
        .register-right h2{
            color: #ffffff;
        }
        
        .register-left input,
        .register-left select,
        .register-right input,
        .register-right select{
            position: relative;
            display: block;
            align-items: center;
            width: 370px;
            height: 40px;
            left: 40px;
            background-color: transparent;
            border-color: transparent;
            outline:none;
            border-bottom: solid 2px rgb(185, 185, 185);
            font-weight: bold;
        }
        
        .register-left input,
        .register-left select{
            color: #b32361;
        }
        
        .register-right input,
        .register-right select{
            color: white;
        }
        .register-left label,
        .register-right label{
            position: relative;
            top:-30px;
            left: 50px;
            font-weight: bold;
            pointer-events: none;
            transition: .5s;
        }
        
        .register-left label{
            color: rgba(122, 122, 122, 0.863);
        }
        .register-right label{
            color: rgb(221, 206, 206);
        }
        
        input:focus ~ label,
        select:valid ~ label,
        input:not(:placeholder-shown) ~ label{
            top: -60px;
        }
        
        .register-left input:focus,
        .register-left select:focus{
            border-bottom: solid #b32361;
        }
        
        .register-right input:focus,
        .register-right select:focus{
            border-bottom: solid #0be77d;
        }
        
        .register-right button[type='submit']{
            background-color: white;
            position: relative;
            left: 160px;
            width: 150px;
            bottom: 15px;
            color: black;
            font-weight: bold;
            border: transparent 2px solid;
            box-shadow: 0 0 30px 0px rgba(8, 8, 8, 0.781);
            transition: .5s;
            border-radius: 20px;
        }
        .register-right button[type='submit']:hover{
            background-color: #0be77d;
            border: #036b39 2px solid;
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active,
        select:-webkit-autofill:focus{
            transition: background-color 5000s ease-in-out 0s;
        }

        .register-right option { 
            color: white; 
            background-color: #b32361;
        }

        .register-left option { 
            color: rgba(0, 0, 0, 0.547); 
            background-color: white;
        }
}

@media only screen and (min-width: 768px) and (max-width: 1025px){
    
.file-upload{display:block;text-align:center; width: 90%; padding-left: 8%;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#b32361;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#b32361;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

 /* Services page style */
    .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    
    #nav-buttons a{
        padding: 0;
        margin: 0;
        padding: 5px 20px;
        margin-left: 20px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);
    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #services1{
        padding: 75px 0 0 25px;
    }
    
    .column {
        width: 150px;
        float: left;
        margin: 0 20px 25px 10px;
    }
    .column .card {
        height: 230px;
        border-radius: 0px;
        box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
      }

      .column p{
        color: rgb(223, 203, 203);
        position: relative;
        text-align: center;
        top: 30px;
        margin: 0 15px;
        font-size: 12px;
    }
    .column img{
        width: 40px;
        position: relative;
        left: 37%;
        top: 10%;
    }
    
    .column h5{
        font-weight: bold;
        color: rgb(255, 255, 255);
        position: relative;
        text-align: center;
        top: 30px;
        font-size: 15px;
    }

/* ------------------------------------------------------------------ */
    table{
        left: 190px;
        top: 100px;
        margin: 0px;
        padding: 10px;
    }
    .profile-left {
        height: 72rem;
    }

    .background-center {
        position: absolute;
        background-color: #b32361;
        width: 900px;
        height: 610px;
        display: block;
        top: 140px;
        left: 220px;
        z-index: -1;
        padding-top: 10px;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
    }
    .register-left {
        position: relative;
        background-color: white;
        float: left;
        width: 450px;
        height: 610px;
        bottom: 10px;
        }
        #register-login{
            position: relative;
            display: block;
            top: 20px;
            left:1180px;
            height: 40px;
            width: 150px;
            background-color: rgb(255, 255, 255);
            text-decoration: none;
            text-align: center;
            padding: 8px;
            border-radius: 50px;
            box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
            transition: .5s;
            font-weight: bold;
        }
        #register-cancel{
            color: white;
            text-align: center;
            border-bottom: 2px white solid;
            position: relative;
            left: 23%;
        }
        .background{
            position: fixed;
            top:0px;
            left: 0px;
            height: 80px;
            width: 95px;
            box-shadow: 0 0 50px 0 rgba(53, 53, 53, 0.781);
            border-radius: 0 0 10px 0;
            overflow: hidden
        }
        
        .background > .register-logo #logo1{
            position: relative;
            width: 70px;
            left: 10px;
            top: 5px
        }
        
        #logo2{
            display: none;
        }
        
        #register-login:hover{
            background-color: tomato;
        }
        
        #register-login:active{
            background-color: rgb(255, 255, 255);
        }
        
        .register-left h2,
        .register-right h2{
            text-align: center;
            font-size: 25px;
        }
        .register-left h2{
            color: #b32361;
            position: relative;
            top: 10px;
        }
        .register-right h2{
            color: #ffffff;
        }
        
        .register-left input,
        .register-left select,
        .register-right input,
        .register-right select{
            position: relative;
            display: block;
            align-items: center;
            width: 370px;
            height: 40px;
            left: 40px;
            background-color: transparent;
            border-color: transparent;
            outline:none;
            border-bottom: solid 2px rgb(185, 185, 185);
            font-weight: bold;
        }
        
        .register-left input,
        .register-left select{
            color: #b32361;
        }
        
        .register-right input,
        .register-right select{
            color: white;
        }
        .register-left label,
        .register-right label{
            position: relative;
            top:-30px;
            left: 50px;
            font-weight: bold;
            pointer-events: none;
            transition: .5s;
        }
        
        .register-left label{
            color: rgba(122, 122, 122, 0.863);
        }
        .register-right label{
            color: rgb(221, 206, 206);
        }
        
        input:focus ~ label,
        select:valid ~ label,
        input:not(:placeholder-shown) ~ label{
            top: -60px;
        }
        
        .register-left input:focus,
        .register-left select:focus{
            border-bottom: solid #b32361;
        }
        
        .register-right input:focus,
        .register-right select:focus{
            border-bottom: solid #0be77d;
        }
        
        .register-right button[type='submit']{
            background-color: white;
            position: relative;
            left: 160px;
            width: 150px;
            bottom: 15px;
            color: black;
            font-weight: bold;
            border: transparent 2px solid;
            box-shadow: 0 0 30px 0px rgba(8, 8, 8, 0.781);
            transition: .5s;
            border-radius: 20px;
        }
        .register-right button[type='submit']:hover{
            background-color: #0be77d;
            border: #036b39 2px solid;
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active,
        select:-webkit-autofill:focus{
            transition: background-color 5000s ease-in-out 0s;
        }
        .register-right option { 
            color: white; 
            background-color: #b32361;
        }

        .register-left option { 
            color: rgba(0, 0, 0, 0.547); 
            background-color: white;
        }
}

@media only screen and (min-width: 1026px) and (max-width: 1441px){
    
.file-upload{display:block;text-align:center; width: 90%; padding-left: 8%;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#b32361;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#b32361;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


     /* Services page style */
     .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    
    #nav-buttons a{
        padding: 0;
        margin: 0;
        padding: 5px 20px;
        margin-left: 20px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);
    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #services1{
        padding: 75px 0 0 50px;
    }
    
    .column {
        width: 190px;
        float: left;
        margin: 0 10px 20px 10px;
    }
    .column .card {
        height: 300px;
        border-radius: 0px;
        box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.541);
        transition: .5s;
      }

      .column p{
        color: rgb(223, 203, 203);
        position: relative;
        text-align: center;
        top: 50px;
        margin: 0 15px;
        font-size: 15px;
    }
    .column img{
        width: 40px;
        position: relative;
        left: 40%;
        top: 10%;
    }
    
    .column h5{
        font-weight: bold;
        color: rgb(255, 255, 255);
        position: relative;
        text-align: center;
        top: 40px;
        font-size: 18px;
    }
/* ---------------------------------------------------------------------------------------- */
    .profile-left {
        height: 89rem;
    }
    .background-center {
        position: absolute;
        background-color: #b32361;
        width: 900px;
        height: 610px;
        display: block;
        top: 40px;
        left: 220px;
        z-index: -1;
        padding-top: 10px;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
    }
    .register-left {
        position: relative;
        background-color: white;
        float: left;
        width: 450px;
        height: 610px;
        bottom: 10px;
        }
        #register-login{
            position: relative;
            display: block;
            top: 20px;
            left:1180px;
            height: 40px;
            width: 150px;
            background-color: rgb(255, 255, 255);
            text-decoration: none;
            text-align: center;
            padding: 8px;
            border-radius: 50px;
            box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
            transition: .5s;
            font-weight: bold;
        }

        #register-cancel{
            color: white;
            text-align: center;
            border-bottom: 2px white solid;
            position: relative;
            left: 23%;
        }

        .background{
            position: fixed;
            top:0px;
            left: 0px;
            height: 80px;
            width: 95px;
            box-shadow: 0 0 50px 0 rgba(53, 53, 53, 0.781);
            border-radius: 0 0 10px 0;
            overflow: hidden
        }
        
        .background > .register-logo #logo1{
            position: relative;
            width: 70px;
            left: 10px;
            top: 5px
        }
        
        #logo2{
            display: none;
        }
        
        #register-login:hover{
            background-color: tomato;
        }
        
        #register-login:active{
            background-color: rgb(255, 255, 255);
        }
        
        .register-left h2,
        .register-right h2{
            text-align: center;
            font-size: 25px;
        }
        .register-left h2{
            color: #b32361;
            position: relative;
            top: 10px;
        }
        .register-right h2{
            color: #ffffff;
        }
        
        .register-left input,
        .register-left select,
        .register-right input,
        .register-right select{
            position: relative;
            display: block;
            align-items: center;
            width: 370px;
            height: 40px;
            left: 40px;
            background-color: transparent;
            border-color: transparent;
            outline:none;
            border-bottom: solid 2px rgb(185, 185, 185);
            font-weight: bold;
        }
        
        .register-left input,
        .register-left select{
            color: #b32361;
        }
        
        .register-right input,
        .register-right select{
            color: white;
        }
        .register-left label,
        .register-right label{
            position: relative;
            top:-30px;
            left: 50px;
            font-weight: bold;
            pointer-events: none;
            transition: .5s;
        }
        
        .register-left label{
            color: rgba(122, 122, 122, 0.863);
        }
        .register-right label{
            color: rgb(221, 206, 206);
        }
        
        input:focus ~ label,
        select:valid ~ label,
        input:not(:placeholder-shown) ~ label{
            top: -60px;
        }
        
        .register-left input:focus,
        .register-left select:focus{
            border-bottom: solid #b32361;
        }
        
        .register-right input:focus,
        .register-right select:focus{
            border-bottom: solid #0be77d;
        }
        
        .register-right button[type='submit']{
            background-color: white;
            position: relative;
            left: 160px;
            width: 150px;
            bottom: 15px;
            color: black;
            font-weight: bold;
            border: transparent 2px solid;
            box-shadow: 0 0 30px 0px rgba(8, 8, 8, 0.781);
            transition: .5s;
            border-radius: 20px;
        }
        .register-right button[type='submit']:hover{
            background-color: #0be77d;
            border: #036b39 2px solid;
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active,
        select:-webkit-autofill:focus{
            transition: background-color 5000s ease-in-out 0s;
        }
        .register-right option { 
            color: white; 
            background-color: #b32361;
        }

        .register-left option { 
            color: rgba(0, 0, 0, 0.547); 
            background-color: white;
        }
}

@media only screen and (min-width: 1442px){
    .file-upload{display:block;text-align:center; width: 90%; padding-left: 8%;}
    .file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
    .file-upload .file-select:hover{border-color:#b32361;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select:hover .file-select-button{background:#b32361;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
    .file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
    .file-upload .file-select.file-select-disabled{opacity:0.65;}
    .file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #b32361;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
    .file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
    .file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}


         /* Services page style */
         .navbar img{
            width: 60px;
        }
        
        .navbar-brand span{
            display: none;
        }
        
        #nav-buttons a{
            padding: 0;
            margin: 0;
            padding: 5px 20px;
            margin-left: 20px;
            border-left: 3px solid rgb(112, 112, 112);
            border-right: 3px solid rgb(112, 112, 112);
            color: #0be77d;
            transition: .5s;
            font-weight: bold;
            box-shadow: 0 0 10px 2px rgb(155, 155, 155);
        }
        #nav-buttons a:hover{
            box-shadow: 0 0 10px 2px rgb(5, 183, 253);
            border-left: 3px solid rgb(5, 65, 88);
            border-right: 3px solid rgb(5, 65, 88);
            color: rgb(5, 65, 88);
        }
        #nav-buttons #logout{
            border-left: 3px solid red;
            border-right: 3px solid red;
            color: red;
        }
        #nav-buttons #logout:hover{
            box-shadow: 0 0 10px 2px red;
            border-left: 3px solid rgb(110, 0, 0);
            border-right: 3px solid rgb(110, 0, 0);
            color: rgb(110, 0, 0);
        }
        
        
        /* #services{
            padding: 75px 0 0 300px;
        }
         */
        .column {
            width: 220px;
            float: left;
            margin: 0 20px 25px 9px;
        }
        .column .card {
            margin-left: 0px;
            margin-top: 50px;
            height: 350px;
            border-radius: 0px;
            box-shadow: inset 0 0 20px 10px rgba(7, 7, 7, 0.3);
            transition: .5s;
          }
    
          .column p{
            color: rgb(223, 203, 203);
            position: relative;
            text-align: center;
            top: 60px;
            margin: 0 15px;
            font-size: 12px;
        }
        .column img{
            width: 40px;
            position: relative;
            left: 42%;
            top: 10%;
        }
        
        .column h5{
            font-weight: bold;
            color: rgb(255, 255, 255);
            position: relative;
            text-align: center;
            top: 50px;
            font-size: 15px;
        }
/* ----------------------------------------------------------------------------- */
    .profile-left {
        height: 145rem;
    }
    .background-center {
        position: absolute;
        background-color: #39fa20;
        width: 900px;
        height: 610px;
        display: block;
        top: 40px;
        left: 220px;
        z-index: -1;
        padding-top: 10px;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
    }

    
    .background-center {
        position: absolute;
        background-color: #b32361;
        width: 900px;
        height: 610px;
        display: block;
        top: 40px;
        left: 220px;
        z-index: -1;
        padding-top: 10px;
        box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
    }
    .register-left {
        position: relative;
        background-color: white;
        float: left;
        width: 450px;
        height: 610px;
        bottom: 10px;
        }
        #register-login{
            position: relative;
            display: block;
            top: 20px;
            left:1180px;
            height: 40px;
            width: 150px;
            background-color: rgb(255, 255, 255);
            text-decoration: none;
            text-align: center;
            padding: 8px;
            border-radius: 50px;
            box-shadow: 0 0 20px 0 rgba(83, 83, 83, 0.781);
            transition: .5s;
            font-weight: bold;
        }
        #register-cancel{
            color: white;
            text-align: center;
            border-bottom: 2px white solid;
            position: relative;
            left: 23%;
        }
        .background{
            position: fixed;
            top:0px;
            left: 0px;
            height: 80px;
            width: 95px;
            box-shadow: 0 0 50px 0 rgba(53, 53, 53, 0.781);
            border-radius: 0 0 10px 0;
            overflow: hidden
        }
        
        .background > .register-logo #logo1{
            position: relative;
            width: 70px;
            left: 10px;
            top: 5px
        }
        
        #logo2{
            display: none;
        }
        
        #register-login:hover{
            background-color: tomato;
        }
        
        #register-login:active{
            background-color: rgb(255, 255, 255);
        }
        
        .register-left h2,
        .register-right h2{
            text-align: center;
            font-size: 25px;
        }
        .register-left h2{
            color: #b32361;
            position: relative;
            top: 10px;
        }
        .register-right h2{
            color: #ffffff;
        }
        
        .register-left input,
        .register-left select,
        .register-right input,
        .register-right select{
            position: relative;
            display: block;
            align-items: center;
            width: 370px;
            height: 40px;
            left: 40px;
            background-color: transparent;
            border-color: transparent;
            outline:none;
            border-bottom: solid 2px rgb(185, 185, 185);
            font-weight: bold;
        }
        
        .register-left input,
        .register-left select{
            color: #b32361;
        }
        
        .register-right input,
        .register-right select{
            color: white;
        }
        .register-left label,
        .register-right label{
            position: relative;
            top:-30px;
            left: 50px;
            font-weight: bold;
            pointer-events: none;
            transition: .5s;
        }
        
        .register-left label{
            color: rgba(122, 122, 122, 0.863);
        }
        .register-right label{
            color: rgb(221, 206, 206);
        }
        
        input:focus ~ label,
        select:valid ~ label,
        input:not(:placeholder-shown) ~ label{
            top: -60px;
        }
        
        .register-left input:focus,
        .register-left select:focus{
            border-bottom: solid #b32361;
        }
        
        .register-right input:focus,
        .register-right select:focus{
            border-bottom: solid #0be77d;
        }
        
        .register-right button[type='submit']{
            background-color: white;
            position: relative;
            left: 160px;
            width: 150px;
            bottom: 15px;
            color: black;
            font-weight: bold;
            border: transparent 2px solid;
            box-shadow: 0 0 30px 0px rgba(8, 8, 8, 0.781);
            transition: .5s;
            border-radius: 20px;
        }
        .register-right button[type='submit']:hover{
            background-color: #0be77d;
            border: #036b39 2px solid;
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active,
        select:-webkit-autofill:focus{
            transition: background-color 5000s ease-in-out 0s;
        }
        .register-right option { 
            color: white; 
            background-color: #b32361;
        }

        .register-left option { 
            color: rgba(0, 0, 0, 0.547); 
            background-color: white;
        }
}


/* Services page style */

.navbar{
    display: inline;
    box-shadow: 0 0 20px 2px rgba(75, 75, 75, 0.884);
}

#heading{
    display: inline;
    color: rgb(80, 80, 80);
    font-weight: bold;
}
  .column .card:hover {
    transform: scale(1.1);
  }
  a:nth-child(1) .column > .card {
    background: #b32361;
  }
  a:nth-child(2) .column > .card {
    background: #00755d;
  }
  a:nth-child(3) .column > .card {
    background: #8646f2;
  }
  a:nth-child(4) .column > .card {
    background: #913618;
  }
  a:nth-child(5) .column > .card {
    background: #12a3ad;
  }
  a:nth-child(6) .column > .card {
    background: tomato;
  }

  #star{
      color: red;
  }
