{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR Admin</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/appointment_admin.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5>KPR - Principal - Confirmed Appointments</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
        <a href="{% url 'appointment' %}"><i class="fa fa-plus"></i></a>
        <a href="{% url 'appointment_admin' %}">Requested Appointments</a>
    {%endif%}
  </div>
</div>
  </nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert" style="top: 200px;">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>

  <nav class="navbar navbar1">
    <input class="btn btn-primary" type="button" value="Total Appointments: {{ total }}" style="cursor: not-allowed;">
    {% if dd %}
    <form method="GET">
      <input type="submit" name='all_confirmed' value="All Appointments" class="btn btn-primary">
    </form>
    {%endif%}
    <form method="GET">
      <input type="date" name='d' value="{{dd}}" class="btn btn-primary" required>
      <input type="submit" class="btn btn-primary">
    </form>
  </nav>
  <table class="tftable" border="1">
    <tr>
      <th>Date <i style="color: red;" class="fa fa-arrow-down"></i> | Time | Duration</th>
      <th>Full Name</th>
      <th>User Photo</th>
      <th>Department</th>
      <th>Designation</th>
      <th>Status</th>
      <th>Admin Actions</th>
    </tr>
    {% for user_detail in user_details %}
    <tr>
      <td>{{user_detail.appointment_confirmed_date}} <b>|</b> {{user_detail.appointment_confirmed_time}} <b>|</b>
        {{user_detail.appointment_confirmed_duration}} min</td>
      <td>{{user_detail.first_name}} {{user_detail.last_name}}</td>
      <td style="text-align: center;"><a target="_blank" href="{{ user_detail.profile_photo.url }}"><img style="width: 30%;" src="{{ user_detail.profile_photo.url }}" alt="{{user_detail.profile_photo}}"></a></td>
      <td>{{user_detail.department}}</td>
      <td>{{user_detail.designation}}</td>
      <td style="text-align: center;">{{user_detail.status}}</td>
      <td style="text-align: center;">
        <form method="GET">
          <input type="button" name="details" value="&nbsp;Details" data-toggle="modal"
            data-target="#detail{{user_detail.appointment_confirmation_id}}"></input>
          <button style="background-color: red; border: none; height: 25px; border-radius: 5px;" type="submit"
            name="delete_confirmed_appointment" value="{{user_detail.appointment_confirmation_id}}"
            value="Delete">Cancel</button>
        </form>
      </td>

      <div class="modal fade" id="detail{{user_detail.appointment_confirmation_id}}">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{user_detail.first_name}} {{user_detail.last_name}}</h4><br>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <h6><strong>Requested at &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.requested_at}}</h6>
              <h6><strong>Confirmed at &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.confirmed_at}}</h6>
              <hr>
              <h6><strong>Appointment Request
                  ID:&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.appointment_request_id}}</h6>
              <h6><strong>Appointment Confirmation
                  ID:&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.appointment_confirmation_id}}</h6>
              <h6><strong>Appointment Confirmation
                  Date:&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.appointment_confirmed_date}}</h6>
              <h6><strong>Appointment Start
                  Time:&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.appointment_confirmed_time}}</h6>
              <h6><strong>Appointment
                  Duration:&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.appointment_confirmed_duration}}</h6>
              <hr>
              <h6><strong>Sub &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.subject}}</h6>
              <h6><strong>Details &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.details}}</h6>
              <hr>
              <h6><strong>Login ID&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.login_id}}</h6>
              <h6><strong>Gender&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.gender}}</h6>
              <h6><strong>College Email&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.college_email}}</h6>
              <h6><strong>Phone Number&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.phone}}</h6>
              <h6><strong>Department&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.department}}</h6>
              <h6><strong>Designation&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.designation}}</h6>
              {% if user_detail.designation == 'Student' %}
              <h6><strong>Year&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.year}}</h6>
              <h6><strong>Section&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{user_detail.section}}</h6>
              {%endif%}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </tr>
    {%endfor%}
  </table>







</body>

</html>