{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR appointment</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/appointment.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>
</head>

<body>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  </script>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
        <a href="{% url 'my_appointments' %}">Request Status</a>
        {% if user.role == "appointment_admin" or user.role == "super_admin" %}
        <a href="{% url 'appointment_admin' %}"><i class="fa fa-lock"></i> Admin</a>
        {% endif %}

        {%endif%}
      </div>
    </div>
  </nav>
  <div id="container">
    <br>
    <h2>MAKE AN APPOINTMENT</h2>
    <p>From this application, you can make an <strong>APPOINTMENT</strong> with KPREnT Principal</p>
    <form action="" class="needs-validation" method="POST" novalidate>
      {% csrf_token %}
      <div>
        <input type="date" class="form-control" placeholder="Appointment date" name="appointment_date" required>
      </div>

      <div>
        <input type="text" class="form-control" minlength="4" maxlength="30" title="Maximum Length is 30"
          placeholder="Subject *" name="subject" required>
      </div>

      <div>
        <textarea rows="5" minlength="20" maxlength="150" title="Mimimum Length is 20, Maximum Length is 150"
          class="form-control" placeholder="Details *" name="details" required></textarea>
      </div>

      <button type="submit" class="btn btn-primary">CONFIRM</button>
    </form>
  </div>

  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

</body>

</html>


{% endblock %}