{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR-ADMIN (Appointment)</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords"
    content="KPR, KPR college, kprient, kpriet, kpr engineering principal appointment, appointment" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/appointment_admin.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    a:hover {
      text-decoration: none;
    }
    
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <h5>KPR - Principal - Requested Appointments</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div id="nav-buttons">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
        <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
        <a href="{% url 'appointment' %}"><i class="fa fa-plus"></i></a>
        <a href="{% url 'appointments' %}">Confirmed Appointments</a>
    {%endif%}
  </div>
</div>
  </nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert" style="top: 200px;">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>

  <nav class="navbar navbar1">
    {% if total %}
    <input class="btn btn-primary" type="button" value="Total Request: {{ total }}" style="cursor: not-allowed;">
    {%else%}
    <input class="btn btn-primary" type="button" value="Total Request: 0" style="cursor: not-allowed;">
    {%endif%}
    {% if d %}
    <form method="GET">
      <input type="submit" name="all_request" value="All Request" class="btn btn-primary">
    </form>
    {%endif%}
    <form method="GET">
      <input type="date" name='d' value="{{d}}" class="btn btn-primary">
      <input type="submit" class="btn btn-primary">
    </form>
  </nav>

  <table class="tftable" border="1">
    <tr>
      <th>S-No <b>&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;</b> Req ID</th>
      <th>Required Date <i style="color: red;" class="fa fa-arrow-down"></i></th>
      <th>Full Name</th>
      <th>User Photo</th>
      <th>Department</th>
      <th>Designation</th>
      <th>Appointment Subject</th>
      <th>Admin Actions</th>
    </tr>
    {% for request_detail in request_details %}
    <tr>
      <td style="text-align: center;">{{request_detail.no}} <b>&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;</b>
        {{request_detail.id}}</td>
      <td style="text-align: center;">{{request_detail.appointment_required_date}}</td>
      <td>{{request_detail.first_name}} {{request_detail.last_name}}</td>
      <td style="text-align: center;"><a target="_blank" href="{{ request_detail.profile_photo.url }}"><img style="width: 30%;" src="{{ request_detail.profile_photo.url }}" alt="{{request_detail.profile_photo}}"></a></td>
      <td>{{request_detail.department}}</td>
      <td>{{request_detail.designation}}</td>
      <td>{{request_detail.subject}}</td>
      <td style="text-align: center; width: 400px;">
        <form method="POST">
          {% csrf_token %}
          <input type="number" name="delete_id" value="{{request_detail.id}}" style="display: none;"></input>
          <input type="button" name="details" value="&nbsp;Details" data-toggle="modal"
            data-target="#detail{{request_detail.id}}"></input>
          <input type="button" name="confirm" value="Confirm" data-toggle="modal"
            data-target="#confirm{{request_detail.id}}"></input>
          <input type="submit" name="delete" value="Delete"></input>
        </form>
      </td>

      <div class="modal fade" id="confirm{{request_detail.id}}">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{request_detail.first_name}} {{request_detail.last_name}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="POST">
              <div class="modal-body">
                {% csrf_token %}
                <label for="a">Appointment ID: (read only)</label>
                <input type="number" class="form-control" id="a" value="{{request_detail.id}}" name="request_id"
                  readonly>
                <label for="b">Appointment Date:</label>
                <input type="date" class="form-control" id="b" value="{{ today }}" name="confirmed_date" required>
                <label for="c">Appointment Start Time:</label>
                <input type="time" class="form-control" id="c" value="{{time_now}}" name="start_time" required>
                <label for="d">Appointment Time Duration:</label>
                <input type="number" class="form-control" id="d" placeholder="In minutes" name="duration" required>
              </div>
              <button type="submit" class="btn btn-success" style="width: 90%; margin-left: 5%;">Confirm</button><br>
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="detail{{request_detail.id}}">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{request_detail.first_name}} {{request_detail.last_name}}</h4><br>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <h6><strong>Request ID:&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.id}}</h6>
              <h6><strong>Sub:&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.subject}}</h6>
              <h6><strong>Details &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.details}}</h6>
              <h6><strong>Required Date &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.appointment_required_date}}
              </h6>
              <h6><strong>Requested at &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.requested_at}}</h6>
              <hr>
              <h6><strong>Login ID&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.login_id}}</h6>
              <h6><strong>Gender&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.gender}}</h6>
              <h6><strong>College Email&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.college_email}}</h6>
              <h6><strong>Phone Number&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.phone}}</h6>
              <h6><strong>Department&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.department}}</h6>
              <h6><strong>Designation&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.designation}}</h6>
              {% if request_detail.designation == 'Student' %}
              <h6><strong>Year&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.year}}</h6>
              <h6><strong>Section&nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.section}}</h6>
              {%endif%}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </tr>
    {%endfor%}
  </table>

</body>

</html>