{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>KPR-Appointment Status</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is My profile page" />
  <meta name="keywords" content="KPR, KPR college, kprient, kpriet, kpr engineering" />
  <meta name="KPR" content="KPR" />
  <link rel="shortcut icon" href="{% static 'resources/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
  <link rel="stylesheet" href="{% static 'css/appointment_admin.css' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    a:hover {
      text-decoration: none;
    }
   
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{% url 'services' %}"><img src="{% static 'resources/logo.png' %}" alt="KPR logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i id="toggler" class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div id="nav-buttons">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" id="logout"><i class="fa fa-power-off"></i></a>
    <a href="{% url 'services' %}"><i class="fa fa-home"></i></a>
    <a href="{% url 'appointment' %}"><i class="fa fa-plus"></i></a>
    {%endif%}
  </div>
</div>
  </nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" id="{{ message.tags }}-alert">
    <button class="close" href="" data-dismiss="alert"> &nbsp; &nbsp; &nbsp; &nbsp;X</button>
    {{ message }}
  </div>
  {% endfor %}
  <script>
    window.setTimeout(function () {
      $(".alert").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>

  <nav class="navbar navbar1">
    <form>
      <input type="date" name='date' class="btn btn-primary">
      <input type="submit" class="btn btn-primary">
    </form>
    <input type="button" style="cursor: not-allowed;" name='date' value="Selected Date: {{ requested_date }}" class="btn btn-primary">
  </nav>

  <br>
  <table id="appointment-table" class="tftable" border="1">
  
    <tr>
      <th style="background-color: rgb(0, 55, 77); color: white; font-size: 1rem;">Appointment Details</th>
    </tr>

    {% if appointment_details %}
    <tr>
      <th>Appointment Date</th>
      <th>Details</th>
    </tr>
    {% for appointment_detail in appointment_details %}
    <tr>
      <td style="text-align: center;">{{appointment_detail.appointment_date}}</td>
      <td style="text-align: center;"><button data-toggle="modal" data-target="#appointment{{appointment_detail.appointment_id}}">Details</button></td>
    </tr>
    <div class="modal fade" id="appointment{{appointment_detail.appointment_id}}">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Appointment Details</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <h6><strong>Appointment ID &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{appointment_detail.appointment_id}}</h6>
                <hr>
                <h6><strike><strong>Required Date &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{appointment_detail.appointment_date}}</strike></h6>
                <hr>
                <h6><strong>Confirmed At &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{appointment_detail.confirmed_at}}</h6>
                <h6><strong>Appointment Date &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{appointment_detail.appointment_confirmed_date}}</h6>
                <h6><strong>Start Time &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{appointment_detail.appointment_start_time}}</h6>
                <h6><strong>Duration &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{appointment_detail.appointment_duration}}</h6>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
    
          </div>
      </div>
    </div>
    {%endfor%}
    {%endif%}
  </table>
  {%  if not appointment_details %}<table class="tftable" border="1">
    <tr>
      <th>No Data</th>
    </tr>
  </table>{%endif%}
  
  {% if request_details %}
  <br><br>
  <table id="request-table" class="tftable" border="1">
    <tr>
      <th style="background-color: rgb(0, 55, 77); color: white; font-size: 1rem;">Request Details</th>
    </tr>
    <tr>
      <th>Requested Date</th>
      <th>Action</th>
    </tr>
    {% for request_detail in request_details %}
    <tr>
      <td style="text-align: center;">{{request_detail.appointment_date}}</td>
      <td style="text-align: center;">
        <form method="POST">
          {% csrf_token %}
          <input type="number" name="cancel_id" value="{{request_detail.appointment_id}}"
            style="display: none;"></input>
          <input id="x" type="submit" name="delete" value="Cancel"></input>
        </form>
        <button data-toggle="modal" data-target="#request{{request_detail.appointment_id}}">Details</button>
        <div class="modal fade" id="request{{request_detail.appointment_id}}">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">Request Details</h5>
                      <button type="button" style="padding-top: -10px;" class="close" data-dismiss="modal">X</button>
                  </div>
                  <div class="modal-body">
                    <h6><strong>Request ID &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.appointment_id}}</h6>
                    <h6><strong>Request Date &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.appointment_date}}</h6>
                    <h6><strong>Request At &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.requested_at}}</h6>
                    <hr>
                    <h6><strong>Subject &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.subject}}</h6>
                    <h6><strong>Details &nbsp;&nbsp;:&nbsp;&nbsp;</strong>{{request_detail.details}}</h6>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
        
              </div>
          </div>
        </div>
      </td>
    </tr>
    {%endfor%}
    {%endif%}
  </table>
  {%  if not request_details %}<table class="tftable" border="1">
    <tr>
      <th>No Data
    </tr>
  </table>{%endif%}







</body>

</html>