
body {
    background-image: url("/static/images/back3v1.jpg");
    background-size: 125%;
    background-repeat: no-repeat;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button,
  input[type=date]::-webkit-inner-spin-button,
  input[type=date]::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
  .navbar img{
    width: 60px;
}
#star{
    color: red;
}

.navbar-brand span{
    display: none;
}
#nav-buttons{
    width: 100%;
}
#nav-buttons a{
    float: right;
    padding: 5px 20px;
    margin-left: 20px;
    border-left: 3px solid rgb(112, 112, 112);
    border-right: 3px solid rgb(112, 112, 112);
    background-color: white;
    color: #0be77d;
    transition: .5s;
    font-weight: bold;
    box-shadow: 0 0 10px 2px rgb(155, 155, 155);
}
#nav-buttons a:hover{
    box-shadow: 0 0 10px 2px rgb(5, 183, 253);
    border-left: 3px solid rgb(5, 65, 88);
    border-right: 3px solid rgb(5, 65, 88);
    color: rgb(5, 65, 88);
}
#nav-buttons #logout{
    border-left: 3px solid red;
    border-right: 3px solid red;
    color: red;
}
#nav-buttons #logout:hover{
    box-shadow: 0 0 10px 2px red;
    border-left: 3px solid rgb(110, 0, 0);
    border-right: 3px solid rgb(110, 0, 0);
    color: rgb(110, 0, 0);
}
.navbar #logout{
    color: rgb(255, 6, 6);
    
}

#container{
    background-color: rgba(0, 0, 0, 0.7);
    height: 360px;
    width: 700px;
    left: 4.5%;
    border-radius: 20px;
    position: relative;
    top: 20px;
    margin: 0 0 30px 0;
}
#container h2{
    color: #15ccff;
    font-size: 1.6rem;
    /* color: #fb985d */
}

strong{
    color: #15ccff;
}
#container p{
    color: #ff7626
}
#container h2,
#container p{
    display: block;
    text-align: center;

}

#container input{
    background-color: #ffb082;
    font-weight: bold;
    color: rgb(119, 77, 77);
    width: 35%;
    height: 35px;
    float: left;
    padding: 0 20px;
    position: relative;
    left: 70px;
    margin: 10px 0 0 25px;
}
#container textarea{
    background-color: #ffb082;
    color: white;
    font-weight: bold;
    width: 74.5%;
    height: 100px;
    position: relative;
    left: 13%;
    top: 20px;
}

#container button[type='submit']{
    position: relative;
    top: 40px;
    left: 38%;
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: tomato;
    font-weight: bold;
    border-color: tomato;
    transition: 0.5s;
}

#container button[type='submit']:hover{
    background-color: #ffb082;
    color: black;
}


@media only screen and (max-width: 321px){
    body {
        background-image: url("/static/images/back3v.jpg");
        background-repeat: no-repeat;
        background-size: 115%;
        }
      .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    
    #nav-buttons{
        width: 100%;
        float: right;
    }
    #nav-buttons a{
        margin-top: 5px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        background-color: white;
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);
    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #container{
        background-color:rgba(0, 0, 0, 0.349);
        height: 450px;
        width: 95%;
        left: 2%;
        border-radius: 20px;
        position: relative;
        top: 0px;
    }
    #container h2{
        color: #000000;
        font-size: 1.2rem;
        /* color: #fb985d */
    
    }
    #container p{
        color: #c0c0c0;
        font-size: .8rem;
    }
    #container h2,
    #container p{
        display: block;
        text-align: center;
    
    }
    #container input{
        background-color: #e6e6e6;
        font-weight: bold;
        color: rgb(92, 92, 92);
        width: 83%;
        height: 30px;
        padding: 0 20px;
        position: relative;
        top: 10px;
        left: 9%;
        margin: 10px 0 0 0px;
        font-size: 1rem;
    }
    
    #container textarea{
        background-color: #e6e6e6;
        color: white;
        font-weight: bold;
        width: 84%;
        position: relative;
        left: 25px;
        top: 20px;
    }
    
    #container button[type='submit']{
        position: relative;
        top: 60px;
        left: 80px;
        width: 150px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0.329);
        color: rgb(85, 85, 85);
        font-weight: bold;
        color: white;
        border-color: rgb(85, 82, 81);
        transition: 0.5s;
    }
    
    #container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
}

@media only screen and (min-width: 321px) and (max-width: 376px){
    body {
        background-image: url("/static/images/back3v.jpg");
        background-repeat: no-repeat;
        background-size: 120%;
        }
    
      .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    #nav-buttons{
        width: 100%;
    }
    #nav-buttons a{
        margin: 10px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        background-color: white;
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);
    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #container{
        background-color: rgba(0, 0, 0, 0.514);
        height: 470px;
        width: 95%;
        left: 2%;
        border-radius: 20px;
        position: relative;
        top: 10px;
    }
    #container h2{
        color: #15ccff;
        font-size: 1.3rem;
        /* color: #fb985d */
    
    }
    #container p{
        color: #ff7626;
        font-size: .8rem;
        padding: 0 10px;
    }
    #container h2,
    #container p{
        display: block;
        text-align: center;
    
    }
    #container input{
        background-color: #ffb082;
        font-weight: bold;
        color: white;
        width: 88%;
        height: 35px;
        top: 20px;
        left: 7%;
        padding: 0 20px;
        position: relative;
        margin: 20px 0 0 0px;
    }
    
    #container textarea{
        background-color: #ffb082;
        color: white;
        font-weight: bold;
        width: 88%;
        position: relative;
        left: 6.8%;
        top: 40px;
    }
    
    #container button[type='submit']{
        position: relative;
        top: 70px;
        left: 29%;
        width: 150px;
        height: 40px;
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        border-color: tomato;
        transition: 0.5s;
    }
    
    #container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
}

@media only screen and (min-width: 376px) and (max-width: 426px){
    body {
        background-image: url("/static/images/back3v.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    
      .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    
    #nav-buttons a{
        padding: 0;
        margin: 0;
        padding: 5px 20px;
        margin-left: 20px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        background-color: white;
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);
    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #container{
        background-color: rgba(0, 0, 0, 0.562);
        height: 470px;
        width: 90%;
        left: 5.5%;
        border-radius: 20px;
        position: relative;
        top: 20px;
    }
    #container h2{
        color: #15ccff;
        font-size: 1.5rem;
    
    }
    #container p{
        color: #ff7626;
        font-size: 1rem;
    }
    #container h2,
    #container p{
        display: block;
        text-align: center;
    
    }
    #container input{
        background-color: #ffb082;
        font-weight: bold;
        color: white;
        width: 85%;
        height: 35px;
        left: 1%;
        top: 10px;
        position: relative;
        margin: 10px 0 0 25px;
    }
    
    #container textarea{
        background-color: #ffb082;
        color: white;
        font-weight: bold;
        width: 85%;
        position: relative;
        left: 7.5%;
        top: 20px;
    }
    
    #container button[type='submit']{
        position: relative;
        top: 60px;
        left: 31%;
        width: 150px;
        height: 40px;
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        border-color: tomato;
        transition: 0.5s;
    }
    
    #container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
}

@media only screen and (min-width: 427px) and (max-width: 571px){
    body {
        background-image: url("/static/images/back3.jpg");
        background-size: 145%;
        background-repeat: no-repeat;
      }
    
      .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    
    #nav-buttons a{
        padding: 0
        co;
        margin: 0;
        padding: 5px 20px;
        margin-left: 20px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        background-color: white;
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);
    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #container{
        background-color: rgba(0, 0, 0, 0.596);
        height: 360px;
        width: 90%;
        left: 5%;
        border-radius: 20px;
        position: relative;
        top: 0px;
    }
    #container h2{
        color: #15ccff;
        font-size: 1.3rem;
    }
    strong{
        color: #15ccff;
    }
    #container p{
        font-size: 1rem;
        color: #ff7626
    }
    #container h2,
    #container p{
        display: block;
        text-align: center;
    
    }
    #container input{
        background-color: #ffb082;
        font-weight: bold;
        color: white;
        width: 35%;
        height: 35px;
        float: left;
        padding: 0 20px;
        position: relative;
        left: 40px;
        margin: 10px 0 0 25px;
    }
    
    #container textarea{
        background-color: #ffb082;
        color: white;
        font-weight: bold;
        width: 75%;
        height: 100px;
        position: relative;
        left: 12.5%;
        top: 20px;
    }
    
    #container button[type='submit']{
        position: relative;
        top: 40px;
        left: 35%;
        width: 150px;
        height: 40px;
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        border-color: tomato;
        transition: 0.5s;
    }
    
    #container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
}

@media only screen and (min-width: 571) and (max-width: 641px){
    body {
        background-image: url("/static/images/back3.jpg");
        background-size: 145%;
        background-repeat: no-repeat;
      }
    
      .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    
    #nav-buttons a{
        padding: 0;
        margin: 0;
        padding: 5px 20px;
        margin-left: 20px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        background-color: white;
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);
    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #container{
        background-color: rgba(0, 0, 0, 0.596);
        height: 360px;
        width: 90%;
        left: 2%;
        border-radius: 20px;
        position: relative;
        top: 0px;
    }
    #container h2{
        color: #15ccff;
        font-size: 1.3rem;
    }
    strong{
        color: #15ccff;
    }
    #container p{
        font-size: 1rem;
        color: #ff7626
    }
    #container h2,
    #container p{
        display: block;
        text-align: center;
    
    }
    #container input{
        background-color: #ffb082;
        font-weight: bold;
        color: white;
        width: 35%;
        height: 35px;
        float: left;
        padding: 0 20px;
        position: relative;
        left: 40px;
        margin: 10px 0 0 25px;
    }
    
    #container textarea{
        background-color: #ffb082;
        color: white;
        font-weight: bold;
        width: 75%;
        height: 100px;
        position: relative;
        left: 12.5%;
        top: 20px;
    }
    
    #container button[type='submit']{
        position: relative;
        top: 40px;
        left: 35%;
        width: 150px;
        height: 40px;
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        border-color: tomato;
        transition: 0.5s;
    }
    
    #container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
}

@media only screen and (min-width: 641) and (max-width: 769px){
    body {
        background-image: url("/static/images/back3.jpg");
        background-size: 145%;
        background-repeat: no-repeat;
      }
    
      .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    
    #nav-buttons a{
        padding: 0;
        margin: 0;
        padding: 5px 20px;
        margin-left: 20px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        background-color: white;
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);

    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #container{
        background-color: rgba(0, 0, 0, 0.596);
        height: 360px;
        width: 90%;
        left: 2%;
        border-radius: 20px;
        position: relative;
        top: 0px;
    }
    #container h2{
        color: #15ccff;
        font-size: 1.3rem;
    }
    strong{
        color: #15ccff;
    }
    #container p{
        font-size: 1rem;
        color: #ff7626
    }
    #container h2,
    #container p{
        display: block;
        text-align: center;
    
    }
    #container input{
        background-color: #ffb082;
        font-weight: bold;
        color: rgb(119, 77, 77);
        width: 35%;
        height: 35px;
        float: left;
        padding: 0 20px;
        position: relative;
        left: 40px;
        margin: 10px 0 0 25px;
    }
    
    #container textarea{
        background-color: #ffb082;
        color: white;
        font-weight: bold;
        width: 75%;
        height: 100px;
        position: relative;
        left: 12.5%;
        top: 20px;
    }
    
    #container button[type='submit']{
        position: relative;
        top: 40px;
        left: 35%;
        width: 150px;
        height: 40px;
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        border-color: tomato;
        transition: 0.5s;
    }
    
    #container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1025px){
    body {
        background-image: url("/static/images/back3v1.jpg");
        background-size: 125%;
        background-repeat: no-repeat;
      }
    
      .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    
    #nav-buttons a{
        padding: 0;
        margin: 0;
        padding: 5px 20px;
        margin-left: 20px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        background-color: white;
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);
    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #container{
        background-color: rgba(0, 0, 0, 0.7);
        height: 450px;
        width: 700px;
        left: 17%;
        border-radius: 20px;
        position: relative;
        top: 20px;
        margin: 0 0 30px 0;
    }
    #container h2{
        color: #15ccff;
        font-size: 1.6rem;
        /* color: #fb985d */
    }

    strong{
        color: #15ccff;
    }
    #container p{
        color: #ff7626
    }
    #container h2,
    #container p{
        display: block;
        text-align: center;
    
    }
    #container input{
        background-color: #ffb082;
        font-weight: bold;
        color: white;
        width: 35%;
        float: left;
        padding: 0 20px;
        position: relative;
        left: 78px;
        margin: 10px 0 0 25px;
    }
    
    #container textarea{
        background-color: #ffb082;
        color: white;
        font-weight: bold;
        width: 73.5%;
        position: relative;
        left: 15%;
        top: 20px;
    }
    
    #container button[type='submit']{
        position: relative;
        top: 60px;
        left: 38%;
        width: 200px;
        height: 45px;
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        border-color: tomato;
        transition: 0.5s;
    }
    
    #container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
}

@media only screen and (min-width: 1026px) and (max-width: 1441px){
    body {
        background-image: url("/static/images/back3v.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    
      .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    
    #nav-buttons a{
        padding: 0;
        margin: 0;
        padding: 5px 20px;
        margin-left: 20px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        background-color: white;
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);
    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #container{
        background-color: rgba(0, 0, 0, 0.6);
        height: 450px;
        width: 800px;
        left: 22%;
        border-radius: 20px;
        position: relative;
        top: 50px;
    }
    #container h2, strong{
        color: #15ccff;
        /* color: #fb985d */
    
    }
    #container p{
        color: #ff7626
    }
    #container h2,
    #container p{
        display: block;
        text-align: center;
    
    }
    #container input{
        background-color: #ffb082;
        font-weight: bold;
        color: white;
        width: 35%;
        float: left;
        padding: 0 20px;
        position: relative;
        left: 78px;
        margin: 10px 0 0 25px;
    }
    
    #container textarea{
        background-color: #ffb082;
        color: white;
        font-weight: bold;
        width: 73.5%;
        position: relative;
        left: 12.5%;
        top: 20px;
    }
    
    #container button[type='submit']{
        position: relative;
        top: 60px;
        left: 38%;
        width: 200px;
        height: 45px;
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        border-color: tomato;
        transition: 0.5s;
    }
    
    #container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
}

@media only screen and (min-width: 1442px){
    body {
        background-image: url("/static/images/back3v.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    
      .navbar img{
        width: 60px;
    }
    
    .navbar-brand span{
        display: none;
    }
    
    #nav-buttons a{
        padding: 0;
        margin: 0;
        padding: 5px 20px;
        margin-left: 20px;
        border-left: 3px solid rgb(112, 112, 112);
        border-right: 3px solid rgb(112, 112, 112);
        background-color: white;
        color: #0be77d;
        transition: .5s;
        font-weight: bold;
        box-shadow: 0 0 10px 2px rgb(155, 155, 155);
    }
    #nav-buttons a:hover{
        box-shadow: 0 0 10px 2px rgb(5, 183, 253);
        border-left: 3px solid rgb(5, 65, 88);
        border-right: 3px solid rgb(5, 65, 88);
        color: rgb(5, 65, 88);
    }
    #nav-buttons #logout{
        border-left: 3px solid red;
        border-right: 3px solid red;
        color: red;
    }
    #nav-buttons #logout:hover{
        box-shadow: 0 0 10px 2px red;
        border-left: 3px solid rgb(110, 0, 0);
        border-right: 3px solid rgb(110, 0, 0);
        color: rgb(110, 0, 0);
    }
    
    #container{
        background-color: rgb(255, 255, 255);
        height: 450px;
        width: 800px;
        left: 35%;
        border-radius: 20px;
        position: relative;
        top: 50px;
    }
    #container h2, strong{
        color: #15ccff;
        /* color: #fb985d */
    
    }
    #container p{
        color: #ff7626
    }
    #container h2,
    #container p{
        display: block;
        text-align: center;
    
    }
    #container input{
        background-color: #ffb082;
        font-weight: bold;
        color: white;
        width: 35%;
        float: left;
        padding: 0 20px;
        position: relative;
        left: 78px;
        margin: 10px 0 0 25px;
    }
    
    #container textarea{
        background-color: #ffb082;
        color: white;
        font-weight: bold;
        width: 73.5%;
        position: relative;
        left: 12.5%;
        top: 20px;
    }
    
    #container button[type='submit']{
        position: relative;
        top: 60px;
        left: 38%;
        width: 200px;
        height: 45px;
        background-color: transparent;
        color: tomato;
        font-weight: bold;
        border-color: tomato;
        transition: 0.5s;
    }
    
    #container button[type='submit']:hover{
        background-color: #ffb082;
        color: black;
    }
}
